@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
body{
    font-family: 'Tajawal', sans-serif !important;
    font-size: 15px;
}
ul.main-menu li a, ul.social-icons li a, .sector-icon h2, .intro-readmore, .sector-short-info-readmore, .aboutpage-icon-box p {
    font-size: 15px !important;
}
.short-intro-content p, .sector-short-info p{
    font-size: 17px !important;
}
.get-in-touch p, .get-in-touch ul li, .footer-menu ul li, .footer-menu ul li a {
    font-size: 14px;
    line-height: 22px;
}
.footer-menu ul {
    padding-right: 0;
    padding-top: 20px;
}
.homepage-banner, .home-banner-content {
    transform: unset;
}
/*.arb .home-banner-content{
    transform: scaleX(1);
}*/
.home-banner-content {
    max-width: unset;
}
.home-banner-content h1{
    max-width: 450px;
}
.home-banner-content h1, .white-banner-content h1, .has-description p{
    font-family: 'Tajawal', sans-serif !important;
}
.aboutpage-icon-box h2:after{
    left: unset;
    right: 0;
}
.arb .real-estate-bg{
    background-image: url('../images/sector-border-ar.png');
    background-repeat: no-repeat;
    background-position: 100% 140px;
}
.border-detailed-content {
    margin-right: auto;
    margin-left: 0;
}
.top-of-page p {
    margin-right: 0;
    margin-left: 10px;
}
.article-name p {
    padding-left: 0;
    padding-right: 30px;
}
.al-murjan-search .fa-search {
    right: unset;
    left: 20px;
}
.contact-social-icons a {
    margin-right: 0;
    margin-left: 25px;
}
/*.owl-carousel .owl-stage-outer{
    direction: ltr;
}*/
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    float: left;
}
.searchBox .form-group i {
    top: 8px;
    right: unset;
    left: 10px;
}

/*.news-slider .owl-carousel .owl-stage-outer{
    direction: rtl;
}*/
.news-slider .owl-item {
    margin-right:20px;
}

.al-murjan-search button:after {
    width: 70px;
}


/*history*/

.timeline .timeline-items .timeline-item.inverted:nth-of-type(2n+1),
.timeline .timeline-items .timeline-item:nth-of-type(2n+1){
    background: transparent;
    /*text-align: right;*/
}
.timeline .timeline-items .timeline-item.inverted:nth-of-type(2n+1){
    text-align: left;
    width: 100%;
    left: 19px;
}
.timeline .timeline-items .timeline-item::before,
.timeline .timeline-items .timeline-item.inverted:nth-of-type(2n+1)::before,
.timeline .timeline-items .timeline-item::after,
.timeline::before,
.timeline .timeline-items .timeline-item.inverted::after{
    content: none;
}
.timeline .timeline-items .timeline-item:nth-of-type(2n+1) h2{
    text-align: left;
    width: auto;
    background: transparent;
}
.timeline .timeline-items .timeline-item.inverted:nth-of-type(2n+1) h2{
    text-align: right;
}
.timeline .timeline-items .timeline-item:nth-of-type(2n+1) h2:after{
    right: auto;
    left: 0;
}
.timeline .timeline-items .timeline-item.inverted:nth-of-type(2n+1) h2:after{
    right: 0;
    left: 0;
}
.timeline-picture{
    left: 350px;
    top: 7px;
}
.inverted .timeline-picture{
    left: 668px;
    top: 7px;
}
.timeline .timeline-items .timeline-item:nth-of-type(2n+1){
    width: 100%;
    padding-bottom: 5px;
}
.timeline .timeline-items .timeline-item:nth-of-type(2n+1) .div-on-left{
    width: 45%;
}
.div-on-left .timeline-time{
    width: 95%;
    margin-left: auto;
}
.time-line-content-one-box{
    position: relative;
}
.timeline .timeline-arrow-content h2{
    width: auto;
    position: absolute;
    background: var(--BlueColor);
    left: auto;
    right: 18.3%;
    transform: translateX(-100%);
    margin-left: 0;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 30px;
}
.timeline .timeline-arrow-content h2:before{
    content: '';
    position: absolute;
    right: auto;
    left: -90px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--BlueColor);
}
.timeline .timeline-arrow-content h2:after{
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 39px;
    right: auto;
    left: -38px;
    border-right: 35px solid var(--BlueColor);
    border-left: none;
    border-top: 34px solid transparent;
    border-bottom: 35px solid transparent;
}
.timeline .timeline-items .timeline-item{
    padding: 0;
}

.timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2 {
    left: 45%;
    right: auto;
}
.timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2:before{
    right: -90px;
    left: auto;
}
.timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2:after{
    right: -38px;
    left: auto;
    border-left: 35px solid var(--BlueColor);
    border-right: none;
}
.family-values h2:after {
    left: auto;
    right: 0;
}
.div-on-right .timeline-time {
    max-width: 45%;
    margin-right: auto;
    text-align: right;
}
.family-values h2:after {
    width: 100px;
}
.pride-number-heading h2 {
    font-size: 36px;
}
.des-spacing-right{
    padding-right: 0;
    padding-left: 70px;
}
.sectors-tab-nav .owl-prev {
    transform: translateY(-50%) rotate(180deg);
    right: -21px;
    left: auto;
}
.sectors-tab-nav .owl-next {
    transform: translateY(-50%) rotate(180deg);
    left: -21px;
    right: auto;
}
/*.banner-quote,
.white-banner-content{
    margin-right: auto;
}*/
.owl-carousel-companies.owl-carousel .owl-nav button.owl-prev {
    left: unset;
    right: -50px;
    transform: translateY(-50%) rotate(180deg);
}
.owl-carousel-companies.owl-carousel .owl-nav button.owl-next {
    right: unset;
    left: -50px;
    transform: translateY(-50%) rotate(180deg);
}
@media screen and (max-width: 1399px) {
    .timeline .timeline-arrow-content h2 {
        right: 13%;
    }
    .timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2 {
        left: 44%;
    }
    .inverted .timeline-picture {
        left: 588px;
    }
    .timeline-picture {
        left: 257px;
    }
}
@media screen and (max-width: 1199px) {
    .timeline .timeline-arrow-content h2 {
        right: 6%;
    }
    .timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2 {
        left: 43%;
    }
    .inverted .timeline-picture {
        left: 489px;
    }
    .timeline-picture {
        left: 175px;
    }
}
@media screen and (max-width: 991px) {
    .timeline .timeline-arrow-content h2 {
        right: -10%;
    }
    .timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2 {
        left: 40.5%;
    }
    .inverted .timeline-picture {
        left: 369px;
    }
    .timeline-picture {
        left: 58px;
    }
}
@media screen and (max-width: 767px) {
    .mobile-timeline-picture {
        right: auto;
        left: 0;
    }
    .mobile-timeline-head h2 {
        text-align: right;
    }
    .timeline-time h2:after {
        left: auto;
        right: 0;
    }
}
@media screen and (max-width: 575px) {
    .sectors-tab-nav .owl-prev {
        right: 0;
    }
    .sectors-tab-nav .owl-next {
        left: 0;
    }
    .sector-short-info p {
        font-size: 13px !important;
    }
}