@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@font-face {
    font-family: 'futuraMediumBT';
    src: url('../custom-fonts/futuramediumbt/futuraMediumBT.eot');
    src: local('futuraMediumBT'), url('../custom-fonts/futuramediumbt/futuraMediumBT.woff') format('woff'), url('../custom-fonts/futuramediumbt/futuraMediumBT.ttf') format('truetype');
}

:root{
    --BlueColor: #0D4876;
    --BodyGrayColor: #F5F5F5;
    --YellowColor: #BEA360;
    --DefaultFont:'Montserrat', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, p, span, a {
    text-transform: uppercase !important;
}
body{
    font-family: var(--DefaultFont);
    font-size: 15px;
    background-image: url("../images/body-bg.png");
    background-color: #E8E8E8;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.PrimaryColor{
    color: var(--BlueColor);
}
a{
    text-decoration: none !important;
}
.header-z-index{
    z-index: 10;
}
.homepage-banner{
    min-height: 741px;
    background-size: contain;
    display: flex;
    align-items: center;
}
ul.main-menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.main-menu li a, ul.social-icons li a{
    font-weight: 700;
    font-size: 13px;
    color: var(--BlueColor);
    text-transform: uppercase;
    transition: ease all 0.2s;
}
ul.main-menu li a:hover, ul.social-icons li a:hover{
    color: #032740;
}
.home ul.main-menu li a, .home ul.social-icons li a{
    color: #fff;
}
.home ul.main-menu li a:hover, .home ul.social-icons li a:hover{
    color: #032740;
}
.sticky ul.main-menu li a, .sticky ul.social-icons li a{
    color: var(--BlueColor);
}
ul.social-icons{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
ul.social-icons li{
    margin-right: 20px;
}
ul.social-icons li a{
    font-size: 15px;
}
.home-banner-content{
    max-width: 450px;
}
.home-banner-content h1{
    text-transform: uppercase;
    font-family: 'futuraMediumBT';
    font-size: 60px;
    font-weight: 400;
    color: var(--BlueColor);
}
.has-second-color span{
  color: var(--YellowColor);
}
.short-intro, .our-companies, .blue-footer{
    padding: 43px 0;
}
.short-intro-heading h2{
    text-transform: uppercase;
    max-width: 250px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--BlueColor);
    margin-bottom: 30px;
}
.short-intro-content p{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: var(--BlueColor);
    text-transform: uppercase;
}
.short-intro-readmore{
    margin-top: 40px;
    margin-bottom: 40px;
}
.intro-readmore, .sector-short-info-readmore{
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    border: 1px solid var(--BlueColor);
    border-radius: 50px;
    color: var(--BlueColor);
    text-transform: uppercase;
    transition: ease all 0.2s;
}
.intro-readmore:hover, .sector-short-info-readmore:hover{
    border: 1px solid var(--YellowColor);
    color: var(--YellowColor);
    background-color: transparent;
}
.explore-sectors{
    background-color: var(--BlueColor);
    min-height: 317px;
    display: flex;
    align-items: center;
}
.sector-short-info{
    max-width: 310px;
}
.sector-short-info p{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
}
.sector-short-info-readmore{
    border: 1px solid var(--YellowColor);
    color: white;
}
.sector-icon{
    margin-bottom: 25px;
    text-align: center;
}
.sector-icon img{
    /*width: 50px;*/
    height: 50px;
}
.sector-icon h2{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: white;
    margin-top: 15px;
}
.pride-numbers{
    min-height: 435px;
    padding: 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.pride-number-heading {
    max-width: 260px;
}
.pride-number-heading h2{
    font-weight: 600;
    font-size: 27px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
}
.numbers-spacing{
    padding-right: 120px;
    padding-left: 120px;
}
.p-numbers{
    max-width: 170px;
    margin: 0 auto;
    padding-top: 50px;
}
.p-numbers h2{
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: white;
}
.p-numbers h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-transform: uppercase;
}
.companies-slider,
.news-slider {
    position: relative;
}
.companies-slider .owl-carousel .owl-nav, .sectors-slider .owl-carousel .owl-nav,
.news-slider .owl-carousel .owl-nav, .sectors-slider .owl-carousel .owl-nav {
    position: absolute;
    top: 35%;
    width: 100%;
}
.news-slider .owl-carousel .owl-nav {
    top: 50%;
    transform: translateY(-50%);
}
.companies-slider .owl-carousel .owl-nav button.owl-next, .sectors-slider .owl-carousel .owl-nav button.owl-next,
.news-slider .owl-carousel .owl-nav button.owl-next, .sectors-slider .owl-carousel .owl-nav button.owl-next{
    float: right;
}
.news-slider{
    max-width: 650px;
}

.news-slider .owl-stage {
    display: flex;
    align-items: center;
}
.news-slider .article-name:before {
    top: 50%;
    transform: translateY(-50%);
}
.news-slider .owl-stage-outer {
    padding-left: 15px;
    z-index: 1;
}
.news-slider .owl-nav button.owl-prev{
    position: absolute;
    left:-28px;
    top: 50%;
    transform: translateY(-50%);
}
.news-slider .owl-nav button.owl-next{
    position: absolute;
    right: -28px;
    top: 50%;
    transform: translateY(-50%);
}
.news-slider .owl-nav .owl-prev img,
.news-slider .owl-nav .owl-next img{
    width:10px
}

.blue-footer{
    min-height: 260px;
    background-color: var(--BlueColor);
}
.get-in-touch h2{
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    color: var(--YellowColor);
    text-transform: uppercase;
    margin-bottom: 30px;
}
.get-in-touch p{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}
.get-in-touch{
    max-width: 322px;
}
.get-in-touch ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.get-in-touch ul li{
    color: white;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.footer-menu{
    position: relative;
    margin-top: 65px;
}
.footer-menu:before{
    content: '';
    position: absolute;
    background-color: var(--YellowColor);
    height: 3px;
    width: 173px;
    top: 0;
}
.footer-menu ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 20px;
    margin: 0;
    column-count: 2;
}
.footer-menu ul li, .footer-menu ul li a{
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    transition: ease all 0.2s;
}
.footer-menu ul li a:hover{
    color: var(--YellowColor);
}
.social-links-footer{

}
.social-links-footer ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: inline-flex;
}
.social-links-footer ul li a{
    color: var(--YellowColor);
    transition: ease all 0.2s;
}
.social-links-footer ul li i {
    margin-right: 5px;
    border: 2px solid var(--YellowColor);
    border-radius: 50%;
    width: 27px;
    height: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links-footer ul li i.fa-twitter:hover{
    color: #00acee;
    border-color: #00acee;
}
.social-links-footer ul li i.fa-linkedin:hover{
    color:#0072b1;
    border-color: #0072b1;
}
.social-links-footer ul li i.fa-instagram:hover{
    color: #8134af;
    border-color: #8134af;
}
.social-links-footer ul li i.fa-youtube:hover{
    color: #FF0000;
    border-color: #FF0000;
}
.sticky{
    position: fixed !important;
    background-color: #E8E8E8;
    transition: ease all 0.3s;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.1);
}
.sticky .murjan-logo{
    max-width: 40%;
    transition: ease all 0.3s;
}
.about-banner{
    min-height: 623px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    /*animation: banner_zoom_in_out 5s infinite;*/
    /*animation: animatedBackground 30s linear infinite;*/
}
.white-banner-content h1 {
    color: white;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    font-family: 'futuraMediumBT';
}

.about-short-message .short-intro-content p{
    margin-bottom: 0;
}
.about-short-message .short-intro-readmore {
    margin-top: 20px;
    margin-bottom: 70px;
}
.aboutpage-icon-box h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--YellowColor);
    margin-top: 5px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.aboutpage-icon-box{
    position: relative;
    padding:20px;
}
.box-icon{
    width: 56px;
    height: 61px;
    display: flex;
    align-items: center;
}
.aboutpage-icon-box h2:after{
    content: '';
    position: absolute;
    background-color: var(--YellowColor);
    height: 2px;
    width: 225px;
    bottom: 0;
    left: 0;
}
.aboutpage-icon-box p{
    font-weight: 600;
    font-size: 13px;
    line-height: 26px;
    color: var(--BlueColor);
    text-transform: uppercase;
}
.chairman-message{
    padding: 50px 0;
    background-color: var(--BlueColor);
    /*min-height: 650px;*/
}
.message-heading{
    max-width: 300px;
}
.message-heading h2{
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.chairman-content{
    max-width: 95%;
    margin-right: 0;
    margin-left: auto;
}
.chairman-content p{
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.09em;
    text-transform: capitalize;
    color: white;
}
.chairman-content h2{
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.09em;
    color: white;
}
.our-values{
    padding: 50px 0;
}
.values-heading{
    max-width: 160px;
}
.values-heading h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--BlueColor);
}
.value-icon{
    /*width: 55px;
    height: 55px;*/
    display: flex;
    align-items: center;
    margin: 0 auto 20px;
    justify-content: center;
    min-height: 100px;
}
.value-content{
    text-align: center;
    margin-bottom: 60px;
}
.value-icon img{
    width: 70px;
}
.value-content h2{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #6C6C6C;
}
.our-values .value-content h2{
    letter-spacing: 1.5px;
}
/*.aboutpage-short-intro:hover{
    border: 2px solid var(--YellowColor);
}*/
.has-blue-color span{
    color: var(--BlueColor);
}
.sectors-tab-nav{
    background-color: #B0B0B0;
    min-height: 70px;
    display: flex;align-items: center;
}
.sectors-tab-nav .nav{
    justify-content: space-between;
}
.sectors-tab-nav .nav-tabs {
    border-bottom: 0;
}
.sectors-tab-nav .nav-tabs .nav-link{
    border: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: white;
}
.sectors-tab-nav .nav-tabs .nav-item.show .nav-link, .sectors-tab-nav .nav-tabs .nav-link.active{
    background-color: transparent !important;
    font-weight: 600;
    color: var(--BlueColor);
}
#nav-tabContent{
    padding: 50px 0;
}
.real-estate-bg{
    background-image: url("../images/sector-border.svg");
    background-repeat: no-repeat;
    background-position: 0% 140px;
}
.content-within-border{
    max-width: 475px;
    margin-top: 100px;
}
.content-within-border h1{
    /*font-family: 'futuraMediumBT';*/
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 49px;
    text-transform: uppercase;
    color: var(--BlueColor);
}
.border-detailed-content{
    border: 2px solid var(--YellowColor);
    background: #E8E8E8;
    padding: 55px 40px 15px 40px;
    max-width: 625px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 80px;
}
.border-detailed-content p{
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--BlueColor);
    margin-bottom: 40px;
}
.top-of-page-margin{
    margin-top: 80px;
    margin-bottom: 30px;
}
.sector-content h2{
    font-weight: 500;
    font-size: 32px;
    line-height: 54px;
    text-transform: uppercase;
    color: var(--YellowColor);
    margin-bottom: 20px;
}
.sector-content p{
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--BlueColor);
}
.sector-logo-image{
    text-align: center;
}
.sector-content{
    max-width: 600px;
}
.top-of-page{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-of-page p{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: var(--BlueColor);
    text-transform: uppercase;
    margin-bottom: 0;
    margin-right: 10px;
}
.sector-logo-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E5E5;
    border: 1px solid #B0B0B0;
    padding: 5px;
    min-height: 125px;
    margin-bottom: 10px;
}

.sectors-footer-slider{
    background: rgb(213 213 213 / 50%);
    padding: 50px 0;
}
.sectors-slider{
    margin-top: 50px;
}
.sectors-slider-heading{
    max-width: 170px;
}
.sectors-slider-heading h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: var(--BlueColor);
}
.sector-slide{
    height: 50px;
    display: flex;
}
.owl-carousel .owl-item img{
    width: unset;
}
.sector-slide img{
    margin: 0 auto;
}
.sectors-slider h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}
.space-between-boxes{
    justify-content: space-between;
}
.close-modal{
    position: absolute;
    top: 20px;
    right: 20px;
}
.sector-modal-video{
    border: 1px solid var(--BlueColor);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.modal-video-btn{
    position: absolute;
}
.modal-sector-content h2{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--BlueColor);
}
.modal-sector-content p{
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    color: var(--BlueColor);
}
.modal-images{
    column-count: 2;
    column-gap: 5px;
}
figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 4px;
    break-inside: avoid;
}

figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
}

figure a {
    color: black;
    text-decoration: none;
}

figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255,255,255,.5);
    padding: .2em .5em;
    justify-self: start;
}
.other-sector-detail{
    padding: 100px 0;
}
.sector-link a{
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--YellowColor);
}
.sector-link a:hover{
    text-decoration: underline !important;
    color: var(--YellowColor);
}
.sector-margin-bottom{
    margin-bottom: 130px;
}
.heading-float-right{
    float: right;
    padding-top: 180px;
}
.has-description p{
    font-family: 'futuraMediumBT';
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: white;
    max-width: 470px;
}
.latest-articles-search{
    padding: 50px 0;
}
.article-heading{
    margin-bottom: 18px;
}
.article-heading h2{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--YellowColor);
}
.al-murjan-articles, .al-murjan-search{
    border: 1px solid var(--BlueColor);
    padding: 0 30px;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-name:before{
    content: '';
    position: absolute;
    background-color: var(--YellowColor);
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.article-name{

}
.article-name p{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--BlueColor);
    padding-left: 30px;
    margin-bottom: 0;
}
.al-murjan-search{
    position: relative;
    display: flex;
    justify-content: space-between;

}
.al-murjan-search input{
    border: 0;
    min-height: 60px;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    border-radius: 8px;
}
.al-murjan-search input:focus{
    box-shadow: 0 !important;
    border: 0;
}
.al-murjan-search .btn-check:focus+.btn-primary, .al-murjan-search .btn-primary:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important;
    color: var(--YellowColor);
}
.al-murjan-search .search-btn-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #bea360;
    font-size: 20px;
    cursor: pointer;
    border-left: 1px solid #d8d8d8;
    padding: 4px 4px 4px 20px;
}
.al-murjan-search button{
    background: transparent;
    border: 0;
    color: var(--YellowColor);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    position: relative;
}
/*.al-murjan-search button:after{
    content: '';
    position: absolute;
    background: var(--YellowColor);
    height: 3px;
    width: 85px;
    bottom: 0;
    left: 13px;
}*/
/*.al-murjan-search button:hover{
    background: transparent;
    border: 0;
    color: var(--YellowColor);
}*/
.search-box{
    position: relative;
    width: 100%;
    padding-right: 60px;
    background: #fff;
    border-radius: 8px;
}
.al-murjan-search .form-control:focus {
    box-shadow: none !important;
}
.news-thumb{
    padding-bottom: 80px;
}
.news-thumb h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--BlueColor);
    margin-top: 25px;
}
.news-thumb h2{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: var(--BlueColor);
    margin-top: 10px;
}
.news-detail-modal{
    padding: 90px 70px;
}
.news-detail-modal h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: var(--BlueColor);
    padding-bottom: 20px;
}
.news-detail-modal-image{
    padding-top: 30px;
    /*max-height: 365px;
    overflow: hidden;*/
}
.news-detail-modal-image img{
    width: 100%;
}
.news-detail-modal-desc iframe{
    width: 100% !important;
}
.csr-banner-heading{
    max-width: 600px;
}
.image-heading{
    padding: 40px;
    border: 3px solid var(--YellowColor);
}
.csr-wrapper, .contact-section{
    padding: 50px 0;
}
.image-heading h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: var(--BlueColor);
    text-transform: uppercase;
    margin-bottom: 30px;
}
.csr-block{
    margin-bottom: 70px;
    position: relative;
}
.des-spacing-left{
    padding-left: 70px;
}
.des-spacing-right{
    padding-right: 70px;
}
.csr-description h2{
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: var(--YellowColor);
    text-transform: uppercase;
    max-width: 450px;
}
.csr-description p{
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--BlueColor);
}
.csr-description:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 65px;
    background-color: var(--YellowColor);
    top: 0;
}
.contact-heading-padding{
    /*padding-top: 180px;*/
}
.contact-heading{
    margin-bottom: 45px;
}
.contact-heading h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: var(--YellowColor);
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 22px;
}
.contact-heading h2:before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 104px;
    height: 2px;
    background: #BEA360;
}
.contact-heading h3{
    font-weight: 600;
    font-size: 24px;
    color: #0D4876;
}
.submitbtn{
    padding: 10px 40px;
    width: 100%;
    background: #BEA360;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    border-color: #BEA360;
}
.contact-form input{
    background: #F4F4F4;
    border-radius: 5px;
    border: 0;
    min-height: 46px;
    color: var(--BlueColor) !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.input-wrap{
    position: relative;
}
.input-wrap label{
    font-weight: 500;
    font-size: 14px;
    color: #0D4876;
    margin-bottom: 10px;
    line-height: normal;
}
.input-wrap label.error{
    color: red;
}
/*.input-wrap:after{
    content: '';
    position: absolute;
    height: 3px;
    width: 95%;
    background-color: var(--YellowColor);
    bottom: -20px;
    right: 0;
}*/
.contact-form textarea{
    background: #F4F4F4;
    border-radius: 5px;
    border: 0;
    color: var(--BlueColor) !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 20px 12px;
}
.contact-form input::placeholder, .contact-form textarea::placeholder{
    color: var(--BlueColor) !important;
}
.form-control:focus {
    border-color: unset;
    outline: 0;
    box-shadow: none;
    background: #F4F4F4;
}
.error {
    color:red;
    padding-top: 5px;
}
.contact-details{
    max-width: 450px;
}
.contact-details h2{
    font-weight: 600;
    font-size: 16px;
    color: #0D4876;
}
.contact-details p, .contact-details p a{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0D4876;
    margin-bottom: 14px;
}
.contact-social-icons{
    margin-top: 45px;
}
.contact-social-icons a{
    color: var(--BlueColor);
    margin-right: 25px;
    transition: ease all 0.3s;
}
.contact-social-icons a:hover{
    color: var(--YellowColor);
}

.timeline {
    position: relative;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    color: #ffffff;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -1px;
    border-right: 5px solid var(--BlueColor);
    height: 100%;
    display: block;
}

.timeline-row {
   /* padding-left: 50%;
    position: relative;
    margin-bottom: 200px;*/
    padding-right: 50%;
    position: relative;
    margin-bottom: 200px;
    margin-left: 0;
}

.timeline-row .timeline-time {
    /*position: absolute;*/
    position: relative;
    /*right: 50%;*/
    top: 31px;
    text-align: right;
    color: #000000;
    font-size: 1.5rem;
    margin-right: 50px;
}
.timeline-row:nth-child(even) h2:after{
    right: 0;
    left: unset;
}
.timeline-row .timeline-time small {
    display: block;
    font-size: .8rem;
    color: #8796af;
}

.timeline-row .timeline-content {
    /*position: relative;
    padding: 20px 30px;
    border-radius: 0;*/
    position: absolute;
    padding: 20px 30px;
    border-radius: 0;
    top: -80px;
    left: 412px;
}

.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 39px;
}

.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 8px;
    right: -80px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: var(--BlueColor);
}

.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}

.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}

.timeline-row .timeline-content i {
    font-size: 2rem;
    color: #ffffff;
    line-height: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    display: inline-block;
}

.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
    margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {
    background-color: var(--BlueColor);
    margin-left: 280px;
    /*text-align: left;*/
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    text-transform: uppercase;
    min-width: 170px;
}

.timeline-row:nth-child(even) .timeline-content:after {
    left: -39px;
    border-right: 18px solid var(--BlueColor);
    border-top: 34px solid transparent;
    border-bottom: 35px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
    left: -80px;
    right: initial;
}

.timeline-row:nth-child(odd) {
    /*padding-left: 33%;
    padding-right: 50%;*/
    padding-left: 50%;
    padding-right: 0;
}

.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    /*left: 50%;*/
    text-align: left;
    margin-right: 0;
    margin-left: 50px;
    margin-top: 80px;
}

.timeline-row:nth-child(odd) .timeline-content {
    background-color: var(--BlueColor);
    margin-right: 55px;
    margin-left: 0;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    text-transform: uppercase;
    min-width: 170px;
}

.timeline-row:nth-child(odd) .timeline-content:after {
    right: -39px;
    border-left: 18px solid var(--BlueColor);
    border-top: 34px solid transparent;
    border-bottom: 35px solid transparent;
}
.timeline-time h2, .family-values h2{
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--YellowColor);
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 50px;
}
.timeline-time h2:after, .family-values h2:after{
    content: '';
    position: absolute;
    background-color: var(--YellowColor);
    height: 4px;
    width: 140px;
    bottom: 0;
    left: 0;
}
.timeline-time p{
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--BlueColor);
}
.timeline-picture{
    border: 2px solid #0D4876;
    padding: 15px;
    position: absolute;
    top: 50px;
    left:350px;
}
.timeline-row:nth-child(even) .timeline-picture{
    margin-left: 345px;
}
.family-values p{
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--BlueColor);
    margin-bottom: 5px;
}
.banner-quote,
.white-banner-content{
    max-width: 740px;
    text-align: right;
    z-index: 2;
    margin-left: auto;
}
.banner-quote p{
    font-family: 'Tajawal', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;
    max-width: 450px;
    margin-right: 0;
    margin-left: auto;
    color: var(--BlueColor);
    direction: rtl;
}
.quote-bg{
    background-image: url("../images/quote.png");
    background-repeat: no-repeat;
    background-position: center;
}
.yellow-our h1{
    color: var(--YellowColor);
}
ul.mobile-menu{
    list-style-type: none;
    padding: 0;
}
ul.mobile-menu li{
    border-bottom: 1px solid var(--YellowColor);
    padding: 10px 20px;
    background-image: url('../images/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 0% 50%;
}
ul.mobile-menu li, ul.mobile-menu li a{
    font-weight: 700;
    font-size: 16px;
    color: var(--BlueColor);
    text-transform: uppercase;
    transition: ease all 0.2s;
}
.offcanvas h5{
    color: var(--YellowColor);
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.offcanvas-header {
    padding: 30px 30px 10px 30px;
}
.offcanvas-body{
    padding: 0 30px;
}
.offcanvas{
    background-image: url("../images/body-bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.searchBox .form-group {
    position: relative;
    margin-top: 40px;
    z-index: 2;
}
.searchBox .form-group i {
    position: absolute;
    top: 10px;
    right: 10px;
}
.companies-slider .item>img{
    max-height: 120px;
    margin: 0 auto;
}
.companies-slider {
    padding-left: 50px;
    padding-right: 50px;
}
.companies-slider .owl-carousel .owl-nav {
    position: unset;
}
.owl-carousel-companies.owl-carousel .owl-nav button.owl-prev,
.owl-carousel-companies.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-carousel-companies.owl-carousel .owl-nav button.owl-prev {
    left: -50px;
}
.owl-carousel-companies.owl-carousel .owl-nav button.owl-next {
    right: -50px;
}
.events-popup-slider .owl-item img{
    width: auto;
    /*max-width: 550px;*/
    margin-left: auto;
    margin-right: auto;
}
.events-popup-slider .owl-nav{
    display: flex;
    justify-content: space-between;
}
.events-popup-slider .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.events-popup-slider .owl-nav button.owl-next{
    right: 0;
}
.events-popup-slider .owl-nav button.owl-prev{
    left: 0;
}
.new-board-of-directors{
    padding: 80px 0 34px;
    background: rgb(213 213 213 / 50%);
}
.new-board-of-directors .short-intro-heading h2 {
    max-width: inherit;
    font-weight: 600;
    margin-bottom: 45px;
    font-size: 35px;
}
.new-board-of-directors .has-second-color span{
    display: block;
}
.board-of-directors-image{
    margin-bottom: 18px;
}
.board-of-directors-box h2{
    font-size: 25px;
    font-weight: 600;
    color: #0D4876;
    margin-bottom: 12px;
}
.board-of-directors-box h3{
    font-weight: 600;
    font-size: 20px;
    color: #BEA360;
    margin-bottom: 0;
}
.board-of-directors-modal{

}
.modal-close-btn{
    cursor: pointer;
}
.board-of-directors-modal .modal-content{
    padding: 35px;
}
.board-of-directors-modal-heading{
    border-bottom: 5px solid #BEA360;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.board-of-directors-modal-heading h2{
    font-weight: 600;
    font-size: 30px;
    color: #0D4876;
    margin-bottom: 10px;
}
.board-of-directors-modal-heading h3{
    font-weight: 600;
    font-size: 20px;
    color: #BEA360;
}
.bord-of-director-modal-content p{
    font-weight: 400;
    font-size: 15px;
    color: #0D4876;
    margin-bottom: 0;
}
.chairman-title-box h4{
    color: #fff;
    margin-bottom: 18px;
    margin-top: 18px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
.contact-small-box{
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}
.contact-form.contact-small-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.13);
    padding: 30px;
    margin-bottom: 70px;
}
.contact-us-icons i{
    color: #0D4876;
    font-size: 24px;
    margin-bottom: 16px;
}

.bg-video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    /*background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;*/
}
.bg-video-wrap video {
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}
.bg-video-wrap .overlay {
    width: 100%;
    height: 99.5%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(13, 72, 118, 0.4) 0%, rgba(236, 236, 236, 0) 100%);
    background-size: 3px 3px;
    z-index: 2;
}
.bg-video-wrap .video-content {
    position: absolute;
    width: 100%;
    z-index: 9;
    top: 55%;
    transform: translateY(-50%);
}
.home .bg-video-wrap {
    height: 100vh;
}
.home .bg-video-wrap .video-content {
    top: 50%;
}

.bg-video-wrap .home-banner-content h1{
    color: #fff;
}



.inner-banner-main-box {
    overflow: hidden;
}
.slider-main-box {
    position: relative;
}
.slider-image-main-box{
    overflow: hidden;
    min-height: 623px;
}

.about-banner {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 10s ease-in infinite;
    animation: zoomin 10s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.slider-image-main-box .slider-image{
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 10s ease-in infinite;
    animation: zoomin 10s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
    background-size: cover !important;
    background-position: center center !important;
}
.other-sector-banner-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.other-sector-banner-content h1{
    margin-bottom: 0;
}
    /* The innermost element*/
.inner-banner-inner-box {
    background: none;
    -webkit-animation: zoomout 10s ease-in infinite;
    animation: zoomout 10s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
    width: 100%;
}
.history .white-banner-content h1 {
    color: white;
    text-align: left;
}
.history .has-blue-color span {
    color: white;
}
.history.arb .white-banner-content h1 {
    text-align: right;
}
.history.eng .banner-quote p {
    margin-right: unset;
    margin-left: unset;
    text-align: left;
    direction: ltr;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
@keyframes zoomin {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
    0% {transform: scale(1);}
    50% {transform: scale(0.9);}
    100% {transform: scale(1);}
}
@keyframes zoomout {
    0% {transform: scale(1);}
    50% {transform: scale(0.9);}
    100% {transform: scale(1);}
}/*End of Zoom out Keyframes */

.mt-130{
    margin-top: 130px;
}
.sector-actions a:not(:last-child){
    margin-inline-end: 25px;
}
.sector-actions{
    max-width: 600px;
}
.sector-actions a{
    color: var(--YellowColor);
    font-weight: 600;
    font-size: 10px;
    border-bottom: 1px solid;
    display: inline-block;
    padding: 7px 0;
}
.sector-actions a:hover{
    color: var(--BlueColor);
}
.sector-actions a.discover_more{
    padding: 10px 25px;
    color: var(--BlueColor);
    border: 1px solid;
    border-radius: 25px;
}
.sector-actions a.discover_more:hover{
    background: var(--BlueColor);
    color: #fff;
}
.timeline .timeline-items .timeline-item.inverted:nth-of-type(2n+1),
.timeline .timeline-items .timeline-item:nth-of-type(2n+1){
    background: transparent;
    /*text-align: right;*/
}
.timeline .timeline-items .timeline-item.inverted:nth-of-type(2n+1){
    text-align: left;
    width: 48%;
}
.timeline .timeline-items .timeline-item::before,
.timeline .timeline-items .timeline-item.inverted:nth-of-type(2n+1)::before,
.timeline .timeline-items .timeline-item::after,
.timeline::before,
.timeline .timeline-items .timeline-item.inverted::after{
    content: none;
}
.timeline .timeline-items .timeline-item:nth-of-type(2n+1) h2{
    text-align: right;
    width: auto;
    background: transparent;
}
.timeline .timeline-items .timeline-item.inverted:nth-of-type(2n+1) h2{
    text-align: left;
}
.timeline .timeline-items .timeline-item:nth-of-type(2n+1) h2:after{
    right: 0;
    left: auto;
}
.timeline .timeline-items .timeline-item.inverted:nth-of-type(2n+1) h2:after{
    right: auto;
    left: 0;
}
.timeline-picture{
    left: 704px;
    top: 7px;
}
.inverted .timeline-picture{
    left: -335px;
}
.timeline .timeline-items .timeline-item:nth-of-type(2n+1){
    width: 100%;
}
.timeline .timeline-items .timeline-item:nth-of-type(2n+1) .div-on-left{
    width: 45%;
}
.div-on-left .timeline-time{
    width: 95%;
    margin-left: auto;
}
.time-line-content-one-box{
    position: relative;
}
.timeline .timeline-arrow-content h2{
    width: auto;
    position: absolute;
    background: var(--BlueColor);
    left: 45%;
    transform: translateX(-100%);
    margin-left: 0;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 30px;
}
.timeline .timeline-arrow-content h2:before{
    content: '';
    position: absolute;
    right: -90px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--BlueColor);
}
.timeline .timeline-arrow-content h2:after{
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 39px;
    right: -38px;
    border-left: 35px solid var(--BlueColor);
    border-top: 34px solid transparent;
    border-bottom: 35px solid transparent;
}
.timeline .timeline-items .timeline-item{
    padding: 0;
}

.timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2 {
    left: auto;
    right: 18.3%;
}
.timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2:before{
    right: auto;
    left: -90px;
}
.timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2:after{
    right: auto;
    left: -38px;
    border-right: 35px solid var(--BlueColor);
    border-left: none;
}
.modal-body{
    background: #E5E5E5;
}
.sectors-tab-nav .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -21px;
}
.sectors-tab-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -21px;
}

.sectors-tab-nav .nav-tabs .nav-link {
    margin: auto;
    min-height: 80px;
}
.contact-us-address p {
    direction: ltr;
}
.footer-phone {
    direction: ltr;
    display: inline-block;
    color: white !important;
}
.events-popup-slider.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}
/***********************************************************************************************************************/
/*                                                  Media CSS                                                          */
/***********************************************************************************************************************/

@media screen and (max-width: 1400px) {
    .news-slider {
        max-width: 560px;
    }
    .timeline .timeline-arrow-content h2{
        left: 44%;
    }
    .timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2 {
        right: 13.2%;
    }

}
@media screen and (max-width: 1399px) {
    .timeline-picture {
        left: 625px;
    }
}
@media screen and (max-width: 1366px) {
    .sector-logo-box img{
        max-width: 95%;
    }
    .sector-logo-box{
        padding: 0;
    }
    .timeline-row .timeline-content{
        left: 322px;
    }
    /*.timeline-picture {
        left: 260px;
    }*/
}
@media screen and (max-width: 1280px) {

}
@media screen and (max-width: 1200px) {
    .news-slider {
        max-width: 480px;
    }

}

@media screen and (max-width: 1199px) {
    .home-banner-content h1{
        font-size: 40px;
    }
    /*.home-banner-content {
        max-width: 390px;
    }*/
    .sectors-tab-nav .nav-tabs .nav-link{
        font-size: 14px;
    }
    .real-estate-bg {
        background-position: -350px 140px;
    }
    .border-detailed-content {
        margin-top: 55px;
    }
    .border-detailed-content p {
        font-size: 12px;
    }
    .space-between-boxes{
        justify-content: unset;
    }
    .image-heading h2 {
        font-size: 30px;
    }
    .csr-description h2{
        padding-top: 10px;
    }
    .timeline-row .timeline-content {
        left: 232px;
    }
    .timeline-picture {
        left: 530px;
    }
    .timeline-time p, .family-values p {
        font-size: 13px;
        line-height: 20px;
    }
    ul.social-icons li{
        margin-right: 15px;
    }
    .news-slider .owl-nav button.owl-prev{
        left:-20px;
    }
    .news-slider .owl-nav button.owl-next{
        right: -20px;
    }
    .timeline .timeline-arrow-content h2 {
        left: 43%;
    }
    .timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2 {
        right: 6%;
    }
    .sticky .murjan-logo {
        max-width: 100%;
    }
}
@media screen and (max-width: 1080px) {
}
@media screen and (max-width: 991px) {
    .news-detail-modal {
        padding: 30px 10px;
    }
    .news-detail-modal {
        padding: 30px 10px;
    }
    .bg-video-wrap .video-content {
        /*top: 50%;*/
    }
    ul.main-menu li a {
        font-size: 10px;
    }
    .home-banner-content h1{
        font-size: 45px;
    }
    /*.home-banner-content {
        max-width: 350px;
    }*/
    .homepage-banner{
        background-position: 50% 100% !important;
    }
    .explore-sectors{
        padding: 50px 0;
    }
    .numbers-spacing{
        padding: unset;
    }
    .get-in-touch h2 {
        font-size: 25px;
    }
    .sectors-tab-nav .nav {
        justify-content: center;
    }
    .sector-content h2 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .sector-content p {
        font-size: 13px;
        line-height: 20px;
    }
    .border-detailed-content p {
        line-height: 20px;
        margin-bottom: 20px;
    }
    .border-detailed-content {
        margin-top: 50px;
    }
    .border-detailed-content {
        padding: 55px 40px 35px 40px;
    }
    .al-murjan-articles{
        margin-bottom: 20px;
    }
    .news-thumb h2 {
        font-size: 15px;
    }
    .des-spacing-left {
        padding-left: 20px;
    }
    .des-spacing-right {
        padding-right: 20px;
    }
    .csr-description h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .image-heading h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .csr-description p {
        font-size: 13px;
    }
    .timeline-row .timeline-content {
        left: 112px;
    }
    .timeline-picture {
        left: 400px;
    }
    .timeline-time p, .family-values p {
        font-size: 12px;
        line-height: 20px;
        /*text-align: justify;*/
    }
    .timeline-time h2, .family-values h2 {
        font-size: 18px;
        line-height: 15px;
        margin-bottom: 20px;
    }
    .quote-bg{
        background-position: left;
    }
    .news-slider {
        max-width: 650px;
    }
    .news-slider .owl-nav button.owl-prev{
        left:-10px;
    }
    .news-slider .owl-nav button.owl-next{
        right: -10px;
    }
    .timeline .timeline-arrow-content h2 {
        left: 40.3%;
    }
    .timeline .time-line-content-one-box:nth-child(even) .timeline-arrow-content h2 {
        right: -66px;
    }
    .latest-articles-search .top-search {
        flex-direction: column-reverse;
        gap: 20px;
    }
}
@media only screen and (min-width: 768px) {
    .hide-me-on768{
        display: none;
    }
    .d-none-from-768{
        display: none;
    }

}
@media screen and (max-width: 767px) {
    .news-detail-modal h2 {
        font-size: 23px;
        line-height: 30px;
    }
    .main-menu{
        display: none !important;
    }
    .sector-short-info{
        margin-bottom: 50px;
    }
    .p-numbers h2 {
        font-size: 30px;
    }
    .p-numbers h3 {
        font-size: 15px;
    }
    .styled-on-767{
        justify-content: flex-start !important;
        margin-top: 20px;
    }
    .get-in-touch {
        max-width: unset;
    }
    .aboutpage-icon-box{
        margin-bottom: 30px;
    }
    .chairman-content {
        max-width: 100%;
        margin-right: unset;
        margin-left: unset;
        margin-top: 40px;
    }
    .sector-content{
        text-align: center;
    }
    .des-spacing-left {
        padding-left: 0;
    }
    .des-spacing-right {
        padding-right: 0;
    }
    .image-heading{
        margin-bottom: 20px;
    }
    .csr-description:before{
        display: none;
    }
    .order-sm-down-2{
        order: 2;
    }
    .order-sm-down-1{
        order: 1;
    }
    .order-sm-down-3{
        order: 3;
    }
    .contact-social-icons{
        margin-bottom: 40px;
    }
    .timeline-row .timeline-content {
        left: 20px;
    }
    .timeline-picture {
        left: 0;
        max-width: 39%;
        top: 28px;
    }
    .timeline-row:nth-child(even) .timeline-picture {
        margin-left: 300px;
    }
    .timeline-row .timeline-content {
        padding: 10px 20px;
    }
    .timeline-row:nth-child(odd) .timeline-content, .timeline-row:nth-child(even) .timeline-content {
        font-size: 15px;
    }
    .timeline{
        display: none;
    }
    .mobile-timeline-head{
        background-color: var(--BlueColor);
        padding: 5px 20px;
        margin-bottom: 30px;
    }
    .mobile-timeline-head h2{
        font-weight: 700;
        font-size: 16px;
        line-height: 29px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 0;
        text-align: left;
    }
    .mobile-timeline-picture{
        border: 3px solid var(--BlueColor);
        padding: 5px;
        position: absolute;
        width: 18%;
        background: white;
        right: 0;
        top: -30px;
    }
    .mobile-timeline{
        position: relative;
        margin-bottom: 100px;
    }
    .news-slider {
        max-width: 450px;
    }
    .events-popup-slider {
        padding-left: 10px;
        padding-right: 10px;
    }
    .events-popup-slider .owl-nav button.owl-next {
        right: -10px;
    }
    .events-popup-slider .owl-nav button.owl-prev {
        left: -10px;
    }
}
@media screen and (max-width: 600px) {
    .sectors-tab-nav .owl-next{
        right: 0;
    }
    .sectors-tab-nav .owl-prev {
        left: 0;
    }
}
@media screen and (max-width: 575px) {
    /*.home-banner-content {
        max-width: 250px;
    }*/
    .home-banner-content h1 {
        font-size: 45px;
    }
    .sectors-slider h2{
        font-size: 13px;
    }
    .article-name p {
        font-size: 14px;
        line-height: 14px;
        padding-left: 24px;
    }
    .news-thumb {
        padding-bottom: 40px;
    }
    .white-banner-content h1 {
        font-size: 45px;
        line-height: 50px;
    }
    .image-heading {
        padding: 20px;
    }
    .mobile-timeline-picture {
        border: 0;
        padding: 5px;
        top: -40px;
    }
    .owl-carousel-companies.owl-carousel .owl-nav button.owl-next img,
    .owl-carousel-companies.owl-carousel .owl-nav button.owl-prev img {
        width: 80%;
    }
}

@media screen and (max-width: 525px) {
    .news-slider{
        max-width: 400px;
    }
}
@media screen and (max-width: 480px) {
    .mobile-timeline-picture {
        padding: 2px;
        top: -20px;
    }
}
@media screen and (max-width: 460px) {
    .news-slider{
        max-width: 350px;
    }
}
@media screen and (max-width: 415px) {
    .news-slider{
        max-width: 315px;
    }
}
@media screen and (max-width: 380px) {
    .home-banner-content h1 {
        font-size: 40px;
    }
    .news-slider{
        max-width: 300px;
    }
}
@media screen and (max-width: 732px),
(max-height: 480px) {
    .home .bg-video-wrap .video-content {
        top: 65%;
    }
}

@keyframes banner_zoom_in_out {
    0% { transform: scale(1)}
    100% {transform: scale(1.1)}
    0% {transform: scale(1)}
}
/*@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}*/
