/*==================================
		IOUD Admin Style Sheet
==================================*/
@import url('https://fonts.googleapis.com/css?family=Lato');
/*
red       Color       #dc3500
blue      Color       #0657b2
Green     Color       #84b100
Black     Color       #545454
*/
h1, h2, h3, h4, h5, h6 {
    font-family:  'Lato', sans-serif;
}
.borderLeft         {border-width: 0 0 0 4px;border-style:solid;border-color: transparent;}
.borderLeft.red     {border-color: #dc3500;}
.borderLeft.blue    {border-color: #0657b2;}
.borderLeft.green   {border-color: #84b100;}
.borderLeft.black   {border-color: #545454;}
.ioudBtn {
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family:  'Lato', sans-serif;;
    font-size: 13px;
    font-weight: bold;
    margin: auto;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.ioudBtn.red     {background-color: #dc3500;}
.ioudBtn.blue    {background-color: #0657b2;}
.ioudBtn.green   {background-color: #84b100;}
.ioudBtn.black   {background-color: #545454;}
.ioudBtn:hover {background-color: #39f}
.singleOrder .ioudBtn {
    min-width: 130px;
    min-height: 37px;
    max-width: 100%;
    width: auto;
}
.align-right {text-align: right;}

.ColorDis {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.ColorDis li {
    color: #645f63;
    float: left;
    font-size: 13px;
    line-height: 1.1;
    list-style-type: none;
    margin: 11px 20px 0 0;
    padding: 0 5px;
}
.ColorDis li span {
    display: block;
}
.md-card .md-card-content.orderPage {
    padding: 0 0 16px;
}
.orderPage #page_heading {
    background-color: #fbfbfb;
    border-bottom: 1px solid #e3e3e3;
}
.orderPage  #page_heading .heading_actions {
    margin: 0;
    padding: 0;
    width: 100%;
}
.orderPage .srchDDED {
    float: right;
    width: auto;
}
.orderPage .srchDDED .dropDownED {
    float: left;
    padding-top: 10px;
    position: relative;
}
.orderPage .srchDDED .serchInpEd {
    width: 190px;
    float: right;
}
.orderPage .srchDDED .serchInpEd .md-input-wrapper {
    margin-top: -1px;
    padding-top: 0;
}
.orderPage #menu_top {
    float: left;
    margin: 0;
}
.orderPage #menu_top > li {
    float: left;
    line-height: 1;
    min-width: 170px;
    padding: 7px 10px 6px;
    position: relative;
}
.orderPage #menu_top > li > span a {
    color: #85b200;
    display: block;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: capitalize;
}
.orderPage #menu_top > li > h1 {
    color: #737373;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
}
.orderPage #menu_top > li > h1 .material-icons {
    font-size: 21px;
}
.orderPage {font-family:  'Lato', sans-serif;;}
.orderPage #menu_top > li .uk-dropdown {
    min-width: 274px !important;
}
.orderPage #menu_top > li.uk-open > span,
.orderPage #menu_top > li.uk-open > h1,
.orderPage #menu_top > li.uk-open > h1 .material-icons {
    color: #85b200;
    position: relative;
    z-index: 1021;
}
.orderPage #menu_top > li.uk-open > span {display: block;}
.orderPage #menu_top > li.uk-open > h1 .material-icons {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.orderPage #menu_top > li .uk-dropdown {max-height: 510px;min-height: 400px; height: auto}
.orderPage #menu_top > li .uk-dropdown-active {
    margin-top: -58px;
    padding-top: 80px;
    overflow-y: auto;
}
.orderPage #menu_top > li.uk-open::before {
    background-color: #fff;
    content: "";
    height: 75px;
    left: 0;
    position: absolute;
    top: -11px;
    width: 274px;
    z-index: 1021;
}
.uk-dropdown .parentCatEd {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family:  'Lato', sans-serif;;
}
.uk-dropdown .parentCatEd li {
    list-style-type: none;
}
.uk-dropdown .parentCatEd li a {
    color: inherit;
    display: block;
    padding: 18px 20px 7px 10px;
    border-bottom: 1px solid #ebebeb;
}
.uk-dropdown .parentCatEd > li {
    position: relative;
}
.uk-dropdown .parentCatEd > li .material-icons {
    position: absolute;
    right: 5px;
    top: 15px;
}
.uk-dropdown .parentCatEd > li.open .material-icons {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.uk-dropdown .parentCatEd > li > a {
    color: #85B200;
    font-size: 13px;
    font-weight: bold;
}
.uk-dropdown .parentCatEd > li > ul {
    padding-left: 20px;
}
.uk-dropdown .parentCatEd > li > ul > li a {
    color: #2B2B2B;
    font-size: 13px;
    font-weight: bold;
}
.uk-dropdown .parentCatEd > li > ul > li ul {}
.uk-dropdown .parentCatEd > li > ul > li ul li a {
    color: #777777;
    font-size: 12px;
    font-weight: bold;
}
.uk-dropdown .uk-nav.parentCatEd ul {padding-left: 15px; background-color: }
.uk-dropdown .uk-nav.parentCatEd ul a {padding-left: 10px;}
.uk-dropdown .uk-nav.parentCatEd ul ul {padding-left: 15px; background-color: }
.uk-dropdown .uk-nav.parentCatEd ul ul a {padding-left: 10px;}
.uk-dropdown .parentCatEd li.hasDropDown > ul {
    display: none;
}
.uk-dropdown .parentCatEd li.hasDropDown.open > ul {
    display: block;
}
/*===================   Order   Header  End     ================*/
#addA_history .icheckbox_md {margin-top: 1px;vertical-align: top;}
.orderListBox {
    padding: 16px;
}
.singleOrder {
    background: #fff none repeat scroll 0 0;
    border-style: solid;
    border-width: 0 0 0 7px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #777777;
    font-family:  'Lato', sans-serif;;
    font-size: 14px;
    margin: 0 0 20px;
    padding: 16px 20px 15px 12px;
    position: relative;
}
.singleOrder .orderExpand.uk-child {display: none;}
.singleOrder.open .orderExpand.uk-child {display: block;}
.singleOrder.open .orderRow.uk-parent {display: none;}
.singleOrder.red     {border-color: #dc3500;}
.singleOrder.blue    {border-color: #0657b2;}
.singleOrder.green   {border-color: #84b100;}
.singleOrder.black   {border-color: #545454;}
.singleOrder .red:not(.btn)   {color: #dc3500;}
.singleOrder .blue:not(.btn)  {color: #0657b2;}
.singleOrder .green:not(.btn) {color: #84b100;}
.singleOrder .black:not(.btn) {color: #545454;}
.singleOrder {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.singleOrder .orderRow {position: relative;}
.singleOrder .orderRow .ioudBtn,
.singleOrder .orderRow .topIcons li {position: relative;z-index: 3;}
.singleOrder .orderRow:hover {
    cursor: pointer;
}
.singleOrder .orderRow:hover:after {
    background-color: rgba(0,0,0,0.1);
    content: '';
    position: absolute;
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -6px;
    z-index: 0;
}
.singleOrder .orderRow h3 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;
    line-height: 1.3;
    margin: 0;
}
.singleOrder .orderRow p {
    line-height: 1.4;
    margin: 0;
}
.singleOrder .orderRow p span.small {
    color: #C8C8C8;
    font-size: 12pxvvv;
}
.singleOrder .orderRow .colEd {
    float: left;
    padding-right: 0.8%;
}
.singleOrder .orderRow .colEd:nth-child(1) {width: 17%;}
.singleOrder .orderRow .colEd:nth-child(2) {width: 14%;}
.singleOrder .orderRow .colEd:nth-child(3) {width: 9%;}
.singleOrder .orderRow .colEd:nth-child(4) {width: 17%;}
.singleOrder .orderRow .colEd:nth-child(5) {width: 12%;}
.singleOrder .orderRow .colEd:nth-child(6) {width: 14%;}
.singleOrder .orderRow .colEd:nth-child(7) {padding-right: 0; text-align: right; width: 12%;}


.topIcons {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 6px 0;
}
.topIcons li {display: inline-block; vertical-align: top; padding: 0 8px; color: #444444}
.topIcons li a {color: inherit;}
.topIcons li.red {color: #dc3500;}
.topIcons .material-icons {color: inherit; font-size: 24px;}

.orderExpand .orderRow .colEd:nth-child(3) {width: 20%;}
.orderExpand .orderRow .colEd:nth-child(4) {float: right;padding: 0;text-align: right;width: 40%;}
.orderExpand .orderRow {margin-bottom: 20px; position: relative;}
.orderExpand .boxes {
    font-family:  'Lato', sans-serif;;
}
.orderExpand .boxes h1 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.7;
    margin: 0 0 15px;
}
.orderExpand .boxes h1 span {
    color: #777777;
    font-weight: normal;
    font-size: 14px;
}
.orderExpand .boxes h1 strong {
    color: #444444;
    font-weight: normal;
}
.orderExpand .boxes h2 {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}
.orderExpand .boxes h3 {
    font-size: 13px;
    margin: 0;
    line-height:1.5;
}
.orderExpand .boxes h6 {
    color: #D83500;
    font-size: 15px;
    margin: 0 0 0;
}
.orderExpand .boxes p {
    color: #645f63;
    font-size: 13px;
    line-height: 1.3;
    margin: 0 0 2px;
}
.orderExpand .boxes p strong {
    color: #000000;
    font-weight: bold;
}
.orderExpand .boxes p strong.big {
    color: #777777;
    font-size: 15px;
}
.singleOrder .orderExpand .ioudBtn.prepared {
    min-width: 215px;
}
.ordStaStyle {
    text-align: center;
    padding: 8px 10px 25px;
    display: block;
    width: 100%;
}
.ordStaStyle ul {
    font-size: 0;
    margin: 0 auto;
    max-width: 80%;
    padding: 0;
    position: relative;
    width: 100%;
}
.ordStaStyle ul:before {
    border-top: 1px dashed #000;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 12px;
    width: 100%;
    z-index: 0;
}
.ordStaStyle ul li {
    color: #84b100;
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 25%;
    z-index: 2;
}
.boxes .ordStaStyle ul li p {color: #84b100; font-size: 12px;}
.ordStaStyle ul li .wrapper {
    display: inline-block;
    text-align: center;
}
.ordStaStyle ul li .circle {
    background-color: #84b100;
    border: 0 none;
    border-radius: 50%;
    display: block;
    height: 24px;
    margin: 0 auto 10px;
    position: relative;
    width: 24px;
    z-index: 3;
}
.ordStaStyle ul li:first-child .wrapper:before,
.ordStaStyle ul li:last-child .wrapper:before {
    border-top: 3px solid #fff;
    content: "";
    height: 3px;
    position: absolute;
    top: 11px;
    width: 500px;
    z-index: 1;
}
.ordStaStyle ul li:first-child .wrapper:before {left: auto; right: 50%}
.ordStaStyle ul li:last-child .wrapper:before {right: auto; left: 50%;}
.ordStaStyle ul li.black p {color: #000;}
.ordStaStyle ul li.black .circle {background-color: #000;}
.orderExpand .boxes .ioudBtn {margin-bottom: 3px;}
.orderExpand .boxes .totalMethod {
    display: block;
    padding: 5px 0 0;
    width: 100%;
}
.orderExpand .boxes .totalMethod h1 {
    float: left;
    margin: 0;
}
.orderExpand .boxes .totalMethod h5 {
    float: right;
    font-size: 14px;
    margin: 0;
}
.orderExpand .boxes .totalMethod h5.red     {color: #dc3500;}
.orderExpand .boxes .totalMethod h5.blue    {color: #0657b2;}
.orderExpand .boxes .totalMethod h5.green   {color: #84b100;}
.orderExpand .boxes .totalMethod h5.black   {color: #545454;}
.orderExpand .boxes .totalMethod h5 span {
    color: #C8C8C8;
    font-size: 12px;
}
.orderExpand .boxes .uk-grid.uk-grid-small + .uk-grid-small,
.orderExpand .boxes .uk-grid.uk-grid-small > * > .uk-panel + .uk-panel,
.orderExpand .boxes .uk-grid.uk-grid-small > .uk-grid-margin {
    margin-top: 14px;
}
.ioudBtn i.material-icons {color: #fff;}
.singleOrder .doubleBtns {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}
.singleOrder .uk-text-left .doubleBtns {margin-right: 0; margin-left: 0;}
.singleOrder .doubleBtns .ioudBtn {
    float: left;
    margin: 0 8px 3px;
    line-height: 33px;
    min-height: inherit;
    padding: 3px 5px;
    min-width: 150px;
}
.singleOrder .uk-text-center .doubleBtns .ioudBtn {float: none;}
.singleOrder .btnNotBtn {
    background-color: #ececec;
    border-radius: 50px;
    box-shadow: none;
    color: #0657b2;
}
.singleOrder .btnNotBtn i.material-icons:first-child {color: inherit;}
.singleOrder .btnNotBtn i.material-icons:last-child {color: #414141;}
.singleOrder .doubleBtns .ioudBtn.btnNotBtn {
    line-height: 22px;
    margin: 6px 8px 8px;
}
.orderPage #page_heading .heading_actions > * {margin-left: 0}
/*====      Product Detail page ====    */
.ordDtlPgEd .orderListBox {padding: 0;}
.ordDtlPgEd .orderListBox .ordStaStyle {padding-bottom: 0;}
.ordDtlPgEd .orderListBox .singleOrder {
    border-width: 7px 0 0 0 ;
    box-shadow: none;
    padding: 0;
}
.ordSingDtlEdHead {
    background-color: #fbfbfb;
    border-bottom: 1px solid #e2e2e2;
    font-size: 18px;
    margin: 0 0 10px;
    min-height: auto;
    padding: 16px 25px 20px 0;
}
.ordSingDtlEdHead a {color: inherit;}
.ordSingDtlEdHead i.material-icons {color: inherit; font-size: 18px;}
.ordSingDtlEdHead > div:first-child i.material-icons {font-size: 36px;vertical-align: middle;}
.ordSingDtlEdHead .topIcons {padding: 0}
.ordSingDtlEdHead .topIcons li i.material-icons {font-size: 24px;}
.ordDtlPgEd .orderExpand .boxes {
    padding: 0 44px;
}
.ordDtlPgEd .uk-table {min-width: 760px;}
.ordDtlPgEd .uk-table.uk-text-nowrap {white-space: inherit;}
.ordDtlPgEd .uk-table thead th {
    border-bottom: 1px solid #ededed;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
    vertical-align: middle;
}
.ordDtlPgEd .boxes .uk-grid-margin .uk-table thead th:nth-child(2) {width: 34%;}
.ordDtlPgEd .uk-table thead > tr th:last-child, .ordDtlPgEd .uk-table tbody > tr td:last-child {text-align: right;width: 120px;
}
.ordDtlPgEd .uk-table tbody td {
    border-bottom: 1px solid #ededed;
    color: #645f63;
    font-size: 13px;
    font-weight: normal;
    vertical-align: middle;
    white-space: inherit;
}
.ordDtlPgEd .uk-table tbody td img {
    float: left;
    height: 57px;
    margin: 0 15px 10px 0;
    width: 57px;
}
.ordDtlPgEd .uk-table tbody td h3 {
    font-size: 13px;
    font-weight: 700;
    margin: 10px 0 0;
}
.ordDtlPgEd .uk-table tbody td p {
    color: #AAAAAA;
    font-size: 13px;
}
.ordDtlPgEd .uk-table tfoot th {
    border-bottom: 0 solid #ededed;
    border-top: 1px solid #ededed;
    color: #645f63;
    font-size: 13px;
    font-weight: normal;
    padding: 15px 8px;
    vertical-align: middle;
}
.ordDtlPgEd .uk-table tfoot th strong {
    color: #444444;
    font-weight: 700;
}
.ordDtlPgEd .uk-table i.material-icons {color: #84b100;}
.singleOrder .ioudBtn.fullWidth {width: 100%;}
.orderExpand .boxes .ioudBtn.OrdBtnMng {margin: 20px 0 -20px;}
.proFootListing {margin: 15px 0 0;padding: 0 25px 0 10px;}
.proFootListing .selectize-control.single {
    border: 0 none;
    color: #84b100;
    display: inline-block;
    margin: 0 8px;
    min-width: 60px;
    vertical-align: middle;
}
.proFootListing .selectize-control.single .selectize-input {border: 0; color: #84b100;}
.proFootListing .selectize-control.single .selectize-input:after {color:#797979}
.uk-modal-dialog textarea.md-input {color: #777777; min-height: 20px; padding-top: 0;}
.uk-modal-dialog .selectize-control.single {margin-top: -8px; }
.uk-modal-dialog .selectize-control.single .item {color: #777;}
.proFootListing  .uk-pagination > li.uk-active > a,
.proFootListing .uk-pagination > li.uk-active > span {
    background-color: #84b100;
}
/*============      Product Page    ================*/
.proTopBtns {
    display: block;
    padding: 0 10px;
    width: auto;
}
.proTopBtns a {
    color: #757575;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 7px 0;
}
.proTopBtns a.add_product_btn {
    display: inline-block;
    float: right;
    margin-left: 10px;
    padding: 0;
}
.proTopBtns a.gridBtn {display: none;}
.proTopBtns a i.material-icons {
    color: inherit;
    display: inline-block;
    font-size: 21px;
    vertical-align: top;
}
.proTopBtns .ioudBtn {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    min-width: 118px;
    padding: 3px 4px;
}
.proTopBtns #applyBtn {display: none;}
.proTopBtns #cancel {display: none;margin-left: 10px;}
.proGridView {
    padding: 0 10px;
}
.singProDisp .gallery_grid_image_caption .gallery_image_title {font-weight: 400;color: #000000; font-size: 14px;}
.singProDisp .gallery_grid_image_caption .gallery_image_title.big {font-size: 16px; font-weight: 700;}
.singProDisp .uk-text-small,
.singProDisp .gallery_grid_image_caption .gallery_image_title span{
    color: #84b100;
    font-size: 14px !important;
    font-weight: normal;
    line-height: 1.6;
}
#applyDiscount label {
    color: #727272;
    display: block;
    font-size: 14px;
    padding-top: 12px;
}
.proPriceFoot {
    background-color: #f5f5f5;
    border-top: 1px solid #cacaca;
    display: block;
    min-height: 47px;
    padding: 5px 9px 4px;
}
.proPriceFoot h3, .proPriceFoot h4 {
    color: #111111;
    float: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 10px 0;
    width: 50%;
}
.proPriceFoot h4 {text-align: right; display: none;}
.proPriceFoot.featured {background-color: #84b100;}
.proPriceFoot.featured h3, .proPriceFoot.featured h4 {color: #fff; display: inline-block;}
.material-icons.red       {color: #dc3500;}
.material-icons.blue      {color: #0657b2;}
.material-icons.black     {color: #545454;}
.material-icons.green     {color: #84b100;}
.material-icons.lightGray {color: #bbbbbb;}
.singProDisp .proImg {
    background-color: #c8c8c8;
    text-align: center;
    display: block;
    overflow: hidden;
}
.singProDisp .proImg img {
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 100%;
    height: 206px;
}
.singProDisp .md-card-toolbar-heading-text {
    height: auto;
    line-height: 1;
    padding-top: 10px;
}
.singProDisp .proSelection,
.proListView .proSelection {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    box-shadow: 0 0 1px 4px rgb(255, 255, 255), 0 1px 1px 0 rgb(255, 255, 255);
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.singProDisp .proSelection a,
.proListView .proSelection a {
    background-color: transparent;
    background-image: url("../img/masDiscount.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0 0;
    bottom: 0;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    -ms-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
}
.proListView .proSelection a:hover,
.proListView .proSelection a.active,
.singProDisp .proSelection a:hover,
.proGridView .md-card-content .forIndex.active .proSelection a {
   background-size: 164px 164px;
}
.proTopBtns .uk-modal-dialog {max-width: 440px;}

.proListView {
    display: none;
    padding: 0 27px;
}
.proListView .Category,
.proListView .title {
    color: #000;
    display: block;
    font-family: roboto;
    font-size: 16px;
    font-weight: 700;
}
.proListView tr td {
    position: relative;
}
.proListView .Category {font-size: 14px; color: #84b100; font-weight: normal;}
.proListView .proSelection {
    bottom: 1px;
    box-shadow: none;
    height: auto;
    left: 0;
    right: 0;
    top: 2px;
}
.proListView .proSelection a:hover,
.proListView .proSelection a.active {background-size: 0 0;}
.proListView tr td:first-child .proSelection a,
.proListView tr td:first-child .proSelection a {background-position: 18px center;}
.proListView tr:hover td:first-child .proSelection a,
.proListView tr.active td:first-child .proSelection a {background-size: 60px 60px;}

.closeBtnEd {
    background-image: url("../img/closeBtnEd.png");
    background-position: left top;
    background-repeat: no-repeat;
    height: 13px;
    position: absolute;
    right: 12px;
    top: 30px;
    width: 13px;
}
.closeBtnEd:after {display: none;}
/*=============     Product Detail Page     =================*/
.ordDtlPgEd .orderListBox .noBorder {border-width: 0; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); padding-top: 4px;}
.productDtlSec {
    display: block;
    margin: 20px 30px 0;
    padding: 0 0 25px;
}
.productDtlSec h1 {
    font-size: 16px;
    color: #000;
    line-height: 1.3;
    margin: 0;
}
.inlineBlock {display: inline-block;}
.productDtlSec h1.sepr {color:#84b100 ; padding: 0 5px;}
.productDtlSec h2 {
    color: #000;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
}
.productDtlSec h3 {
    color:#84b100 ;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
}
.productDtlSec p {
    color: #645F63;
    font-size: 13px;
    margin: 0 0 5px;
    line-height: 1.3;
}
.rtl {direction: rtl;}
.proSliderBox {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
}
.proSliderBox .topNo,
.proSliderBox .uk-slidenav {
    background-color: #e1e1e1;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #797979;
    display: inline-block;
    font-size: 15px;
    height: auto;
    left: 10px;
    line-height: 1.5;
    margin: 0;
    padding: 0 7px;
    position: absolute;
    right: auto;
    top: 13px;
    transition-duration: 0.5s;
    width: auto;
    z-index: 2;
}
.proSliderBox .topNo {
    left: 0;
    margin: auto;
    right: 0;
    width: 30px;
}
.proSliderBox .uk-slidenav:hover {background-color: #fff;}
.proSliderBox .uk-slidenav.uk-slidenav-previous {left: auto;right: 34px;}
.productDtlSec .uk-close {
    background-color: #e1e1e1;
    left: 10px;
    top: 13px;
    transition-duration: 0.5s;
    z-index: 2;
}
.productDtlSec .uk-close:hover {background-color: #fff;}
.productDtlSec .uk-slideshow > li {
    min-height: 87px;
}
.productDtlSec .ioudBtn.blue {
    margin: 10px 0;
    min-height: 46px;
    padding: 0 10px 0 30px;
    text-align: left;
    width: 100%;
}
.proSliderBox .uk-slidenav.uk-slidenav-next {left: auto;right: 10px;}
.proSliderBox img {
    width: 100%;
    height: auto;
}
.proSliderBox .ioudBtn {
    min-height: 46px;
    padding: 0 10px 0 30px;
    text-align: left;
    width: 100%;
}
.proSliderBox .uk-form-file {
    padding: 0;
    width: 100%;
}
.tagBox h2 {  margin: 0 0 10px;}
.tagBox > div  {}
.tagBox .selectize-control.multi .selectize-input.has-items {
    border: 0 none;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s ;
    -o-transition-duration: 0.5s ;
    transition-duration: 0.5s;
}
.tagBox .selectize-control.multi .selectize-input.has-items:hover {box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.5) inset;}
.tagBox .uk-grid-margin {margin-top: 0}
.tagBox .selectize-control.multi .selectize-input > div {
    background-color: #ececec;
    color: #757575;
    line-height: 30px;
    min-width: 154px;
    text-align: center;
}
.tagBox .selectize-control.multi .selectize-input > div a {color: #393939;padding-right: 12px;padding-top: 3px;}
.smiVarActSec {}
.smiVarActSec h1 {
    margin: 0 0 20px;
}
.listMenu .uk-dropdown {
    box-shadow: none;
    display: block;
    opacity: 1;
    padding-left: 10px;
    padding-right: 10px;
    position: static;
    min-width: inherit !important;
    max-width: 100%;
    width: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.search {display: block;}
.search .catList {float: left;width: 100px;}
.search .catList.selectize-control.single { margin-top: 7px;}
.search .catList.selectize-control.single .selectize-input {border: 0px; padding-bottom: 0;}
.search .catList.selectize-control.single .selectize-input .item {color: #747474;font-size: 14px;line-height: 1;max-width: 75px;}
.search .catList.selectize-control.single .selectize-input:after {color: #797979; right: 25px;}
.search .selectize_fix {display: none;}
.search .searchTxt {float: right;width: calc(100% - 100px);}
.searchTxt .md-input-wrapper > label {padding-left: 6px; font-style: italic;}
.searchTxt .md-input-wrapper > input {padding-left: 6px; }
.variantColr {margin: 0; padding: 0; list-style-type: none;}
.variantColr li {
    display: block;
    list-style-type: none;
    position: relative;
}
.variantColr > li  h2 { line-height: 1;}
.variantColr ul {
    padding-left: 40px;
    position: relative;
}
.variantColr ul:before {
    border-left: 1px dashed #c2c2c2;
    bottom: 0;
    content: "";
    left: 20px;
    position: absolute;
    right: auto;
    top: -10px;
    width: 1px;
}
.variantColr li .innerWrapper {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0 0 11px;
    padding: 12px;
    position: relative;
}
.variantColr li .innerWrapper p {color: #777;word-break: break-all;}
.variantColr > li li:before {
    border-top: 1px dashed #c2c2c2;
    bottom: 0;
    content: "";
    height: 1px;
    left: -19px;
    position: absolute;
    right: auto;
    top: 50%;
    /*top: calc(50% - 1px);*/
    width: 19px;
}
.variantColr > li li:last-child:after {
    border-left: 2px solid #fff;
    bottom: 0;
    content: "";
    height: 50%;
    left: -21px;
    position: absolute;
    right: auto;
    top: auto;
    width: 1px;
}
.variantColr > li li h2 {font-size: 12px;}
.variantColr > li li h3 {font-size: 12px;}
.variantColr .imgBox {float: left;height: 30px;margin-right: 12px; max-width: 40px; width: 40px;}
.variantColr .imgBox img {height: 100%; width: 100%;}
.variantColr .col {
    float: left;
    padding-right: 1.1%;
    width: 15.5%;
}
.variantColr .gallery_grid_image_menu {
    margin-top: 0;
    position: absolute;
    right: 12px;
    top: 12px;
}
.variantColr .gallery_grid_image_menu ul{padding: 0;}
.variantColr .gallery_grid_image_menu ul:before,
.variantColr .gallery_grid_image_menu ul:after,
.variantColr .gallery_grid_image_menu ul li:before,
.variantColr .gallery_grid_image_menu ul li:after {display: none;}
.variantColr .ioudBtn {line-height: 49px;margin: 21px 0 4px;width: 100%;}
.actionSwitcher {
    padding: 0;
    margin: 0;
}
.actionSwitcher li {
    color: #000;
    font-size: 12px;
    list-style-type: none;
    padding: 0 10px 20px 0;
}
.actionSwitcher input[type="checkbox"]:not(:checked) +  .switchery  small {background-color: #444 !important;}
.actionSwitcher input[type="checkbox"]:not(:checked) +  .switchery {background-color: #AEAEAE !important;}
.addA_variant .uk-slideshow,
.addA_variant .uk-slideshow > .uk-active {min-height: 200px;}
.addA_variant .uk-modal-footer .ioudBtn {
    border: 0 none;
    line-height: 37px;
    margin: 0 10px 5px 0;
    min-width: 130px;
    padding: 0;
}
.addA_variant .ioudBtn.red {background-color: #b00000}
.addA_variant .md-input-wrapper > label {
    color: #727272;
    font-size: 12px;
    font-style: italic;
}

.listMenu ul.fancytree-container {
    border: 0px;
    font-family:  'Lato', sans-serif;
    font-size: 14px;
    margin: 20px 0 0;
}
.listMenu ul.fancytree-container li {margin: 5px 0 0;}
.listMenu .fancytree-icon {display: none;}
.listMenu .fancytree-checkbox {background: transparent none repeat scroll 0 0;border: 2px solid lightgray;}
.listMenu .fancytree-selected span.fancytree-checkbox {border: 2px solid #84b100;background-color: #84b100;}
.listMenu .fancytree-selected span.fancytree-checkbox:before {
    color: #fff;
    content: "✔ ";
    display: block;
    line-height: 1;
    margin: 1px 0 0 1px;
}
.listMenu #ui-id-1 span.fancytree-level-1 span.fancytree-title {padding-left: 48px;}
.listMenu #ui-id-1 span.fancytree-level-2 span.fancytree-title {padding-left: 70px;}
/*===================           coupon Section Start    =============*/
.k-picker-wrap.k-state-default > .k-select {border-color: transparent;}
.k-state-hover > * > .k-i-calendar,
.k-state-hover > .k-i-calendar,
.k-textbox:hover .k-i-calendar,
.k-i-calendar,
.k-textbox:hover .k-i-calendar,
.k-button:active .k-i-calendar {
    background-color: transparent;
    background-image: url("../img/dPicker.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.k-i-calendar:before {display: none;}
.couponBox {}
.couponBox h1 {
    color: #000;
    line-height: 1.3;
    font-weight: 700;
    font-size: 16px;
}
.couponBox h1 .material-icons {    color: #84b100;}
.couponBox h2 {
    color: #000;
    line-height: 1.3;
    font-weight: 700;
    font-size: 14px;
}
.couponBox h3 {
    color: #84b100;
    line-height: 1.3;
    font-size: 14px;
}
.couponBox .upperSandBox {background-color: #f7f7f7;    padding: 20px 30px 30px 20px;}
.couponBox .upperSandBox > div:first-child {padding-bottom: 31px;}
.couponBox .upperSandBox h2 {margin-bottom: 20px;}
.couponBox .upperSandBox .ioudBtn {line-height: 37px;margin: 0 0 2px;min-width: 160px;padding: 0;}
.couponBox .upperSandBox label {
    color: #737373;
    float: left;
    font-size: 14px;
    line-height: 2;
    margin: 5px 0 0;
    min-width: 40px;
}
.couponBox .upperSandBox .k-widget,
.couponBox .upperSandBox label + input{
background-color: transparent;
width: calc(100% - 40px);
}
.couponBox .upperSandBox .k-widget .k-picker-wrap,
.couponBox .upperSandBox label + input {
    background-color: transparent;
    border-color: transparent transparent #c9c9c9;
    border-style: solid;
    border-width: 0 0 2px;
}
.couponBox .upperSandBox label + input {
    color: #444;
    font-size: 14px;
    height: 2.214em;
    text-indent: 0.8em;
}
.couponBox .upperSandBox .k-widget .k-picker-wrap .k-input {background-color: transparent}
.couponTable table {min-width: 650px;}
.couponTable table tr th {
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    border: 0;
}
.couponTable table tr td {
    border-bottom: 0 none;
    border-top: 1px solid #efefef;
    color: #645f63;
    font-size: 13px;
    font-weight: normal;
    padding: 18px 10px 10px;
    vertical-align: middle;
}
.couponTable .gallery_grid_image_menu {
    display: inline-block;
    float: none;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    width: auto;
}
.couponTable .gallery_grid_image_menu .uk-dropdown {margin-top: 8px;}
.couponTable .material-icons {
    color: #444444;
    font-size: 24px;
    margin-left: 7px;
}
.couponTable .uk-overflow-container {padding-top: 20px;}

.formCoupons .labelTxt {
    color: #737373;
    float: left;
    font-size: 14px;
    padding-right: 15px;
    padding-top: 15px;
}
.formCoupons .labelTxt + .md-input-wrapper {overflow: hidden; width: auto;}
.formCoupons .autoEnterBox  .labelTxt {
    min-width: 80px;
}
.formCoupons .selectize-control {
    float: left;
    width: calc(100% - 115px);
}
.formCoupons .md-input-wrapper > label {font-size: 12px;font-style: italic;opacity: 0.44;padding-left: 17px;}
.formCoupons .md-input-filled > label, .md-input-focus > label {top:-4px;}
.formCoupons .md-input-wrapper > input,
.formCoupons .selectize-control {
    border-color: #c8c8c8;
    border-style: solid;
    border-width: 0 0 2px;
    color: #c8c8c8;
    font-family: lato;
    font-style: italic;
    font-weight: normal;
    padding-left: 17px;
}
.formCoupons .selectize-control.single .selectize-input .item {color: #c8c8c8;}
.formCoupons .radioLbl {    display: inline-block; padding: 15px 10px 0 0; vertical-align: top; width: auto;}
/*==================================
		Resposnive
==================================*/
@media only screen and (max-width : 1560px) {
    .singleOrder .orderRow .colEd:nth-child(3) {width: 6.5%;}
    .singleOrder .orderRow .colEd:nth-child(6) {width: 10%;}
    .singleOrder .orderRow .colEd:nth-child(7) {width: 16%;}
    #page_heading {padding: 16px 10px;}
    .orderPage #menu_top > li {min-width: 120px;}
    .ColorDis li {margin: 12px 10px 0 0;}
    .orderExpand .orderRow .colEd:nth-child(3) {width: 20%;}
}
@media only screen and (max-width : 1199px) {
    .ordDtlPgEd .uk-table.uk-text-nowrap {white-space: nowrap;}
}
@media only screen and (max-width : 991px) {
    .singleOrder .orderRow .colEd:nth-child(1),
    .singleOrder .orderRow .colEd:nth-child(2),
    .singleOrder .orderRow .colEd:nth-child(3),
    .singleOrder .orderRow .colEd:nth-child(4),
    .singleOrder .orderRow .colEd:nth-child(5),
    .singleOrder .orderRow .colEd:nth-child(6) {
        padding-bottom: 10px;
        padding-right: 1%;
        width: 49%;
    }
    .singleOrder .orderRow .colEd:nth-child(7) {width: 100%; text-align: center;}
    .orderPage .uk-sticky-placeholder {height: auto !important; }
    .orderPage #menu_top,
    .orderPage #menu_top + div {width: 100%;}
    .orderPage #menu_top > li {min-width: 160px;}
    .orderPage #page_heading {box-sizing: inherit;}
    .singleOrder .orderExpand .ioudBtn.prepared {min-width: 165px;}
    .proSliderBox {
        display: inline-block;
        max-width: 274px;
        position: relative;
        width: 100%;
    }

}
@media  (min-width : 961px) and (max-width : 1100px) {
    .search .catList,
    .search .searchTxt {width: 100%;}
    .variantColr .gallery_grid_image_menu {right: 2px;}
    .variantColr .col:nth-child(2) {width: 11%;}
    .variantColr .col:nth-child(3) {width: 18%;}
    .variantColr .col:nth-child(6) {width: 17%;}
    .listMenu .uk-dropdown {padding-left: 0; padding-right: 0;}
    .uk-dropdown .parentCatEd li a {padding-left: 8px;}
    .uk-dropdown .uk-nav.parentCatEd ul,
    .uk-dropdown .uk-nav.parentCatEd ul ul{padding-left: 10px;}
    .uk-dropdown .parentCatEd > li > ul > li a {padding-left: 8px !important; padding-right: 0;}
}
@media only screen and (max-width : 960px) {
    .couponBox .upperSandBox .ioudBtn.filter {display: block;float: none;margin: 15px auto 0;}
}
@media only screen and (max-width : 767px) {
    .orderPage .srchDDED {width: 100%;}
    .ColorDis li {margin: 10px 5px 0 0;padding: 0 2px;}
    .orderPage .srchDDED .serchInpEd {width: 160px;}
    .ordStaStyle {padding: 8px 0px 25px}
    .ordStaStyle ul {max-width: 100%;}
    .variantColr .imgBox {min-height: inherit !important; margin-bottom: 5px;}
    .variantColr .col {min-height: 44px;width: 48%;}
    .proFootListing {text-align: center;}
    .proFootListing .uk-pagination {display: inline-block;}
}
@media only screen and (max-width : 480px) {
    .singleOrder .orderRow .colEd {width: 100% !important; padding: 0 0 10px !important;}
    .boxes .ordStaStyle ul li p {font-size: 10px;}
    .variantColr .col {width: 100%;padding: 0 0 10px;min-height: inherit;}
    .couponBox .upperSandBox .ioudBtn{display: block;float: none;margin: 15px auto 0;}
    .couponBox .upperSandBox > div:first-child {padding-bottom: 20px;}
}
@media only screen and (max-width : 460px) {}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}