.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00447C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-align: left;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.myaccordion {
    max-width: 500px;
    margin: 10px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
    border: none;
}

.myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: #00447C;
}

.myaccordion .fa-stack {
    font-size: 18px;
}

.myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
    text-decoration: none;
}

.myaccordion li + li {
    margin-top: 10px;
}
.SideBlueNav button{
    border: none !important;
}
.fa-plus:before{
    color:#00447C ;
}
.SideBlueNavUL ul{
    padding: 0;
}
.SideBlueNavUL ul li{
    list-style-type: none;
    color: #d5c69f;
    text-align: left;
    margin-left: 20px;
    border-bottom: 1px solid #b29653;
    padding-bottom: 10px;
}
.SideBlueNavUL ul li a{
    color: #ffffff;
    padding: 0;
}
.SideBlueNavUL{
    background: #00447C;
}