@media (max-width:2150px){
	.carousel-caption {
	    bottom: 200px;
	}
}

@media (max-width:1920px){
	.carousel-caption {
	    bottom: 140px;
	}
}

@media (max-width:1800px){
	.carousel-caption {
	    bottom: 85px;
	}
}
@media (max-width:1600px){
	.main-navigation ul.sub-menu{
		right:0;
		left:auto;
	}
	ul.sub-menu .fa-caret-down{
		right:15%;
		left:auto;
	}
}

@media (max-width:1400px){
	.carousel-caption {
	    bottom: 40px;
	}
}

@media (max-width:1366px){
	.carousel-caption {
	    bottom: 40px;
	}
}

@media (max-width: 1199px) and (min-width: 992px){

	/* ------------------ Home Page Start ------------------- */

	.navbar-header.site-logo {
	    width: 245px;
	}

	.site-logo .navbar-brand{
		width: 250px;
	}

	.site-navigation ul li{
		padding:31px 0 30px 10px;
	}	

	.navbar-nav > li > a{
		font-size:13px;
	}

	.banner .banner-caption{
		padding:16px 20px;
	}

	.banner .banner-caption ul{
		margin-bottom:20px;
	}

	.newsletter form ul li{
		width:245px;
	}

	.social-links{
		width:78%;
	}

	ul.sub-menu{
		width:550px;
	}

	ul.sub-menu li{
		padding:0;
	}

	header .header-top ul li i{
		padding-right:5px;
	}

	/* ------------------ Home Page End ------------------- */

	/* ------------------ About Us Page Start ------------------- */
		
	.aboutus-support-link ul li{
		margin:0 26px 0 0;
	}

	.aboutus-support-link ul li a{
		font-size:12px;
	}

	/* ------------------ About Us Page End ------------------- */

}

@media (max-width: 991px) and (min-width:768px){

	/* ------------------ Home Page Start ------------------- */

	.site-logo .navbar-brand{
		padding:24px 0;
	}

	.navbar-header.site-logo {
	    width: 150px;
	        padding: 22px 0;
	}

	.header-top ul li a.site-btn,
	.header-top ul li:first-child {
	    padding: 9px 10px;
	}

	.header-top ul li:first-child{
		font-size:14px;
	}

	header .header-top ul li i{
		font-size:20px;
	}

	.searh-form-header{
		padding: 9px 15px;
	}

	.searh-form-header form .form-control{
		font-size:12px;
		height:30px;
	}

	.searh-form-header .site-btn {
	    padding: 5px 10px;
	}

	.main-navigation .header-top ul li a{
		padding:10px 5px;
	}

	.main-navigation .header-top ul li a.search{
		margin: 0 0 0 2px;
	}

	.site-navigation ul li{
		padding:15px 0 14px 8px;
	}	

	.navbar-nav > li > a{
		font-size:11px;
	}

	.carousel-caption{
		display:block;
	}

	.banner .banner-caption ul{
		display:none;
	}

	.insu-item-wrap {
	    margin: 0 0 30px;
	}

	.insu-cat .insu-solutions{
		display:block;
	}

	.newsletter form ul li{
		width:172px;
	}

	.footer-block{
		margin:0 0 30px 0;
	}

	.social-links{
		width:auto;
	}

	.site-info ul li{
		margin:0 0 0 9px;
	}

	header .header-top ul li i{
		padding-right:5px;
	}

	/* ------------------ Home Page End ------------------- */

	/* ------------------ About Us Page Start ------------------- */
		
	.page-banner{
		height:350px;
	}

	.page-banner-caption {
	    margin: 120px 0 0;
	    padding: 30px;
	}

	.aboutus-support-link ul li {
	    display: inline-block;
	    margin: 0 0 20px 0;
	    width: 240px;
	    text-align: center;
	}

	.aboutus-support-link ul li a{
		display:block;
		float:none;
	}

	/* ------------------ About Us Page End ------------------- */

	/* ------------------ Corporate Solutions Page Start ------------------- */
	
	.solution-inner-wrap{
		margin:0 0 30px;
	}

	.advantage-content{
		margin:20px 0;
	}

	.advatage-side-image{
		width:100%;
	}

	/* ------------------ Corporate Solutions Page End ------------------- */

	/* ------------------ Claim Page Start ------------------- */
	
	.claim-type-block > p{
		padding:0;
	}

	.claim-type-block{
		padding:26px 20px 30px;
	}

	/* ------------------ Claim Page End ------------------- */

	/* ------------------ Contact Page Start ------------------- */

	.head-office-address{
		text-align:center;
	}
	
	.office-address-block,.office-address-block:nth-of-type(2),
	.office-address-block:last-child {
	    display: block;
	    margin: 0 0 20px 0;
	    width: 100%;
	}

	#location-map, #medical-map{
		height:400px;
	}

	/* ------------------ Conatct Page End ------------------- */

	/* ------------------ News Page Start ------------------- */
		
	.thumbnail-caption .news-date{
		line-height:1.6em;
	}

	/* ------------------ News Page End ------------------- */

}


@media (max-width:1199px){
	.solutions-block-wrap{
		font-size:13px;
	}
	.solution-title{
		font-size:13px;
		min-height:auto;
	}	
	.solution-inner-wrap{
		padding:0;
	}
	.header-top ul li a.site-btn{
		padding:9px 15px;
	}
	.navbar-header.site-logo,
	.site-logo .navbar-brand{
		width:200px;
	}
}

@media (max-width: 992px){
	.comp_tables.mrg.wrapper-slide{
		overflow-x: scroll;
	}
	.solution-inner-wrap{
		min-height:250px;
	}
	.navbar-header.site-logo,
	.site-logo .navbar-brand{
		width:150px;
	}
	.solutions-parallax-section.add .solution-inner-wrap{
		min-height:200px;
	}
}

@media (max-width: 767px){
	.solution-inner-wrap{
		padding:0;
		min-height:inherit;
	}
	.solutions-block-wrap .get-more{
		bottom:0;
		position:relative;
	}
	.solutions-parallax-section.add .solution-inner-wrap{
		min-height:auto;
	}

	/* ------------------ Home Page Start ------------------- */
	
	.site-header{
		padding:10px 0;
	}
	.navbar-header.site-logo {
	    margin: 0 auto;
	    width: 170px;
	}

	.site-logo .navbar-brand{
		padding:0 0 10px 0;
	}

	.main-navigation,header .header-top{
		float:none;
	}

	header .header-top{
		text-align:center;
	}

	header .header-top ul li {
	    display: inline-block;
	    float: none;
	    vertical-align:middle;
	    position:inherit;
	}

	.searh-form-header{
		width:100%;
		right: 0;
	}

	.searh-form-header::before{
		right:85px;
	}

	.main-navigation .header-top ul li a{
		padding:5px 10px;
	}

	.main-navigation .header-top ul li a.search-icon {
	    padding: 5px 4px 5px 15px;
	}

	.main-navigation .header-top ul li a.search{
		margin:0;
	}

	.navbar-toggle.collapsed{
		background:#2f8648;
		box-shadow:none;
		border:none;
		border-radius:0;
	}

	.navbar-toggle{
		position:absolute;
		top:15px;
		right:0;
	}

	.navbar-toggle .icon-bar{
		background:#fff;
	}

	.navbar-toggle:hover,
	.navbar-toggle{
		box-shadow:none;
		background:#003a7e;
		border:none;
		border-radius:0;
	}

	.main-navigation ul{
		display:block;
	}

	.site-navigation{
		padding:5px 0 0 0;
	}

	.site-navigation ul li{
		padding:0;
		display:block;
	}

	.site-navigation ul li a {
	    font-size: 12px;
	    padding: 8px 0;
	    border-bottom:1px solid #eee;
	}

	.site-navigation ul li:first-child a{
		border-top:1px solid #eee;
	}

	.site-navigation ul li:last-child a{
		border-bottom:none;
	}

	.carousel-caption{
		display:block;
	}

	.banner .banner-caption ul{
		display:none;
	}

	h1.banner-text1 {
	    margin: -9px 0 20px;
	}

	h2.banner-text2{
		display:none;
	}

	.site-map-content-wrap {
	    padding: 70px 0 30px;
	}

	.sitemap-block {
	    margin: 0 0 20px;
	}

	.site-map-section .col-sm-6:last-child .sitemap-block{
		margin:0;
	}

	.insu-item-wrap{
		margin:0 0 30px 0;
	}

	.insu-item-wrap:last-child{
		margin-bottom:0;
	}

	.insu-cat .insu-solutions{
		display:block;
	}

	.application,.insu-cat,.site-main,.solutions-parallax-section,
	.ggci-advantage-section{
		padding:30px 0;
	}

	.newsletter form{
		text-align:left;
	}

	.newsletter form ul li{
		display:block;
		width:100%;
		margin: 0;
	}

	.newsletter form ul li:last-child{
		width:100%;
	}

	.form-group{
		margin-bottom:15px;
	}

	h5.foot-title{
		margin:0 0 10px 0;
	}

	.links-contacts .col-sm-6:first-child .footer-block  .col-sm-6{
		padding:0;
	}

	.footer-block{
		margin:0 0 20px 0;
	}

	.site-info {
	    border-top: 1px solid rgba(255, 255, 255, 0.13);
	    padding: 57px 0 20px;
	}

	.site-info.active{
 		padding: 20px 0;
	}

	.copyright-socio{
		text-align:left;
	}

	.social-links{
		float:none;
		width:100%;
		padding:15px 0 0 0;
		text-align:left;
	}

	.social-links span.contact-us{
		display:block;
		margin:0 0 15px 0;
	}

	.site-info ul li{
		float:none;
		margin:0 8px 0 0;
	}

	.social-links span{
		display:block;
		margin:15px 0 0 0;
	}

	.fixed-side-menu{
		display:none;
	}

	.custom-modal form .col-sm-6:first-child,
	.custom-modal form .col-sm-6:last-child{
		padding:0 15px;
	}

	.custom-modal form .col-sm-6{
		margin-bottom:15px;
	}

	.custom-modal form .col-sm-6:last-child{
		margin-bottom:0;
	}

	/* ------------------ Home Page End ------------------- */

	/* ------------------ About Us Page Start ------------------- */
		
	.page-banner{
		height:350px;
	}

	.page-banner-caption {
	    margin: 120px 0 0;
	    padding: 30px;
	}

	.aboutus-support-link ul li{
		display:block;
		float:none;
		margin:0;
	}

	.aboutus-support-link ul li a{
		display:block;
		float:none;
	    padding: 8px 0;
    	border-bottom: 1px solid #eee;
    	font-size:13px;
	}

	.aboutus-support-link ul li:last-child a{
		border:none;
	}

	.aboutus-support-link ul li a i {
	    display: inline-block;
	    text-align: left;
	    padding: 0;
	    width: 30px;
	    font-size:16px;
	}

	.ceo-detail{
		padding:0;
	}

	.ceo-img{
		margin:0 0 20px 0;
	}

	.finacial-report-table table,.finacial-report-table thead, 
	.finacial-report-table tbody,.finacial-report-table th, 
	.finacial-report-table td,.finacial-report-table tr{
		display:block;
	}

	.finacial-report-table thead tr{
	    position: absolute;
	    top: -9999px;
	    left: -9999px;
	}

	.finacial-report-table table tbody tr td,
	.finacial-report-table table tbody tr td:first-child{
		width:100%;
	}

	.table tbody tr:nth-of-type(odd){
		border-top:1px solid #ebebeb;
		border-bottom:1px solid #ebebeb;
	}

	.table tbody tr:last-child{
		border-bottom:1px solid #ebebeb;
	}

	.table>tbody>tr>td{
		border:none;
	}

	.finacial-report-table table tbody tr td{
		position:relative;
		padding-left:50%;
		min-height:40px;
	}

	.finacial-report-table table tbody tr td:before {
	    position: absolute;
	    top: 9px;
	    left: 20px;
	    width: 45%;
	    padding-right: 10px;
	    white-space: nowrap;
        font-family: 'Gotham-Bold';
	}

	.finacial-report-table table tbody tr td:nth-of-type(1):before {
	    content: "Financial Report";
	}

	.finacial-report-table table tbody tr td:nth-of-type(2):before {
	    content: "2012";
	}

	.finacial-report-table table tbody tr td:nth-of-type(3):before {
	    content: "2013";
	}

	.finacial-report-table table tbody tr td:nth-of-type(4):before {
	    content: "2014";
	}

	.finacial-report-table table tbody tr td:nth-of-type(5):before {
	    content: "2015";
	}

	.finacial-report-table table tbody tr td:nth-of-type(6):before {
	    content: "2016";
	}

	/* ------------------ About Us Page End ------------------- */

	/* ------------------ Corporate Solutions Page Start ------------------- */
	
	.solution-inner-wrap{
		margin:0 0 30px;
	}

	.advantage-content{
		margin:20px 0;
	}

	.advatage-side-image{
		width:100%;
	}

	/* ------------------ Corporate Solutions Page End ------------------- */

	/* ------------------ Solutions Single Page Start ------------------- */

	.advantage-content.single-advan-wrap,
	.secondary{
		margin:30px 0 0;
	}

	.advantage-content{
		padding:20px;
	}

	.advantage-content p{
		padding:0;
	}

	.page-title{
		font-size:20px;
	}

	/* ------------------ Solutions Sinle Page End ------------------- */

	/* ------------------ Claim Page Start ------------------- */
	
	.claim-type-block > p{
		padding:0;
	}

	.claim-type-block{
		padding:26px 20px 30px;
	}

	.claim-option-wrap {
	    padding: 26px 20px 40px;
	}

	.claim-form-wrap form .col-sm-6 .form-control,
	.contact-form-wrap form .col-sm-6 .form-control{
		margin:0 0 15px;
	}

	.claim-form-wrap form .col-sm-6:last-child .form-control,
	.contact-form-wrap form .col-sm-6:last-child .form-control{
		margin:0;
	}

	/* ------------------ Claim Page End ------------------- */

	/* ------------------ Contact Page Start ------------------- */

	.head-office-address{
/*		text-align:center;*/
		margin:0 0 30px;
	}
	
	.office-address-block,.office-address-block:nth-of-type(2),
	.office-address-block:last-child {
	    display: block;
	    margin: 0 0 20px 0;
	    width: 100%;
	}

	#location-map, #medical-map{
		height:300px;
	}

	.contact-address.qr-code img {
	    margin: 0 auto;
	    display: block;
	}

	.nocontent-form .form-control {
	    width: 100%;
	    box-sizing: border-box;
	}

	/* ------------------ Conatct Page End ------------------- */

	/* --------------------- Center align text ----------------- */

	.sec-title,.application .appli-desc,.application .appli-link,.advantage-content .secondary-title,
	.foot-title,footer ul li,.copyright-socio,.social-links,.newsletter form ul li:last-child,
	.page-title,.thumbnail-contentm,.sidebar-title{
		text-align:center;
	}

	.item-certificate .thumbnail-img {
	    height: 250px;
	    overflow: hidden;
	}
}

@media (max-width: 580px){

	/* ------------------ Home Page Start ------------------- */

	.searh-form-header::before {
	    right: 54%;
	}

	.main-navigation .header-top ul li{
		display:block;
		margin:0 0 5px 0;
	}

	.main-navigation .header-top ul li:last-child{
		margin:0;
	}

	.main-navigation .header-top ul li:nth-of-type(4),
	.main-navigation .header-top ul li:last-child{
		display:inline-block;
		margin:0;
	}

	.banner .carousel-indicators li {
	    height: 4px;
	    margin: 2px;
	    width: 30px;
	}

	.banner .carousel-indicators li.active{
		margin:2px;
	}

	.banner .banner-caption{
		width:100%;
	}

	.appli-img img {
	    width: 60%;
	}

	
	h2.sec-title{
		margin:0;
	}

	h3.main-title,h4.newstitle{
		font-size:22px;
	}

	.insu-cat .insu-container{
		margin-top:30px;
	}

	.insu-cat .nav-tabs > li > a{
		font-size:14px;
	}

	/* ------------------ Home Page End ------------------- */

	/* ------------------ About Us Page Start ------------------- */
		
	.page-banner-caption{
		width:100%;
	}

	/* ------------------ About Us Page End ------------------- */

	/* ------------------ Claim Page Start ------------------- */
	
	.claim-option-wrap > h2{
		font-size:26px;
	}


	/* ------------------ Claim Page End ------------------- */
	
	/* ------------------ Contact Page Start ------------------- */
		
	#location-map, #medical-map{
		height:350px;
	}

	.contact-map-tab-view ul{
		width:100%;
	}

	.contact-map-tab-view .nav-tabs>li {
	    float: none;
	    margin-bottom: 0;
	    text-align: center;
	    width: 100%;
	    margin: 0 auto;
	}

	/* ------------------ Contact Page End ------------------- */

}

@media (max-width:480px){

	.banner .banner-caption{
		padding:20px;
	}

	h1.banner-text1 {
	    margin: -9px 0 16px;
	}

	.carousel-caption .btn{
		font-size:12px;
		padding:8px 10px;
	}

	/* ------------------- Contact Page Start ----------------- */

	#location-map, #medical-map{
		height:240px;
	}

	/* ------------------- Contact Page End ----------------- */
}

@media (max-width: 380px){

	/* ------------------ Home Page Start ------------------- */

	.banner .banner-caption{
		padding:15px;
	}

	h1.banner-text1 {
		font-size:16px;
	    margin: -9px 0 10px;
	}

	.carousel-caption {
	    bottom: 28px;
	}

	.insu-cat .nav-tabs > li{
		margin: 4px 0 0;
		display:block;
	}

	.insu-cat .nav-tabs > li > a{
		margin:0;
	}

	.insu-cat .insu-solutions {
	    padding-top: 30px;
	}
	
	/* ------------------ Home Page End ------------------- */

	/* ------------------ About Us Page Start ------------------- */
	
	.page-banner{
		height:200px;
	}

	.page-banner-caption{
		display:none;
	}

	/* ------------------ About Page End ------------------- */

	/* ------------------ Claim Page Start ------------------- */

	.claim-option-wrap > h2{
		font-size:22px;
	}
	
	.rd-eq .radiobox{
		margin:0;
	}

	.rd-eq .radiobox,.rd-eq .radiobox label{
		display:block;
	}

	.rd-eq .radiobox span{
		width:100%;
		margin-bottom:5px;
/*		display:block;*/
	}

	.claim-type-block .select-apperance{
		width:100%;
	}

	/* ------------------ Claim Page End ------------------- */

	.item-certificate .thumbnail-img {
	    height: 200px;
	    overflow: hidden;
	}

}

@media (max-width:320px){
	.carousel-caption .btn {
	    font-size: 10px;
	    padding: 6px 10px;
	}

	.banner .banner-caption{
		padding:10px;
	}

	h1.banner-text1 {
	    margin: -2px 0 8px;
	}
}