/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);/*font-family: 'Open Sans', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400); /*font-family: 'Source Sans Pro', sans-serif; */
@font-face {
	font-family: 'Gotham-Medium';
	src: url('../fonts/Gotham-Medium.eot');
	src: url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} 
@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/Gotham-Bold.eot');
	src: url('../fonts/Gotham-Bold.woff') format('woff'), url('../../../../en/wp-content/themes/ggci/fonts/Gotham-Bold.html') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham-Book';
	src: url('../fonts/Gotham-Book.eot');
	src: url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicond41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.woff2') format('woff2'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}
@font-face {
  font-family: 'BlissPro';
  src: url('../fonts/BlissPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BlissPro.otf')  format('opentype'),
	     url('../fonts/BlissPro.woff') format('woff'),
		 url('../fonts/BlissPro.ttf')  format('truetype'),
		 url('../fonts/BlissPro.svg#BlissPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
	font-family: 'BlissPro';
	font-size: 15px;		
}
#More_information_555{padding:50px 0 0;}
#More_information_555 .site-header,
#More_information_555 .site-info,
#More_information_555 .fixed-side-menu,
#More_information_555 .site-map{ display: none;}
#More_information_555 h2,
#More_information_555 h3{
	margin:0 0 20px;
}
#More_information_555 ul{
	margin:0 0 20px;
}
* {
    margin: 0;
    outline: medium none;
    padding: 0;
}
h1.banner-text1 {
	color: #1f1f1f;
	font-family: "Gotham-Medium";
    font-size: 20px;
	margin: -3px 0 0;
    text-transform: uppercase;	
}
h2.banner-text2 {
	color: #003a7e;
	font-family: "Gotham-Medium";
    font-size: 16px;
	margin: 7px 0 25px;
    text-transform: uppercase;	
}
h2.sec-title {
	color: #003a7e;
    font-family: 'BlissPro';
    font-size: 20px;
	margin: 42px 0 0;
    text-transform: uppercase;	
}
h3.main-title {
	color: #fff;
    font-family: 'BlissPro';
    font-size: 28px;
	margin: 0px;
    text-align: center;
    text-transform: uppercase;
}
h4.newstitle {
	color: #003a7e;
    font-family: 'BlissPro';
    font-size: 24px;
	margin: 80px 0 0;
	text-align: center;
    text-transform: uppercase;	
}

.newsletter.pattern1.selector h4.newstitle{
	margin: 40px 0 0;
}

h5.foot-title {
	color: #aaaaaa;
	font-family: 'BlissPro';
    font-size: 18px;
    margin: 0 0 20px;	
}
.form-control {
	color: #333;	
}
input.form-control, select.form-control, textarea.form-control {
	font-family: 'BlissPro';
	background: #f2f5f8;
    border: none;
    border-radius: 0;
    color: #2c2c2c;
    font-size: 15px;
    height: unset;
    margin: 0 auto;
    padding: 13px 20px 8px;
	box-shadow: unset;
}
.shadow
{
  position: relative;
}
.shadow:before, .shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
/* ------------- BUTTONS -------------- */
.get-quote {
	color: #fff;
	background: #2f8648;
	display: table;
	font-family: 'BlissPro';
	font-size: 14px;
	padding: 11px 22px;
	margin-top: 25px;
	text-transform: uppercase;	
}
.get-quote:hover {
	color: #fff;
	background: #39a257;
	text-decoration: none;	
}
.btn1 {
	color: #fff;
	background: #2f8648;
	font-family: 'BlissPro';
	font-size: 14px;
	padding: 11px 30px;
	text-transform: uppercase;		
}
.btn1:hover {
	color: #fff;
	background: #39a257;
	text-decoration: none;	
}
.btn2 {
	color: #fff;
	background: #2f8648;
	font-family: 'BlissPro';
	font-size: 14px;
	padding: 11px 20px;
	text-transform: uppercase;		
}
.btn2:hover {
	color: #fff;
	background: #39a257;
	text-decoration: none;	
}
/* ------------ move to top --------------*/
.back-to-top {
	background: none;
	margin: 0;
	position: fixed;
	bottom: 50px;
	right: 53px;
	width: 36px;
	height: 36px;
	z-index: 100;
	display: none;
	text-decoration: none;
	color: #ffffff;
	background-color: #252525;
	text-align: center;
}
.back-to-top:hover {
	background: #2377BD;
}
.back-to-top i {
	font-size: 19px;
	padding-top: 8px;
}
.back-to-top:hover i {
	color: #fff;
}
 /* --------------- DROP DOWN EFFECT USING CSS ----------------*/
.dropdn {
	position: relative;
    display: inline-block;
}
.dropdn-content {
    display: none;
    position: absolute;
	z-index: 1;

}
.dropdn:hover .dropdn-content {
    display: block;
transition:         all 0.7s ease;
-moz-transition:    all 0.7s  ease;
-webkit-transition: all 0.7s  ease;
-o-transition:      all 0.7s  ease;
-ms-transition:     all 0.7s  ease;

}
/* ----------------- HEADER -------------------- */

header {
	background: #fff;	
}
header .row {
	margin-left: -30px;
	margin-right: -30px;	
}
header .header-top {
	float: right;
	color: #1f1f1f;
	font-family: 'BlissPro';
	font-size: 15px;	
}
header .header-top ul li {
	float: left;
	display: block;
	list-style-type: none;	
}
header .header-top ul li.no-bg {
	padding: 9px 18px;		
}
header .header-top ul li.bg {
	background: #2f8648;
	padding: 5px 18px 10px;
	border-right: 2px solid #fff;	
}
header .header-top ul li.bg i {
	vertical-align: bottom;	
}
header .header-top ul li.bg:last-child {
	border-right: none;	
}
header .header-top ul li i {
	font-size: 24px;
	padding-right: 15px;
	vertical-align: middle;	
}
header .header-top ul .search-wrap {
	padding: 9px 18px;	
}
header .header-top ul li i.fa-search {
	font-size: 16px;	
}
header .header-top ul li a {
	color: #fff;
	font-family: 'BlissPro';
	font-size: 12px;
	text-transform: uppercase;	
}
header .header-top ul li a.search {
	color: #2f8648;
	font-size: 15px;
    font-weight: bold;	
}
header .header-top ul li a.search i {
	vertical-align: unset;	
}
/* -------- navigation part --------------*/
nav.navbar {
	margin-bottom: 0px;	
}
.navbar-nav li.active {
	margin-top: 2px;	
}
.navbar-nav > li > a {
	color: #2f8648;
	font-family: 'BlissPro';
	font-size: 15px;	
	text-transform: uppercase;
	padding: 40px 16px;
}
.navbar-nav > li > a:hover {
	background: unset;	
}
.navbar-brand {
	padding-top: 30px;	
}
/* --------------------- BANNER SECTION ----------------------*/
.carousel-control.left {background-image : unset;}
.carousel-control.right {background-image : unset;}
.banner .glyphicon.glyphicon-menu-left {left: 18px;}
.banner .glyphicon {
    display: none;
}
.banner .carousel-indicators {
	bottom: 10px;	
}
.banner .carousel-indicators li{
	background: #2f8648;
	border: none;
	border-radius: unset;
	width: 46px;
	height: 6px;
	margin: 5px;	
}
.banner .carousel-indicators li.active {
	background: #003a7e;
	margin: 5px;	
}
.banner .glyphicon:hover {
	background: #666;	
}
.banner .carousel-caption {
	text-align: left;
	left: 0px;
	text-shadow: none;	
}
.banner .banner-caption {
	background: #fdfefe;
	padding: 34px 50px;
	width: 554px;	
}
.banner .banner-caption ul li:before {
	color: #315e9f;
	content: '\f105';
	font-family: 'FontAwesome';
	position: absolute;
}
.banner .banner-caption ul li {
	color: #1f1f1f;
	font-family: 'BlissPro';
	font-size: 15px;
	line-height: 25px;
	list-style-type: none;	
}
.banner .banner-caption ul li span {
	padding-left: 16px;	
}
/* --------------- ONLINE APPLICATION SECTION ------------ */
.application {
	background: #fcfdfe;
	padding: 50px 0;	
}
.application .appli-desc {
	color: #1f1f1f;
	font-family: 'BlissPro';
	font-size: 15px;	
	line-height: 23px;
	margin-top: 18px;
}
.application .appli-link {
	padding-top: 34px;	
}
/* ----------------- INSURANCE CATEGORY TABS ----------- */
.insu-cat .insu-container {
	margin-top: 50px;	
}
.insu-cat .nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.insu-cat .nav-tabs {
    text-align:center;
}
.insu-cat .nav-tabs > li.active > a ,
.insu-cat .nav-tabs > li.active > a:hover {
	color: #1f1f1f;
	background: #fff;	
}
.insu-cat .nav-tabs > li > a {
	border-radius: 0px;
	background: #2e8549;
	color: #fff;
	font-family: 'BlissPro';
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	margin-right: -2px;	
}
.insu-cat .nav-tabs > li > a i {
	font-size: 20px;
	margin-right: 8px;	
}
.insu-cat {
	background: #003a7e;
	padding: 60px 0;	
}
.insu-cat .tab-content #corporate {
	background: #fefefe;	
}
.insu-cat .tab-content .tab-pane .insu-item-wrap {
	background: #fefefe;	
}
.insu-cat .insu-cat-item {
	text-align: center;
	padding: 50px;	
}
.insu-cat .insu-title {
	color: #003a7e;
	font-family: 'BlissPro';
	font-size: 20px;
	margin-top: 15px;
	text-transform: uppercase;	
}
.insu-cat .insu-cat-desc {
	line-height: 23px;
	margin-top: 15px;	
}
.insu-cat .insu-cat-quote {
	display: inline-table;
	padding-top: 33px;	
}
.insu-cat .insu-solutions {
	display: inline-table;
	padding-top: 40px;	
}
/* ------------- NEWSLETTER FEEDBACK SECTION ------------ */
.pattern1 {
	background: url(../front-images/pattern1.jpg) repeat;	
}
.newsletter {
	padding-bottom: 35px;	
}
.newsletter .site-map {
	margin-top: -1px;	
}
.newsletter .site-map .btn2 {
	display: -moz-inline-stack;	
}
.newsletter .site-map a {
	text-align: center;	
}
.site-map a i {
	border: 1px solid #fff;
    border-radius: 50%;
    height: 17px;
    padding: 0 3px;
	margin-left: 10px;
    width: 17px;	
}
.newsletter form {
	text-align: center;
	margin-top: 25px;	
}
.newsletter form .form-control {
	margin-right: 12px;
	width: 289px;	
}
.newsletter form .btn1 {
	border: none;	
}
.home .modal-backdrop.in{
	opacity:0.8;
}

/* --------------- FOOTER SECTION ---------- */
footer {
	background: url(../front-images/pattern2.jpg) repeat;	
}
footer .links-contacts {
	padding: 30px 0;	
}
footer .qui-links  {
	padding-left: 0px;	
}
footer ul li {
	color: #fff;
	list-style-type: none;
	font-family: 'BlissPro';
	font-size: 13px;
	line-height: 28px;	
}
footer .contacts ul li {
	color: #aaaaaa;
	line-height: 36px;	
}
footer .contacts ul li a {
	color: #fff;	
}
footer .copyright {
	color: #aaa;
	font-family: 'BlissPro';
	font-size: 13px;
	padding: 35px 0;	
}
/* ---social ---*/
footer .social {
	padding: 30px 15px;	
}
.social li {
	float: left;
	list-style-type: none;
	padding: 0px 9px 0 0;
	transition: background 800ms ease 0s;
}
.social a {
	background: #fff;
    border: 1px solid #fff;
	border-radius: 50%;
    color: #00326c;
    font-family: "socicon";
    font-size: 15px;
    padding: 5px;
}
.social li a:hover {
	text-decoration: none;
	color: #fff;
}
li.fb a:hover {
	background: #3B5998;
	border: 1px solid #3B5998;
}
li.tweet a:hover {
	background: #28A8E0;
	border: 1px solid #28A8E0;
}
li.gp a:hover {
	background: #D3482B;
	border: 1px solid #D3482B;
}
li.linkedin a:hover {
	background: #0274B3;
	border: 1px solid #0274B3;
}

/* ========================================== Edit By:Saroj; ===========================================*/


@font-face {
	font-family: 'FontAwesome';
	src:url('../fonts/fontawesome-webfont3295.eot?v=4.5.0');
	src:url('../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.5.0') format('embedded-opentype'), 
	url('../fonts/fontawesome-webfont3295.woff2?v=4.5.0') format('woff2'), 
	url('../fonts/fontawesome-webfont3295.woff?v=4.5.0') format('woff'), 
	url('../fonts/fontawesome-webfont3295.ttf?v=4.5.0') format('truetype'), 
	url('../fonts/fontawesome-webfont3295.svg?v=4.5.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Material-Design-Iconic-Font';
  src: url('../fonts/Material-Design-Iconic-Fontd1f1.woff2?v=2.2.0') format('woff2'), 
  		url('../fonts/Material-Design-Iconic-Fontd1f1.woff?v=2.2.0') format('woff'), 
  		url('../fonts/Material-Design-Iconic-Fontd1f1.ttf?v=2.2.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/GothamBookd41d.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/GothamBook.woff') format('woff'), 
	url('../fonts/GothamBook.ttf')  format('truetype'), 
	url('../fonts/GothamBook.svg#GothamBook') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BlissPro';
	src: url('../fonts/GothamBoldd41d.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/GothamBold.woff') format('woff'), 
	url('../fonts/GothamBold.ttf')  format('truetype'), 
	url('../fonts/GothamBold.svg#GothamBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamMedium';
	src: url('../fonts/GothamMediumd41d.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/GothamMedium.woff') format('woff'), 
	url('../fonts/GothamMedium.ttf')  format('truetype'), 
	url('../fonts/GothamMedium.svg#GothamMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family:'BlissPro','Helvetica Nue','Helvetica',Arial,sans-serif;
	font-size: 15px;
	color:#1f1f1f ;
	font-weight: normal;
	line-height: 1.4em;
}

a{
	color:#2f8648;
	text-decoration:none;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}

a:hover{
	text-decoration:none;
	color:#003a7e;
}

/* a:visited{
	color:#fff;
}
 */
a:focus{
	outline:none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
figure,
.entry-content{
	margin: 0;
	padding: 0;
}

input:focus,.form-control:focus,button:focus{
	outline: 0;
	box-shadow: none;
}

.form-control,
input[type="text"], input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="tel"], 
input[type="range"], 
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="color"], textarea{
	background: #f2f5f8;
	border: none;
	border-radius: 0;
	box-shadow: none;
	height: 42px;
	color: #989898 !important;
	font-size: 14px;
	padding: 6px 20px;
	font-size:14px;
}

.form-control::-webkit-input-placeholder{
	color: #989898;
}

.site-btn {
	padding: 11px 15px;
	font-size: 14px;
	text-transform: uppercase;
	font-family:'BlissPro';
	color: #fff;
	border-radius: 0;
	background: #2f8648;
	border: none;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	box-shadow: none;
    text-shadow: none;
}

.site-btn:before,.site-navigation ul li.post-add a:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #003a7e;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.site-btn:hover,.site-btn:focus{
	color: #fff;
	box-shadow:none;
	outline:none;
}

.btn-default.site-btn:hover{
	background:#2f8648;
}

.site-btn:hover:before,.site-navigation ul li.post-add a:hover:after,
.site-btn:focus:before{
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

p{
	line-height:1.55em;
	margin-bottom:21px;
}

.select-apperance select.form-control {
    background-image: url('../front-images/select-arrow.png');
    background-repeat: no-repeat;
    background-position: center right 12px;
    padding: 6px 20px;
    height: 42px;
}

select{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.form-group{
	margin-bottom:30px;
}

.thumbnail-img{
	position:relative;
	overflow:hidden;
}	

.thumbnail-caption {
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 0;
    padding:15px;
}

/* ---------------------- Header Start ---------------------- */
.site-header{
	position:relative;
}

.site-header:before{
	content:'';
	position:absolute;
	top:100%;
	left:0;
	width:100%;	
	height:43px;
	background:url('../front-images/header-shadow.png')no-repeat center top;
	z-index:99;
	background-size:cover;
}

.site-logo .navbar-brand{
	height:auto;
	padding:20px 0;
    width: 457px;
}

.main-navigation .header-top ul li{
	margin:0 0 0 2px;
}

.main-navigation .header-top ul li a{
	color:#2f8648;
	text-decoration:none;
    padding: 10px 8px;
}

.main-navigation .header-top ul li a.search-icon {
    padding: 10px 8px 10px 19px;
}

.main-navigation .header-top ul li a:hover{
	color:#003a7e;
}

.main-navigation .header-top ul li a i{
	padding:0;
}

.header-top ul li a.site-btn {
    color: #fff;
    padding: 9px 20px;
}

.header-top ul li a.site-btn:hover{
	color:#fff;
}

.header-top ul li a.site-btn i {
    margin: 0 5px 0 0;
}

/* .zmdi-phone-in-talk{
	display:none;
} */

.searh-form-header {
    position: absolute;
    top: 100%;
    right: -7px;
    width: 382px;
    background: #fff;
    padding: 15px;
    z-index: 99;
    box-shadow: 0 0px 7px rgba(0,0,0,0.08);
    border: 1px solid #eee;
    opacity:0;
    visibility:hidden;
}

.searh-form-header form {
    position: relative;
}

.searh-form-header form .form-control{
	height:38px;
	padding:6px 96px 6px 20px;
}

.searh-form-header .site-btn{
	position:absolute;
	top:0;
	right:0;
    padding: 10px;
    font-size: 13px;
}

.searh-form-header:before{
	background: #fff;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    content: "";
    height: 14px;
    width: 14px;
    position: absolute;
    right: 15px;
    top: -8px;
    transform: rotate(45deg);
}

.searh-form-header.active{
	opacity:1;
	visibility:visible;
}

.main-navigation .header-top ul li a.search {
    margin: 0 0 0 10px;
}


.main-navigation .header-top ul li:last-child a {
    padding-right: 5px;
    font-size: 20px;
}

.header-top ul li:first-child {
    padding: 9px 17px;
    font-size: 16px;
}

.main-navigation {
    clear: inherit;
    display: block;
    float: right;
    width: auto;
}

.site-navigation {
    position: inherit;
    min-height: auto;
    border: none;
    padding:0;
}

.site-navigation 	#navbar-main {
    padding: 0;
}

.site-navigation ul li.active{
	margin:0;
}

.site-navigation ul li{
	padding: 28px 0 28px 25px;
	display: inline-block;
    float: none;
}

.site-navigation ul li a{
	padding:0;
}

.site-navigation ul li a:focus,
.site-navigation ul li a:hover{
	background-color:inherit;
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a{
	color:#003a7e;
}

.site-navigation ul li:first-child{
	padding-left: 15px;
}

.custom-modal .modal-content{
	box-shadow:none;
	border:none;
	border-radius:0;
}

.custom-modal .close {
    position: absolute;
    top: -6px;
    right: -7px;
    font-size: 30px;
    color: #000;
    opacity: 1;
    text-shadow: none;
    box-shadow: none;
}

.page-title.modal-title {
    margin: 0;
}

.custom-modal .form-group{
	margin-bottom:15px;
}

.custom-modal textarea.form-control{
	resize:none;
	height:170px;
}

.custom-modal form .col-sm-6:first-child{
	padding-right:7.5px;
}
.custom-modal form .col-sm-6:last-child{
	padding-left:7.5px;
}

div.wpcf7-mail-sent-ok{
	padding:10px 0 20px;
	margin:0;
}

/* ---------------------- Header End ---------------------- */

/* ---------------------- Slider Banner Start ---------------------- */


.carousel-caption{
	padding:0;
	bottom:40px;
}

.banner .banner-caption {
    background: rgba(255,255,255,0.97);
    padding: 33px 48px;
    width: 568px;
    position:relative;
}

.banner .banner-caption:before,
.page-banner-caption:before,.advantage-content:before{
	content:'';
	position:absolute;
	top:100%;
	left:0;
	width:100%;	
	height:30px;
	background:url('../front-images/caption-shadow.png')no-repeat center top;
	background-size:cover;
}

.carousel-inner img{
	width:100%;
}

.banner,.page-banner {
    position: relative;
}

.banner:before,.page-banner:before,
.head-office-address:before,.claim-type-block:before {
    content:'';
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	height:86px;
	/*background: url('../front-images/banner-shadow.png')no-repeat center center;*/
	background-size: cover;
	opacity:0.6;
}

.banner:before {
    margin-top: -1px;
}

.banner .banner-caption ul{
	margin:0 0 30px;
}

.banner .banner-caption ul li{
	position:relative;
    padding: 0 0 0 15px;
}

.banner .banner-caption ul li:before{
	content:'';
	position:absolute;
	top:8px;
	left:0;
	width:6px;
	height:8px;
	background: url('../front-images/custom-arrow.png')no-repeat center center;

}

.appli-img img {
    margin: 0 auto;
    display: block;
}

.appli-link .site-btn {
    padding: 11px 30px;
}

.carousel-control{
	display:none;
}

/* ---------------------- Slider Banner End ---------------------- */
/* ---------------------- Tab Connetent Start ---------------------- */

.insu-cat .insu-container {
    margin-top: 44px;
}

.insu-cat .nav-tabs > li > a i.corporate-icon{
	background: url('../front-images/corporate-icon.png')no-repeat center left -40px;
	width:37px;
	height:22px;
	display: inline-block;
    vertical-align: middle;
}

.insu-cat .nav-tabs > li.active > a i.corporate-icon{
	background: url('../front-images/corporate-icon.png')no-repeat center left;
}

.insu-cat .nav-tabs > li > a i.individual-icon{
	background: url('../front-images/individual-icon.png')no-repeat center left;
	width:17px;
	height:22px;
	display: inline-block;
    vertical-align: middle;
}

.insu-cat .nav-tabs > li.active > a i.individual-icon{
	background: url('../images/individual-icon.png')no-repeat center left -20px;
}

.insu-cat .nav-tabs > li {
	margin:0 0 0 -5px;
}

.insu-cat .nav-tabs,.insu-cat .nav-tabs > li > a,
.insu-cat .nav-tabs>li.active>a, .insu-cat .nav-tabs>li.active>a:focus, 
.insu-cat .nav-tabs>li.active>a:hover{
	border:none;
}

.insu-cat .nav-tabs > li > a{
	padding: 11px 24px;
	margin:0;
}

.insu-cat .nav-tabs > li > a:hover{
	background:#003a7e;
}

.insu-cat .insu-cat-desc {
    line-height: 1.55em;
    margin-top: 19px;
}

.insu-cat .insu-cat-item {
    padding: 0 30px;
}

.insu-cat .tab-content .inner-tab-cont-wrap{
	background:#fff;
    padding: 49px 0;
}

.shadow:before,
.shadow:after{
	display:none;
}

.insu-cat .tab-content .inner-tab-cont-wrap{
	position:relative;
}

.insu-cat .tab-content .inner-tab-cont-wrap:before{
	content:'';
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	height:34px;
	background: url('../images/tab-shadow.png')no-repeat center center;
	background-size: cover;
}


.insu-cat .tab-content #corporate,
.insu-cat .tab-content .tab-pane .insu-item-wrap{
	background:none;
}

.insu-cat .insu-cat-quote {
    padding-top: 3px;
}

.insu-cat .insu-solutions {
    padding-top: 35px;
    display:block;
}

.insu-cat .insu-solutions .site-btn {
    padding: 11px 30px;
}

/* .insu-cat .insu-solutions .site-btn:before{
	display:none;
} */

/* .insu-cat .insu-solutions .site-btn:hover{
	background:#276f3c;
} */

.newsletter {
    padding-bottom: 19px;
}

.newsletter .site-map a:visited{
	color:#fff;
}

.newsletter form ul {
    list-style-type: none;
}

.newsletter form .form-control{
	width:100%;
	margin:0;
}

.newsletter form ul li{
 	display: inline-block;
    vertical-align: top;
    width: 290px;
    margin: 0 0 0 11px;
}

.newsletter form ul li:last-child {
    width: 144px;
}

.newsletter form .site-btn{
	padding:11px 22px;
}

.site-footer{
	color:#aaaaaa;
	font-size:13px;
	padding:30px 0 0;
}

.site-footer .links-contacts{
	padding:0;
}

.site-footer ul li a{
	text-decoration:none;
}

.site-footer ul li a:hover{
	color:#2f8648;
}

.social-links {
    float: right;
    width:65%;
    text-align:right;
}

.site-info ul li{
	list-style-type:none;
	display:inline-block;
    margin: 0 0 0 12px;
	float:left;
}

.social-links ul{
	display: inline-block;
    vertical-align: middle;
}

.social-links ul li a{
	height:26px;
	width:26px;
	display:block;
	line-height:26px;
	background:#fff;
	color:#003a7e;
	border-radius:50%;
	text-align: center;
    font-size: 17px;
}

.social-links ul li a:hover{
	background:#2f8648;
	color:#fff;
}

.social-links span {
    display: inline-block;
    margin-left: 17px;
    vertical-align: middle;
}

.social-links span a{
	color:#fff;
	text-decoration:none;
}

.social-links span a:hover{
	color:#2f8648;
}

.social-links span.contact-us {
    display: inline-block;
    margin: 0 6px 0 0;
}

.site-info {
	color: #aaaaaa;
    font-size: 13px;
    padding: 40px 0 30px 0;
    background: url('../front-images/pattern2.jpg') repeat;
}

.site-info p {
    margin: 0;
}

.site-info.active .social-links span.contact-us{
	display:none;
}

/* ---------------------- Tab Content End ---------------------- */

/* ---------------------- Site Map Section Start ---------------------- */

#footerSitemap{
	display:none;
}

.site-map-content-wrap {
    padding:80px 0 10px;
    display:none;
    background:#fafafa;
}

.sitemap-block {
    margin: 0 0 30px 0;
}

.site-map-title {
    font-size: 20px;
    font-family: 'BlissPro';
    font-weight: normal;
    margin: 0 0 15px;
    color:#003a7e;
}

.sitemap-block ul li{
    list-style-type:none;
    display:block;
}

.sitemap-block ul li a{
	font-size:14px;
	color:#1f1f1f;
	position:relative;
	border-bottom: 1px solid #eee;
    display: block;
    padding:6px 10px 6px 15px;
    text-decoration:none;
}

.sitemap-block ul li a:hover{
	color:#2f8648;
}

.sitemap-block ul li:last-child a{
	border:none;
}

.sitemap-block ul li:first-child a:before{
	display:none;
}

.sitemap-block ul li:first-child a{
	padding: 6px 0;
    font-family: 'BlissPro';
    color: #2f8648;
    border-bottom-color:#e3e3e3;
    font-size: 16px;
}

.sitemap-block ul li:first-child a:hover{
	color:#003a7e;
}

.site-map {
    position: relative;
    margin-bottom: -42px;
    z-index: 9;
}

.site-map .site-btn.active{
	background:#2f8648;
}

.site-map .site-btn.active .fa-angle-down:before{
   content:"\f106";
}

.sitemap-block ul li a:before{
	content:'\f105';
	position:absolute;
	top: 9px;
    left:0;
    font-family: 'FontAwesome';
    line-height: initial;
}

.site-map .site-btn,.site-map .site-btn:focus{
	box-shadow:none;
}

.site-map .site-btn:active{
	color:#fff;
	box-shadow:none;
}

.site-map .site-btn:focus:before{
	display:none;
}


/* ---------------------- Site Map Section Start ---------------------- */

/* ---------------------- About US Start ---------------------- */

.page-banner{
	height:439px;
	background-size:cover;
}

.page-banner-caption {
    width: 570px;
    background: rgba(255,255,255,0.97);
    margin: 170px 0 0;
    padding: 50px 50px 60px;
    position:relative;
}

.page-banner-caption p {
    margin: 0;
}

.page-banner-caption h2.banner-text2 {
    margin: 7px 0 10px;
}

.site-main{
	padding:80px 0;
}

.aboutus-support-link {
    margin: 0 0 40px 0;
}

.aboutus-support-link ul li {
    display: inline-block;
    list-style-type: none;
    float: left;
    margin: 0 32px 0 0;
}

.aboutus-support-link ul li:last-child{
	margin:0;
}

.aboutus-support-link ul li a{
    display: inline-block;
    list-style-type: none;
    float: left;
    font-family:'BlissPro';
    color:#1f1f1f;
    font-size:14px;
    text-transform:uppercase;
    text-decoration:none;
}

.aboutus-support-link ul li a i {
    display: block;
    text-align: center;
    font-size:20px;
    padding: 0 0 13px 0;
}

.aboutus-support-link ul li a:hover,
.aboutus-support-link ul li.active a{
	color:#2f8648;
}

.page-title{
	font-size:24px;
	color:#003a7e;
	font-family:'BlissPro';
	text-transform:uppercase;
	margin:0 0 20px 0;
}

.ceo-detail {
    padding: 26px 0 45px;
}

.ceo-msg {
    font-family: 'BlissPro';
    color: #5d5d5d;
}

.thumbnail-img img{
	width:100%;
}

.table{
	font-size:14px;
	color:#7c7c7c;
}

.table>thead>tr>th{
	border-bottom:1px solid #ebebeb;
}

.table>thead>tr>th{
	font-weight:normal;
	font-family:'BlissPro';
}

.table>tbody>tr>td,
.table>thead>tr>th{
	padding:10px 20px;
}

.table>tbody>tr>td, .table>tbody>tr>th{
	border-bottom:1px solid #ebebeb;
	border-top:none;
}

.table tbody tr:nth-of-type(odd){
	background: #f9f9f9;
}

.table tr td a i{
	font-size:18px;
  	color: #3dad5d;
}

.table tr td a:hover i{
	color:#d63a3d;
}

.finacial-report-table {
    margin: 47px 0 0 0;
}

.finacial-report-table table tbody tr td:first-child {
    width: 319px;
}

.finacial-report-table table tbody tr td {
    width: 163px;
}

.thumbnail-block {
    margin: 0 0 30px;
}

.thumbnail-content {
    padding: 15px 0 0 0;
}

.thumbnail-content h4 {
    font-size: 15px;
    font-family: 'BlissPro';
    margin: 0 0 5px 0;
    color: #003a7e;
}

.thumbnail-content h5 {
    font-size: 15px;
    margin: 0 0 10px 0;
    color: #858585;
}

.thumbnail-block .thumbnail-img img{
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
}

.thumbnail-block:hover .thumbnail-img img{
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
}

.mgmt-position {
    display: block;
    text-transform: initial;
    font-size: 18px;
    color: #858585;
    font-family: 'BlissPro';
    margin: 10px 0 0;
}

/* ---------------------- About Us Page End ---------------------- */

/* ---------------------- Corporation Solution Page Start ---------------------- */

.solution-inner-wrap{
	margin:0 0 30px;
	min-height:330px;
	position:relative;
    text-align:center;
	padding: 0 5px 70px;
}

.solution-inner-wrap img {
    margin: 0 auto 20px;
}
.solutions-block-wrap .get-more{
	left:0;
	right:0;
	bottom:20px;
	position:absolute;
}

.solution-title,.secondary-title{
	font-size:16px;
	font-family: 'BlissPro';
	text-transform:uppercase;
	color:#003a7e;
	margin:0 0 12px 0;
	position:relative;
}

.title-tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 12px;
    text-transform: initial;
    font-family: 'BlissPro';
    background: #000;
    color: #fff;
    width: 150px;
    margin-left: -75px;
    border-radius: 4px;
    padding: 3px 8px;
    text-align: center;
    margin-top: 5px;
    opacity:0;
    visibility:hidden;
    transition:all 0.4s ease;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    display: none;
}

.title-tooltip:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    height: 0;
    width: 0;
    margin-left: -5px;
}

.solution-title:hover .title-tooltip{
	opacity:1;
    visibility:visible;
}

.get-more {
    margin: 28px 0 0 0;
}

.solutions-parallax-section {
    padding: 80px 0 40px;
    background:#fcfdfe;
}
.solutions-parallax-section.add .solution-inner-wrap{
	min-height:250px;
}

.ggci-advantage-section {
    padding: 50px 0 88px;
}

.advantage-content p {
    padding: 0 40px 0 0;
}

.advantage-content ul li {
    list-style-type: none;
    display: block;
    position: relative;
    padding: 0 0 15px 17px;
}

.advantage-content ul li:before{
	content:'';
	position:absolute;
	top:7px;
	left:0;
	height:8px;
	width:6px;
	background:url('../images/custom-arrow.png')no-repeat center center;
}

.advantage-content ul li:last-child{
	padding-bottom:0;
}

.advantage-content{
	background:url('../images/pattern-white-bg.png')repeat;
	padding: 38px 50px;
	position:relative;/*
    margin: 20px 42px;*/
}

.advantage-content:before{
	opacity:0.6;
}

.advatage-side-image {
    position: relative;
    width: 520px;
}


/* ---------------------- Corporate Solution Page End ---------------------- */

/* ---------------------- Single detail Page Start ---------------------- */

.advantage-content.single-advan-wrap{
    margin: 77px 0 0 0;
}

.secondary{
	font-size:14px;
}

.sidebar-block{
	background:#f2f2f2;
	margin:3px 0 30px 0;
	padding:20px;
}

.sidebar-block:last-child{
	margin:0;
}

.sidebar-block p{
	margin: 0 0 10px 0;
}

.sidebar-title {
    font-size: 16px;
    font-family: 'BlissPro';
    text-transform: uppercase;
    color: #003a7e;
    line-height: 24px;
    line-height: 1.5em;
    margin: 0 0 10px 0;
}

.sidebar-block ul li{
	list-style-type:none;
	display:block;
    padding: 0 0 7px 0;
}

.sidebar-block ul li a{
	position:relative;
	padding: 0 0 0 14px;
	text-decoration:none;
	color:#1f1f1f;
}

.sidebar-block ul li a:before{
	content:'\f105';
	position:absolute;
	top: 1px;
    left: 0;
    font-family: 'FontAwesome';
    line-height: initial;

}

.sidebar-block ul li a:hover{
	color:#2f8648;
}

.sidebar-block.support-links {
    padding: 0;
}

.sidebar-block.support-links li{
	padding:0;
}

.sidebar-block.support-links li a:before{
	content:'\f101';
	top: 11px;
    left: 20px;
}

.sidebar-block.support-links li a{
	display:block;
	border-bottom:1px solid #fff;
	padding:9px 20px 9px 34px;
	font-family:'BlissPro';
	color:#6f6f6f;
}

.sidebar-block.support-links li a:hover,
.sidebar-block.support-links li.active a{
	color:#2f8648;	
}

.sidebar-block.support-links li .help-title {
    padding: 9px 20px;
    margin: 0;
    background: #003a7e;
    color: #fff;
}

.custom-list {
    list-style-type: none;
    margin: 0 0 21px;
}

.custom-list li {
    display: block;
    position: relative;
    padding: 0 0 15px 17px;
}

.custom-list li:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    height: 8px;
    width: 6px;
    background: url('../images/custom-arrow.png')no-repeat center center;
}

/* ---------------------- Single detail Page End ---------------------- */

/* ---------------------- careers Page Start ---------------------- */

.info-link{
	font-family:'BlissPro';
	text-decoration:none;
}

.career-title {
    margin: 43px 0 20px 0;
}

.solutions-block-wrap.careers-block-wrap {
    margin: 42px 0 0 0;
}

/* ---------------------- careers Page End ---------------------- */

/* ---------------------- News Page Start ---------------------- */

.news-list-widget {
    border-bottom: 1px solid #dddddd;
    padding: 0 15px 15px 15px;
    margin: 0 0 15px 0;
}

.news-list-widget a{
	text-decoration:none;
	color:#1f1f1f;
}

.news-list-widget img {
    float: left;
    width: 62px;
    max-width: 62px;
    margin: 0 10px 0 0;
}

.news-title {
    font-size: 12px;
    font-family: 'BlissPro';
    display: block;
    line-height: 1.4em;
}

.news-list-widget a:hover{
	color:#2f8648;
}

.news-list-widget:last-child{
	border-bottom:none;
	padding:0 15px;
	margin:0 0 20px 0;
}

.featured-news-wrap .carousel-control, 
ul.sub-menu .carousel-control{
    bottom: 0px;
    height: 25px;
    width: 25px;
    line-height: 23px;
    border: 1px solid #c7c7c7;
    text-shadow: none;
    color: #b7b7b7;
    top: auto;
    position: inherit;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    margin: 0 10px 0 0;
}

.featured-news-wrap .carousel-control:hover,
ul.sub-menu .carousel-control:hover{
	background:#2f8648;
	color:#fff;
	border-color:#2f8648;
}

.featured-news-wrap .carousel-control.left,
.featured-news-wrap .carousel-control.right{
	background-image:none;
}

.sidebar-block.archive ul li a:before{
	content:'\f187';
	top: 50%;
    margin-top: -7px;
}

.sidebar-block.archive ul li{
	padding:0;
}

.sidebar-block.archive ul li a{
	padding: 7px 0 7px 22px;
    border-bottom: 1px solid #dddddd;
    display: block;
}

.sidebar-block.archive ul li:last-child a{
	border:none;
}

.thumbnail-caption .primary-title {
    font-size: 18px;
    font-family: 'BlissPro';
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.thumbnail-caption .news-date {
    font-size: 12px;
    font-family: 'BlissPro';
}

.divider {
    color: #2f8648;
    margin: 0 5px;
}

.caption-module {
    padding: 14px 0 0 0;
}

.news-block-wrap .thumbnail-img img{
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}

.news-block-wrap .col-item-list:hover .thumbnail-img img{
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
}

.col-item-list{
	margin:0 0 30px;
}

/* ---------------------- News Page End ---------------------- */

/* ---------------------- Downloads Page Start ---------------------- */

.downloads-block-wrap .thumbnail-caption .primary-title{
	font-size:20px;
}

.downloads-block-wrap .site-btn i{
	margin:0 0 0 3px;
}

/* ---------------------- Downloads Page End ---------------------- */

/* ---------------------- Claim Page Start ---------------------- */

.claim-option-wrap{
	background:url('../images/pattern-white-bg.png')repeat;
	padding:26px 68px;
	/* text-align: center; */
}

.claim-option-wrap > h2 {
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'BlissPro';
    margin: 0 0 26px 0;
    color:#003a7e;
}

.claim-type-block {
   /*  background: #fff; */
    /* padding: 26px 50px 30px; */
    position:relative;
}

.claim-type-block > p {
    padding: 0 70px;
}

.rd-eq {
    margin: 0 0 20px 0;
}

.rd-eq .radiobox {
    display: inline-block;
    margin:0 8px 0 0;
}

.rd-eq .radiobox label {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.rd-eq .radiobox label br {
    display: none;
}

.rd-eq .radiobox .rd-bx{
	display:none;
}

.rd-eq .radiobox span {
    display: block;
    background: #2f8648;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'BlissPro';
    padding: 14px 10px;
    width: 127px;
    text-align: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.rd-eq .radiobox .rd-bx:checked + span{
	background:#003a7e;
}

.claim-type-block .select-apperance {
    width: 240px;
    /* margin: 0 auto; */
}

.claim-type-block:before {
    opacity: 0.2;
    background-size: 100% 100%;
    height: 34px;
    display: none;
}

.claim-option-wrap {
    margin: 0 0 30px 0;
}

.claim-form-wrap form h6 {
    font-size: 15px;
    font-family: 'BlissPro';
    margin: 0 0 30px 0;
}

.claim-form-wrap form textarea.form-control {
    height: 190px;
    resize: none;
}

input[name="date"] {
    cursor: pointer;
}

.upload-file-wrap label {
    display: block;
    font-weight: normal;
    color: #7c7c7c;
    font-size: 14px;
    margin: 0 0 11px 0;
}

.file-upload{
	position:relative;
	overflow:hidden;
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.site-btn.file-upload {
    text-transform: inherit;
    font-size: 13px;
    font-family: 'BlissPro';
    padding: 8px 15px;
}



input#uploadFile {
    background: none;
    box-shadow: none;
    border: none;
    font-size: 13px;
    color: #7c7c7c;
    margin: 0 0 0 14px;
}

input#uploadFileTwo,
input#uploadFileThree,
input#uploadFileFour,
input#uploadFileFive,
input#uploadFileSix,
input#uploadFileSeven,
input#uploadFileEight,
input#uploadFileNine {
    background: none;
    box-shadow: none;
    border: none;
    font-size: 13px;
    color: #7c7c7c;
    margin: 0 0 0 14px;
}

.claim-form-wrap form button.site-btn {
    padding: 11px 38px;
    margin:20px 0 0 0;
}

.quote-call-block > h5 {
    font-size: 12px;
    font-family: 'BlissPro';
    line-height: 18px;
    margin: 0 0 16px 0;
}

.quote-call-block .toll-num {
    font-size: 24px;
    margin: 0 0 20px 0;
    display: block;
}

.quote-call-block ul li {
    padding: 0;
    font-size:12px;
}

.quote-call-block ul li:first-child{
	font-family:'BlissPro';
	text-transform:uppercase;
}

.or-option {
    text-align: center;
    font-size: 18px;
    font-family: 'BlissPro';
    color: #bebebe;
    border-top: 1px solid #dddddd;
    margin: 25px 0 28px;
}

.or-option span {
    background: #F2F2F2;
    width: 63px;
    display: block;
    margin: -11.5px auto;
}

.quote-call-block p {
    font-size: 12px;
    margin: 0 0 20px 0;
}

.quote-call-block form .form-group{
	margin:0 0 15px 0;
}

.quote-call-block form .form-control {
    height: 40px;
    border: 1px solid #d1d1d1;
    background: none;
}




/* ---------------------- Claim Page End ---------------------- */

/* ---------------------- Contact Page Start ---------------------- */

.head-office-address{
	background:url('../images/pattern-white-bg.png')repeat;
	padding:26px 0 5px;
	position:relative;
    margin: 0 0 81px 0;
}

.head-office-address:before{
	opacity:0.3;
}

.head-office-address .page-title {
    text-align: left;
}

.office-address-block{
	display:block;
	overflow:hidden;
}


.office-address-block ul li{
	list-style-type:none;
	display:block;
}

.toll-num {
    font-size: 25px;
    font-family: 'BlissPro';
    color: #003A7E;
}


.office-address-block:last-child ul li {
    padding: 0 0 2px 0;
}

.office-address-block ul li span {
    display: inline-block;
}

.office-address-block ul li a{
	text-decoration:underline;
}

.label-title {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'BlissPro';
    margin: 0 0 28px 0;
}

.contact-form-wrap textarea.form-control{
	height:200px;
	resize:none;
}

.contact-form-wrap .site-btn{
	padding:11px 38px;
}

.secondary .contact-address {
    font-size: 13px;
}

.contact-address {
    border-bottom: 1px solid #ddd;
    padding: 0 0 16px 0;
    margin: 0 0 16px 0;
}

.contact-address ul li{
	padding:0;
}

.contact-address ul li a{
	padding:0;
	color:#2f8648;
	text-decoration:underline;
}

.contact-address ul li a:hover{
	color:#003a7e;
}

.contact-address ul li a:before{
	display:none;
}

.contact-address:last-child{
	border:none;
	padding:0;
	margin:0;
}

.contact-address ul li span {
    width: 63px;
    display: inline-block;
}

#location-map,#medical-map{
	height:496px;
}

.contact-map-tab-view ul {
    width: 564px;
    margin: 0 auto;
}

.contact-map-tab-view .nav-tabs>li>a{
 	border-radius:0;
 	text-transform:uppercase;
 	margin:0;
 	border:none;
 	font-size:14px;
 	font-family:'BlissPro';
 	color: #7c7c7c;
    background: #efefef;
    padding: 13px 20px;
 }

.contact-map-tab-view .nav-tabs>li.active>a, 
.contact-map-tab-view .nav-tabs>li.active>a:focus, 
.contact-map-tab-view .nav-tabs>li.active>a:hover{
	background-color:#2f8648;
	color:#fff;
	border:none;
}

/* ---------------------- Contact Page End ---------------------- */

.fixed-side-menu {
    position: fixed;
    top: 50%;
    right: 0;
    font-size: 13px;
    margin-top:-170px;
    z-index:999;
}

.fixed-side-menu ul li{
	list-style-type: none;
    display: block;
    margin: 0 0 2px 0;
}

.fixed-side-menu ul li i{
	display:block;
	font-size: 30px;
    line-height: normal;
}

.fixed-side-menu ul li a{
	text-align: center;
    background: #2f8648;
    display: block;
    color: #fff;
    width: 114px;
    min-height: 92px;
    text-align: center;
    padding: 19px 10px;
}

.fixed-side-menu ul li:last-child a{
	padding:18px 10px;
}

.fixed-side-menu ul li a:hover{
	background:#003a7e;
}


/*contact form validations*/

div.wpcf7-validation-errors{

    display: none !important;

}

.wpcf7-not-valid{

    border: 1px solid #f00 !important;

}

span.wpcf7-not-valid-tip{

    display: none !important;

}

div.wpcf7-mail-sent-ng{
    border: none;
    color: #ff0000;
}

div.wpcf7-mail-sent-ok{
    border: none;
    color: #398f14;
}

label .wpcf7-form-control-wrap.radio-one{
	display: none;
}

.diff,.rd-eq .radiobox span:hover{
	background: #003a7e !important;
}

.file-upload input.upload{
	left: 0;
}

.site-btn.file-upload{
	float: left;
}


/* ---------------- Faq Page Start -------------------- */

.select-dropdown-wrap ul li {
    list-style-type: none;
    display: inline-block;
    width: 250px;
    margin: 0 16px 0 0;
}

.faq-details-box-wrap .faq-title a{
    text-decoration: none;
    display: block;
    font-family: 'BlissPro';
    padding: 10px 20px 10px 40px;
    color: #fff;
    background:#2f8648;
    text-transform: uppercase;
    position:relative;
}

.faq-details-box-wrap .faq-title a:before{
	content: '\f107';
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'FontAwesome';
    line-height: initial;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    color: #2f8648;
    font-size: 20px;
}

.faq-panel-body {
    padding: 15px;
    display:none;
}

.faq-panel {
    margin-bottom: 10px;
}

.faq-details-box-wrap .faq-title a.active{
	background:#003a7e;
}

.faq-details-box-wrap .faq-title a.active:before{
	content:'\f106';
	color:#003a7e;
}

/* ---------------- Faq Page End -------------------- */

span.starrating_number{
	display: none;
}

.search-excerpt { 
	font-weight: 900;
}

.entry-title {
    font-size: 24px;
    font-family: GothamMedium;
    margin: 0 0 20px 0;
}

.claim-form-wrap .wpcf7-form-control.wpcf7-starrating.starrating{
	display: none;
}

/*bootstrap carousel fade effect*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.8s;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

span#es_msg{
	color: #2f8648;
}

.invalid-email{
	border: 1px solid #f00 !important;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .main-navigation{
    	width:70%;
    }

    .site-btn.file-upload br{
		display:none;
	}

	.wpcf7-form-control-wrap.file-one,
	.wpcf7-form-control-wrap.file-two{
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		height:100%;
		width:100%;
	}
 }


 body.page-id-187 li#menu-item-97 a,
 body.page-id-227 li#menu-item-97 a,
 body.page-id-229 li#menu-item-97 a,
 body.page-id-231 li#menu-item-97 a,
 body.page-id-55 li#menu-item-97 a
 {
 	color: #003a7e;
 }




/*dynamic menu css tests*/

.main-navigation ul.sub-menu{
	visibility: hidden;
	opacity: 0;
	transition: 0.4s ease;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
}

li.menu-item:hover ul.sub-menu{
	opacity: 1;
	visibility: visible;
	top: 75%;
}

.main-navigation ul.sub-menu{
	background: #f8f8f8;
	top: 80%;
}

.main-navigation ul.sub-menu li a{
	width: 100%;
}

.main-navigation ul.sub-menu a:hover span.news-title span{
	color: #003a7e;
}

.nav-thumb{
	width: 94px !important;
}

.img-thumb{
	display: block;
	float: left;
	margin: 0px 10px 0px 0px;
	height: 74px;
	overflow: hidden;
}

#menu-item-65 ul.sub-menu{
	right: 0;
}

#menu-item-65 ul.sub-menu .fa{
    right: 100px;
    left: auto;
}

ul.sub-menu{
	width: 700px;
	padding: 30px 0px 0px 20px;
	position: relative;
}

ul.sub-menu li{
	padding: 0px 20px 20px 0px;
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

ul.sub-menu span.news-title{
	color: #000;
}

ul.sub-menu span.news-title span{
    display: block;
    font-size: 14px;
    color: #2f8648;
    text-transform: uppercase;
    font-family: 'BlissPro';
    margin: 0px 0px 5px 0px;
}

ul.sub-menu .fa-caret-down{
	position: absolute;
    top: -8px;
    color: #003a7e;
    font-size: 26px;
	right: auto;
	left: 15%;
}

ul.sub-menu .carousel-control{
	margin-bottom: 20px;
}

li.menu-item ul.sub-menu{
	padding:15px;
}


/*search*/
.search-results-title{
	text-transform: uppercase;
}

form.nocontent-form{
	position: relative;
}

form.nocontent-form input{
	box-sizing: border-box;
	padding-right: 35px;
}

form.nocontent-form button{
	position: absolute;
	top: 0;
	right: 0;
    background: none;
    box-shadow: none;
    border: none;	
}

ul#primary-menu li a:empty{
	display: none;
}


@media(max-width: 768px){
	ul.sub-menu{
		display: none !important;
	}
}

ul.sub-menu .carousel-control.left,
ul.sub-menu .carousel-control.right{
	background-image:none;
	display: inline-block !important;
	margin: 0 10px 0 0px;
}

.item-certificate .thumbnail-img {
    height: 250px;
    overflow: hidden;
    border:1px solid #eee;
}

.item-certificate .thumbnail-img br,.item-certificate .thumbnail-img p {
    display: none;
}

.item-certificate .thumbnail-img .thumbnail-caption{
	width:100%;
	padding:10px 15px;
    background: rgba(47, 134, 72,0.9);
}

.item-certificate .thumbnail-img .thumbnail-caption .primary-title{
	font-size:14px;
	margin:0;
}

.item-certificate .thumbnail-img img{
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
}

.item-certificate .thumbnail-img:hover img{
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
}

.search-no-results,.search-results{
	background:url('../images/pattern2.jpg') repeat;
}

.search-no-results .site-main,
.search-results .site-main{
	background:#fff;
}

.color-error{
	color: #f00 !important;
}

ul.sub-menu .carousel-control.hide{
	display: none !important;
}

.unsubscribed-msg {
    text-align: center;
    font-size: 16px;
    color: #49bc49;
    font-family: 'BlissPro';
    min-height: 240px;
}

.unsubscribed-msg i {
    font-size: 45px;
    color: #49bc49;
    margin: 0 0 20px;
}

.page-id-572 .page-banner {
    display: none;
}

.errorClass { 
	border:  1px solid red !important;
 }

img.nav-thumb{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

ul.sub-menu li:hover img.nav-thumb{
	transform: scale(1.1);
}

select.not-shown{
    display: none;
}

img.gmap-aside{
	margin-top: 10px;
}