/*@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal-Black.woff2') format('woff2'),
        url('../fonts/Tajawal-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal-Medium.woff2') format('woff2'),
        url('../fonts/Tajawal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal-Light.woff2') format('woff2'),
        url('../fonts/Tajawal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal-ExtraLight.woff2') format('woff2'),
        url('../fonts/Tajawal-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

a, a:hover{
    color: #000651;
    text-decoration: none;
}
body{
    font-family: 'Tajawal' !important;
    color: #4D4D4D;
}
.AlmurjanLogo{
    text-align: center;
}
.HeaderPadding{
    padding-top:20px;
    padding-bottom: 20px;
}
.MainTopMenuLinks h5, .MainTopMenuLinks h6{
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: #00447C;
    margin-bottom: 0;
}
.MainTopMenuLinks h6{
    font-weight: 600;
}
.navbar-expand-md .navbar-nav .nav-link{
    padding-right: 72px;
}
.MenuTopPadding{
    padding-top: 20px;
}



/*++======================
scrollTop
======================++*/
.scrollTop {
    position: fixed;
    left: 50px;
    bottom: 50px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    z-index: 11111;
    cursor: pointer;
}
.scrollTop img{
    max-width: 50px;
    width: 100%;
}


/* #Navigation
================================================== */
.MainTopMenu ul{
}
.EN_ARB{
    padding-left: 50px;
}
.EN_ARB a{
    font-size: 20px;
    font-weight: 500;
    color: #00447C;
    
}
.MainTopMenu ul li{
    margin-left: 55px;
}
.navigation-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar{
    padding: 0;
}
.navbar-brand img{
    height: 52px;
    width: auto;
    display: block;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before{
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
    top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}
.nav-link{
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
    color: #c4a34e !important;
}
.nav-item.active .nav-link{
    color: #777 !important;
}
.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}
.nav-item:after{
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 40px;
    height: 4px;
    content: '';
    background-color: #c4a34e;
    opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
    bottom: 0;
    opacity: 1;
}
.nav-item.active:hover:after{
    opacity: 1;
}
.nav-item{
    position: relative;
    transition: all 200ms linear;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
    padding: 10px!important;
    margin-top: 10px !important;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border-right: 4px solid #c4a34e;
    border-radius: 0;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    padding: 5px 8px;
    font-size: 18px;
    color: #7F7F7F;
    border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-menu a.dropdown-item{
    letter-spacing: 0px;
}
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:focus {
    color: #fff;
    background-color: #c4a34e;
}
ul.navbar-nav .active:after{
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 40px;
    height: 4px;
    content: '';
    opacity: 1;
    transition: all 200ms linear;
}
.BannerCaption h2{
    font-size: 71px !important;
    color: #9f843f;
    transition: all 200ms linear;
    margin-bottom: 0;
    text-transform: uppercase;
}
.BannerCaption h3{
    font-size: 40px !important;
    color: #00447C;
    text-transform: uppercase;
    transition: all 300ms linear;
    margin-bottom: 0;
}
.BannerCaption h4{
    color: #00447C;
    font-size: 22px;
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight:600;
}
.BannerCaption p{
    color: #00447C;
    font-size: 24px;
    letter-spacing: 0;
    max-width: 500px;
    margin: 0 auto;
    transition: all 400ms linear;
}
.carousel-caption {
    transform: translateY(-50%);
    bottom:0;
    top:55%;
}
#HomePageSlider:after{
    position: absolute;
    top: 580px;
    bottom: 0px;
    left: 0;
    width: 588px;
    height: 1013px;
    content: '';
    opacity: 1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.SectionPaddingTop{
    padding-top:90px ;
}
.HomeAboutAlMurjan h2{
    color: #00447C;
    font-size: 50px;
    letter-spacing: -1px;
}
.HomeAboutAlMurjan p{
    color: #4D4D4D;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 30px;
}
.HomeAboutAlMurjan a{
    color: #00447C;
    font-size: 18px;
}
/******************//*Hotspot/****************/
.BornHS__Wrapper {
    position: relative;
}
.BornHS__Wrapper .BornHS__Close {
    display: none;
}
.BornHS__Wrapper .Content__Wrapper {
    position: relative;
}
.BornHS__Wrapper .BornHS__Modal__Content {
    background: #fff;
    border-radius: 0;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.22);
    color: #606060;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 220px;
    z-index: 4;
    border-left: 4px solid #c8a443;
}
.BornHS__Wrapper .BornHS__Modal__Content .Content__Wrapper {
    padding: 10px;
    text-align: left;
}
.BornHS__Wrapper .BornHS__Modal__Content .Content__Wrapper .BornHS__Title {
    font-size: 22px;
    margin-bottom: 0;
}
.BornHS__Wrapper .BornHS__Modal__Content .Content__Wrapper p {
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.BornHS__Wrapper .BornHS__Input {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 0;
    z-index: -1;
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label {
    background: url("../images/blue_map_pointer2.png") no-repeat center;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    transition: all 300ms ease;
    width: 20px;
    z-index: 2;
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:before, .BornHS__Wrapper .BornHS__Input + .BornHS__Label:after {
    background: #00447C;
    content: "";
    display: none;
    left: 48%;
    position: absolute;
    top: 0;
    transform: translate(0%, -96%);
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:before {
    height: 2px;
    width: 40%;
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:after {
    height: 194px;
    width: 2px;
}
.BornHS__Wrapper .BornHS__Input ~ .BornHS__Overlay {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
}

.BornHS__Wrapper .BornHS__Input:checked + .BornHS__Label:after {
    background: #00447C;
    content: "";
    display: none;
    left: 48%;
    position: absolute;
    top: 0;
    transform: translate(0%, -96%);
}
.BornHS__Wrapper .BornHS__Input:checked ~ .BornHS__Modal__Content {
    opacity: 1;
    visibility: visible;
}
.BornHS__Wrapper .BornHS__Input:checked ~ .BornHS__Overlay {
    display: block;
}
.BornHS__Wrapper.BornHS__Blur figure {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.BornHS__Wrapper.BornHS__Blur .BornHS__Input {
    display: none;
}
.BornHS__Wrapper.BornHS__Blur .BornHS__Input + .BornHS__Label {
    opacity: 0.5;
    pointer-events: none;
}
.BornHS__Wrapper.BornHS__Blur .BornHS__Input:checked {
    display: inline-block;
}
.BornHS__Wrapper.BornHS__Blur .BornHS__Input:checked + .BornHS__Label {
    opacity: 1;
    pointer-events: auto;
}

.BornHS__Modal {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}
.HotSpotBGImage{
    padding-top: 80px;
}
.MapBlueColorText{
    color: #002063;
    font-size: 18px !important;
    font-weight: 400;
}
.MapNumberColor{
    color: #c8a443;
    font-size: 18px;
}
.Spot1{left: 22.3%; top: 39%;}
.Spot1_caption{left: 23%; top:19%;}

.Spot2{left: 44.7%; top: 10%;}
.Spot2_caption{left: 45.5%; bottom: 89%;}

.Spot3{left: 47%; top: 12%;}
.Spot3_caption{left: 47.8%; top: -8%;}

.Spot4{left: 46.5%; top: 33%;}
.Spot4_caption{left: 47.2%; top: 13%;}

.Spot5{right: 47%; top: 19%;}
.Spot5_caption{left: 51.9%; top: -1%;}

.Spot6{right: 45.3%; top: 26%;}
.Spot6_caption{left: 53.5%; top: 5.6%;}

.Spot7{right: 43%; top: 23.9%;}
.Spot7_caption{left: 56%; top: 3.6%;}

.Spot8{right: 41%; bottom: 60.3%;}
.Spot8_caption{left: 58.5%; bottom: 72.1%;}

.ViewAllSectors h6{
    color: #00447C;
    font-size: 18px;
    text-align: left;
}
.ViewAllSectors h6 a{
    color: #00447C;
    background: url("../images/btm_link-line.png") no-repeat bottom right;
    padding-bottom: 5px;
}
.ThumnailSectionPaddingTop{
    padding-top: 48px;
}

.owl-carousel .item {
    height: 265px;
    background: #fff;
    padding: 1rem;
    border: 1px solid #C8A443;
    display: flex;
    align-items: center;
}
.owl-carousel .owl-item img{
    width: auto !important;
    margin: 0 auto;
}
#hold_logo_slider_home .owl-stage {
    right: -198px;
}
.Image-BBox h2{
    color: #004B8D;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
}
.owl-nav{
    padding-top: 40px;
    text-align: left !important;

}
.owl-prev{
    background: url("../images/items_arrow_left.jpg") no-repeat !important;
    width: 26px;
    height: 17px;
    opacity: 0.3;
    outline: none;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.owl-next{
    background: url("../images/items_arrow_right.jpg") no-repeat !important;
    width: 26px;
    height: 17px;
    opacity: 0.3;
    outline: none;
    border: 0;
    cursor: pointer;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.owl-prev:focus, .owl-next:focus{
    outline: none !important;
}
.owl-prev:hover, .owl-next:hover{
    opacity: 1;
}
#ItemsSlider:before {
    position: absolute;
    right: 0;
    width: 89px;
    height: 339px;
    content: '';
    opacity: 1;
    background: url(../images/left_absolute_image.png) no-repeat left;
    background-size: contain;
    margin-top: 100px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#My_Achievements_image:before {
    position: absolute;
    left: 0;
    width: 705px;
    height: 524px;
    content: '';
    opacity: 1;
}
.counter{
    background-color: transparent;
    text-align: center;
    font-size: 40px !important;
    color: #c4a34e !important;
    font-weight: bold;
}
.plus{
    font-size: 40px !important;
    color: #c4a34e !important;
    font-weight: bold;
}
.Achievement h2{
    color: #00447C;
    font-size: 50px;
    letter-spacing: 0;
}
.sectors {
    background: #00447C;
    padding: 10px 20px 20px;
    height: 130px;
    margin: 20px auto;
    width: 170px;
}
.sectors p{
    color: #fff;
    font-size: 23px;
    margin-bottom: 0;
    margin-top: -10px;
    line-height: normal;
}
.Achievement-Text{
    max-width: 390px;
    margin-top: 30px;
}
.Achievement-Text{
    font-size: 18px;
}
.SectionPaddingBottom{
    padding-bottom: 80px;
}
hr {
    border-top: 2px solid #C8A443;
}
.LatestUpdate h2{
    max-width: 234px;
    color: #C8A443;
    font-size: 22px;
    font-weight: bold;
}
.NewsLetters input, .NewsLetters select, .NewsLetters optgroup, .NewsLetters textarea{
    border: 1px solid #c7a340 !important;
    border-radius: 0 !important;
}
input, select, optgroup, textarea, .custom-file-input{
    border: 1px solid #cdcdcd !important;
    border-radius: 0 !important;
}
.form-control {
    padding: 12px 20px !important;
}
.BtnBlue{
    background: #00447c !important;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #00447c;
}
.form-control::placeholder{
    color: #7F7F7F !important;
    font-size: 18px !important;
    opacity: 0.4 !important;
}
.NewsLetters p{
    color: #7F7F7F;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 0;
}
.PaddingTop60{
    padding-top: 60px;
}
.FooterCol h2{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
}
.FooterCol p{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    opacity: 0.7;
    margin-bottom: 5px;
}
.FooterNavList a{
    color: #ffffff !important;
    opacity: 0.7;
    font-size: 14px !important;
}
.FooterNavList a:hover{
    background: transparent !important;
    color: #ffffff !important;
    opacity: 1;
}
hr.Footer{
    opacity: 0.3;
    border: 1px solid #C8A443 !important;
    margin-top: 30px;
    margin-bottom: 30px;
}
.socialLinks{
    text-align: left;
}
.socialLinks i{
    font-size: 20px;
    color: #ffffff !important;
    padding-left: 15px;
}
ul.FooterLastNav{
    padding: 0;
}
ul.FooterLastNav li{
    list-style-type: none;
    display: inline-block;
    padding-right: 5%;
}
ul.FooterLastNav li a{
    color: #ffffff !important;
    font-size: 12px;
}
ul.FooterLastNav li:first-child{
    opacity: 0.4;
}
ul.FooterLastNav li a:hover{
    text-decoration: underline;
}
.MinHeight{
    min-height: 300px;
}
.Site_Bg{
    background: url("../images/half.png") no-repeat center right;
    background-size: contain;
}
.SiteHeadings h2{
    opacity: 0.2;
    color: #00447C;
    font-size: 64px;
    letter-spacing: 0;
}
.AboutNav .nav-link {
    border-bottom: 2px solid transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #004B8D !important;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
}
.AboutNav .nav-link:hover, .AboutNav .nav-link:focus{
    border-color: #002465 #002465 #002465;
}
.AboutNav .nav-link{
    display: block !important;
    padding: 10px 62px !important;
}
.AboutNav{
    border-bottom: 1px solid #cdad56 !important;
}
.nav-tabs .nav-link.active{
    background-color: transparent !important;
    border-color: #002465 #002465 #002465;
    font-weight: bold;
    padding: 10px 59px !important;
}

.BlockStyling h2, .BlockStyling h2 a{
    color: #00447C;
    font-size: 24px;
    letter-spacing: 0;
}
.BlockStyling p, .BlockStyling p a{
    color: #4D4D4D;
    font-size: 18px;
    letter-spacing: 0;
}
.BlockStyling ul{
    padding: 0 20px;
}
.BlockStyling ul li{
    font-size: 18px;
    padding-bottom: 15px;
}
.Picture-Caption{
    position: absolute;
    bottom: 0;
    padding: 132px 20px 20px 20px;
    width: 100%;
}
.Picture-Caption1{
    position: absolute;
    bottom: 0;
    padding: 132px 20px 20px 20px;
    background: url("../images/pic-shadow-only.png") left center no-repeat;
    width: 100%;
}
.Picture-Caption1 h2{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    max-width: 380px;
}
.Picture-Caption h2{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    max-width: 380px;
}
.BlockStyling h3{
    color: #004B8D;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
    padding-top: 15px;
    margin-bottom: 0;
    min-height: 70px;
}
.BoardMember{
    color: #C8A443 !important;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0;
}
.GrayBgColor{
    background-color: #F2F2F2;
}
.LandMarkDetail{
    padding-top: 30px;
    position: relative;
}
.LandMarkDetail h2{
    color: #4D4D4D;
    font-size: 21px;
    font-weight: bold;
}
.LandMarkDetail h2 img{
    padding-right: 20px;
}
.LandMarkDetail h4{
    color: #000000;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0;
    padding-top: 15px;
    margin-bottom: 0;
}
.LandMarkDetail p{
    color: #4D4D4D;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0;
}
.LandmarkArrow{
    position: absolute;
    right: -54px;
    top: 30px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.LandmarkArrow1{
    position: absolute;
    left: -54px;
    top: 30px;
    z-index: 1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.Holding-Logo{
    text-align: center;
    padding-bottom: 40px;
}
.GroupCompany {
    height: 265px;
    background: #fff;
    padding: 1rem;
    border: 1px solid #C8A443;
    display: flex;
    align-items: center;
}
.GroupCompany img{
    margin: 0 auto;
}
.GroupText h5{
    color: #004B8D;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0;
    padding-top: 10px;
    margin-bottom: 0;
}
.GroupText a .GroupCompany:hover{
    border: 1px solid #004B8D;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    content: "";
    background: url("../images/breadcrumbs_arrow_right_yellow.png") no-repeat center center;
    width: 10px;
    height: 16px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.breadcrumb-item a{
    color: #00447C;
    font-size: 18px;
    font-weight: bold;
}
.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 !important;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
    margin-top: 30px;
}
.breadcrumb-item.active{
    font-size: 18px;
    font-weight: bold;
    color: #00447C;
}
.SectorDetailPage h2{
    color: #00447C;
    font-size: 48px;
    letter-spacing: 0;
    padding-top: 10px;
}
.GrayBorder{
    border: 1px solid #C3C3C3 !important;
}
.DetailText h2, .DetailText h2 a{
    color: #00447C;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
}
.DetailText h3{
    color: #7F7F7F;
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
}
.DetailText p{
    color: #4D4D4D;
    font-size: 18px;
    letter-spacing: 0;
    padding-top: 40px;
}
.DetailText h2:after{
    width: 10px;
    position: absolute;
    height: 16px;
    top: 3px;
    left: 0;
    content: '';
    background: url("../images/breadcrumbs_arrow_right.png") no-repeat center center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.submitBlueBtn {
    padding: 10px 50px !important;
    border-radius: 2px !important;
    background-color: #00447C !important;
    color: white !important;
    border: none !important;
    margin-top: 10px !important;
}
.SmallText{
    text-align: right;
    color: #7F7F7F;
    font-size: 14px;
}
.contact_border_right{
    border-left: 1px solid #dfdfdf;
}
.google-map{
    margin-bottom: 10px;
}
.NewsEvents img{
    border: 1px solid #e4e4e4;
}
.NewsEvents .date{
    color: #9E9E9E;
    font-size: 15px;
    font-style: italic;
}
.NewsEvents h2{
    color: #4D4D4D;
    font-size: 21px;
    font-weight: bold;
    padding-top: 10px;
}
.NewsEvents p{
    color: #9E9E9E;
    font-size: 17px;
}
.News_Detail_Image{
    margin-bottom: 20px;
}
.custom-file-uploader {
    position: relative;
}
.custom-file-uploader{
    padding: 10px 30px !important;
    cursor: pointer !important;
}
.custom-file-uploader input[type='file'] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.uploadfileBtn{
    background: #00447C;
    color: white;
    cursor: pointer;
}
.form-control:disabled, .form-control[readonly]{
    background: transparent !important;
}
#Other-sectors .item img{
    display: block;
    height: auto;
}
.GroupCompany .carousel-item{
    height: auto !important;
}
#carousel-1{
    margin: 0 auto;
}
.SectorsIndicators{

}
.SectorsIndicators li{
    background-color: #C3C3C3;
}
.SectorsIndicators .active{
    background-color: gray;
}
.Careers_Content h2{
    color: #00447C;
    font-size: 48px;
}
.Careers_Content h3, .Careers_Content h4{
    color: #00447C;
    font-size: 24px;
    max-height: 100px;
    padding-bottom: 5px;
}
.Careers_Content h4{
    padding-bottom: 5px !important;
    margin-bottom: 0;
}
.Careers_Content p{
    color: #4D4D4D;
    font-size: 18px;
    letter-spacing: 0;
}
.Position-Box ul {
    list-style: none; /* Remove default bullets */
}

.Position-Box ul li::before {
    content: "\2022";
    color: #D8D8D8;
    font-weight: bold;
    display: inline-block;
    width: 20px;
    margin-right: 10px;
}
.Position-Box{
    background: white;
    padding: 30px;
    border: 1px solid #C8A443;
}
.Position-Box ul{
    color: #4D4D4D;
    font-size: 18px;
    letter-spacing: 0;
    display: inline-flex;
    padding-right: 0;
    margin-bottom: 0;
}
.Position-Box ul li{
    font-size: 18px;
}
.Position-Box ul li:first-child::before{
    display: none;
}
.Careers_Content a .Position-Box:hover{
    border: 1px solid #00447C;
}
#Self_Application_image:before {
    position: absolute;
    left: 0;
    width: 510px;
    height: 552px;
    content: '';
    opacity: 1;
    margin-top: 40px;
}
ul.SiteMap, ul.SiteMap li a {
    list-style: none;
    color: #4D4D4D;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

ul.SiteMap li::before {
    content: "";
    background: #C8A443;
    font-weight: bold;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
/************************/

ul.Sub_SiteMap, ul.Sub_SiteMap li a {
    list-style: none;
    color: #4D4D4D;
    font-weight: normal;
    font-size: 18px;
    margin-top: 15px;
}

ul.Sub_SiteMap li::before {
    content: "";
    background: #00447C;
    font-weight: bold;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 50%
}
ul.ThirdLevel, ul.ThirdLevel li a {
    list-style: none;
    color: #4D4D4D;
    font-weight: normal;
    font-size: 18px;
    margin-top: 15px;
}

ul.ThirdLevel li::before {
    content: "-";
    color: #B7B7B7;
    background: transparent;
    font-weight: bold;
    display: inline-block;
    width: 5px;
    height: 2px;
}
.Nav_TogglE {
    font-size:20px;
    cursor:pointer;
    padding-left: 10px;
    color: #c8a443;
}
.HomeAboutAlMurjan img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#hold_logo_slider_home .owl-carousel{
    direction: ltr;
}
label.error{
    color:red !important;
}
input.error{
    color:#495057 !important;
}
ul.pagination{
    justify-content: center;
    margin-bottom: 0;
    margin-top: 20px;
}
ul.pagination .page-link{
    color: inherit !important;
}
.page-link.active {
    background-color: #e9ecef !important;
}
.page-item:first-child .page-link{
    border-radius: unset !important;
}
.dropdown-menu a:after{
    display: none;
}
.home_landing_page{
    display: none;
}
.home_landing_page_body{
    overflow: hidden;
    max-height:100vh ;
}
.contactUsHeadingStyle h2{
    font-size: 36px;
    margin-bottom: 30px;
}
.contactUsHeadingStyle h4{
    color: #00447C;
    font-size: 24px;
}

/*bod page start*/
.bodMainBox{
    min-height: 150px;
    max-width: 150px;
    margin: auto;
    border-radius: 100%;
    background-size: cover !important;
    margin-bottom: 10px;
}
.imgWithBorder{
    border: 1px solid #00447C;
}
.contantBox{
    text-align: center;
}
.contantBox h3{
    color: #C8A443;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 4px;
    min-height: inherit;
    padding-top: 0px;
}
.contantBox h3:hover{
    color: #00447C;
}
.contantBox p{
    color: #00447C !important;
    font-style: inherit;
    margin-bottom: 0px;
    min-height: inherit;
    line-height: normal;
    font-size: 15px;
}
.innerheading h2{
    opacity: 1;
    font-size: 35px;
    font-weight: bold;
}

/*model pop up bod*/
/*.modal{
    background: rgb(255 255 255 / 0.7);
}*/
.modal-dialog{
    max-width: 945px;
}
.modal-content{
    border: none;
    border-radius: 0px;
    background: transparent;
}
.modal-content .modal-header{
    border: none;
    padding-bottom: 25px;
}
.modal-body{
    padding: 0px;
    background: #fff;
    padding-left: 15px;
}
.modal-header .close{
    /*background: #FF4343;*/
    border-radius: 100%;
    color: #fff;
    outline: none;
    padding: 0px;
    opacity: 1;
    font-weight: 100;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 2px solid transparent;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.modal-header .close:hover{
    border: 2px solid #fff;
    transform: scale(.8);
    -webkit-transform: scale(.8) rotateZ(90deg);
    background: rgb(0 0 0 / 30%);
}
.modal-header .close span{
    color: #fff;
    font-weight: 400;
    font-family: sans-serif;
}
.moderDiscription {
    max-height: 270px;
    overflow-y: scroll;
    margin-top: 23px;
    padding-left: 12px;
}
.modal-content h2{
    color: #00447C;
    font-size: 30px;
}
.modal-content h6{
    border-bottom: 1px solid #DCDCDC;
    color: #C8A443;
    font-size: 21px;
    font-style: italic;
    padding-bottom: 20px;
}
.bodModelContent p{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #4D4D4D;
}
.modal.fade .modal-dialog {
    top: 45%;
}
.modal.show .modal-dialog {
    top: 45%;
    -webkit-transform: translate(0,0);
    transform: translate(0%,-45%);
}

.bodModelContent ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.bodModelContent ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  width: 3px;
}
 
/* Handle */
.bodModelContent ::-webkit-scrollbar-thumb {
  background: #C8A443; 
  border-radius: 10px;
  width: 3px;
}

/* Handle on hover */
.bodModelContent ::-webkit-scrollbar-thumb:hover {
  background: #C8A443; 
  border-radius: 10px;
  width: 3px;
}



/*landmark page css start*/
.landmarkContainer{
    margin-top: 60px;
    margin-bottom: 44px;
}
.landmarkBox{
    position: relative;
    margin-bottom: 30px;
}
.landmarkBox img {
    width: 100%;
}
.landmarkTitle{
    position: absolute;
    bottom: 14px;
    left: 0px;
    width: 100%;
    background: #00447C;
    padding: 9px 10px;
    text-align: center;
}
.landmarkTitle h2{
    font-size: 19px;
    font-weight: 400;
    color: #C8A443;
    margin-bottom: 0px;
}
.landmarkContainer .bodModelContent h2{
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 15px;
}
.landmarkContainer .bodModelContent h4{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 0px;
    color: #000000;
}

/*other sector page start*/
.otherSectorDetail .GroupCompany{
    height: 192px;
    width: 360px;
}
.otherSectorDetail h2{
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
    color: #00447C;
    margin-bottom: 30px;
}
.otherSectorDetail p{
    font-size: 19px;
    font-weight: normal;
    color: #4D4D4D;
    margin-bottom: 0px;
    line-height: 28px;
}
.ceocontentBox{
    position: relative;
}
.ceoTitleBox{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    padding: 10px 20px;
    width: 100%;
}
.ceoTitleBox h3{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
}
.ceoTitleBox h4{
    font-size: 16px;
    font-weight: bold;
    color: #C8A443;
}
.linkarrow{
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}
.linkarrow::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 18px;
    top: 8px;
    left: -20px;
    background: url("../../images/Icon_Copy_13.png") ;
    transform: rotate(180deg);
}

.linkarrow h4 a{
    font-size: 18px;
    color: #00447C;
}
.linkarrow span{
    word-break: break-all;
}

.aboutUsnavSlider .owl-stage{
    left: 0px;
}
.aboutUsnavSlider .item{
    height: inherit;
    background: transparent;
    padding: inherit;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutUsnavSlider .nav-link{
    font-size: 16px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.aboutUsnavSlider .nav-link.active{
    font-size: 16px;
    padding-left: 10px !important;
    padding-right: 10px !important;

}
.aboutUsnavSlider.owl-carousel .owl-nav button.owl-prev {
    right: -40px;
    top: 10px;
    position: absolute;
    cursor: pointer;
}
.aboutUsnavSlider.owl-carousel .owl-nav button.owl-next{
    left: -40px;
    top: 10px;
    position: absolute;
    cursor: pointer;
}
.aboutUsnavSlider.owl-carousel .owl-nav button.owl-prev span{
    display: none;
}
.aboutUsnavSlider.owl-carousel .owl-nav button.owl-next span{
    display: none;
}
.aboutUsnavSlider.owl-theme .owl-nav {
    
}
.aboutUsnavSlider.owl-theme .owl-nav{
    margin-top: 0px;
    padding-top: 0px;
}

.ceocontentBox:after{
    background: rgba(212,228,239,0);
    background: -moz-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,4,71,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0)), color-stop(100%, rgba(0,4,71,1)));
    background: -webkit-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,4,71,1) 100%);
    background: -o-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,4,71,1) 100%);
    background: -ms-linear-gradient(top, rgba(212,228,239,0) 0%, rgba(0,4,71,1) 100%);
    background: linear-gradient(to bottom, rgba(212,228,239,0) 0%, rgba(0,4,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#000447', GradientType=0 );
    content: '';
    height: 100%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
}
.project_slider{
    cursor: pointer;
}
.ABCXYZ::before{
    background: rgba(212,228,239,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,4,71,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,4,71,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,4,71,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,4,71,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,4,71,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,4,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#000447', GradientType=0 );
    content: '';
    height: 40%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
}
header {
    position: fixed;
    z-index: 9;
    background: white;
    width: 100%;
}
#HomePageSlider, .SpecialClass{
    padding-top: 162px;
}
.logoimages {
    text-align: center;
}
.MyImage{
    width: 80%;
}
.header_sociallinks{
    position: absolute;
    top: 17px;
    left: 80px;
}
.header_sociallinks i{
    color:#00447C !important;
}

/*Profile page start css new design*/
.profileContainerBg{
    background: url("../images/profileNewContentBg.png") no-repeat;
    position: relative;
    padding: 51px;
    background-size: cover;
}
.profileContainerBg:before{
    position: absolute;
    content: '';
    right: 0px;
    top: 0px;
    background: rgb(255 255 255 / 60%);
    top: 0px;
    width: 100%;
    height: 100%;
}
.profileContentBg{
    background: rgb(255 255 255 / 60%);
    padding: 40px;
}

.profileNewstyle h2{
    position: relative;
}
.missionBox p{
    background: #f2f2f2;
    padding: 10px;
}
.profileNewstyle h2:before{
    position: absolute;
    content: '';
    background: #c4a34e;
    right: 10px;
    bottom: -5px;
    width: 40px;
    height: 4px;
}
.valuesIcons .icons {
    max-width: 85px;
    height: 85px;
    border: 2px solid #c4a34e;
    border-radius: 100%;
    padding: 15px;
    margin: auto;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: center;

}
.profileNewstyle h3{
    color: #828282;
    text-align: center;
}


/*almurjangroup page css*/
.almurjanGroupImg {
    border: 2px solid #00447C;
    border-radius: 100%;
    padding: 20px;
    max-width: 151px;
    min-height: 151px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.almurjanGroupContent p{

}
.almurjanGroupContent h6{
    font-size: 24px;
    color: #00447C;
    float: right;
    padding-left: 10px;
    margin-bottom: 0 !important;
    line-height: 1;
}
.borderbotH h2{
    position: relative;
}
.borderbotH h2:before{
    position: absolute;
    content: '';
    background: #c4a34e;
    right: 10px;
    bottom: -5px;
    width: 150px;
    height: 6px;
}

.bodCustomClass ul{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bodCustomClass ul li{
    list-style: none;
    width: 19%;
    cursor: pointer;
    margin: 0px 2px 50px;
}
.no_cursor{
    cursor: unset !important;
}
.fourInRow {
    max-width: 880px;
    margin: auto;
}
.fourInRow li {
    width: 24% !important;
}




.site_bgNone{
    background: none
}
.newcontentadd{
    background: #f2f2f2;
    margin-top: 60px;
    padding-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 60px;
}
.sliderBox .carousel-indicators {
    bottom: 20px;
    margin-bottom: 0px;
    z-index: 1;
}
.sliderBox .carousel-indicators li, .sector_slider_container li, .sector_slider_container .carousel-indicators li{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1px solid #fff;
    cursor: pointer;
}
.sliderHeading{
    max-width: 400px;
    margin: 0 auto;
}
.sliderHeading h2{
    font-size: 45px;
    line-height: 1.6;
}
.section2bg{
    background: #f1f1f1;
    padding-top: 170px;
    padding-bottom: 60px;
}
.customBtnBg .HomeAboutAlMurjan a{
    color: #fff;
    background: #c4a34e;
    border-radius: 0px;
    padding:2px 7px;
    display: inline-block;
    transition: all ease-in-out .5s;
}
.customBtnBg .HomeAboutAlMurjan a:hover{
    background: #00447C;
}
.downarrow{
    text-align: center;
}
.sliderBox .skip_to_section{
    font-size: 44px;
    color: #c4a34e;
    margin-top: 25px;
    position: relative;
    z-index: 1;
    -webkit-animation:avia_fade_move_down 2s ease-in-out infinite;
    animation:avia_fade_move_down 2s ease-in-out infinite;
}
.customBtnBg .HomeAboutAlMurjan a i{
    transform: rotate(180deg);
    margin-top: 5px;
}
.section2bg h2{
    margin-bottom: 40px;
}
.section2bg p{
    font-size: 20px;
}

.customSlider{
    max-width: 713px;
    margin-right: auto;
}

.homeSlider .carousel-inner{
    box-shadow: -6px 10px 3px #d8d8d8;
}
.sliderBox{
    height: 100vh;
    position: relative;
}
.sliderBox:before{
    position: absolute;
    content: '';
    background: #f1f1f1;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 200px;
}




.mapsvg svg {
    -webkit-transform-origin: 50% 0% !important;
    opacity: 0.4 !important;
}
/*.mapsvg-popover .mapsvg-controller-view-toolbar{
    display: none;
}*/
.mapsvg-popover h3{
    font-family: 'Tajawal' !important;
}
.mapsvg-controller-view-content h3{
    font-size: 22px;
    
    margin-bottom: 0;
    text-align: left;
}
.mapsvg-popover.mapsvg-popover-animate{
    border: none;
    border-radius: 0px;
    border-left: 4px solid #c8a443;
}
.mapsvg-popover.mapsvg-popover-animate{
    width: 220px !important;
}
.mapsvg-popover:before{
    content: none !important;
}


.customHeading h2{
    font-weight: 600;
}
.borderBottom h2{
    position: relative;
}
.borderBottom h2:before{
    position: absolute;
    content: '';
    background: #c4a34e;
    right: 10px;
    bottom: -10px;
    width: 100px;
    height: 10px;
}
.sector_heading h2{
    font-size: 35px;
    font-weight: 600;
}

.companyLogoContainer {
    text-align: center;
    display: inline-block;
    margin-bottom: 60px;
}
.iconsSectionCompany h2{
    font-size: 20px;
    font-weight: 600;
}
.companyLogo img{
    border-bottom: 2px solid #2e4676;
    padding-bottom: 15px;
    margin-bottom: 20px;
    max-height: 80px;
    transition: all .3s ease-out;
}

.bod_page_logo a{
    display: inline-block;
}
.bod_page_logo img{
    max-width: 225px;
}



.header_sociallinks{
    width: 100%;
    max-width: 300px;
}
.searchBox{
    display: none;
    position: absolute;
}
.searchBox .form-group{
    position: relative; 
}
.searchBox  .form-control{
    padding: 12px 20px 12px 32px !important;
}
.crosIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    left: 10px;
    padding-left: 0px !important;
}

/*sector page css here*/
.sector_slider{
    padding-top: 250px;
}
.sector_slider_container {
    max-width: 582px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}
.sector_slider_container .carousel-inner {
    box-shadow: -6px 10px 3px #d8d8d8;
}


/*sector_desc css start*/
.sector_desc{
    background: #f1f1f1;
    padding: 0px 0px 50px;
}
.sector_desc p{
    font-size: 20px;
}
.sector_text {
    padding-top: 50px;
}
/*btn_new_style sector css start*/
.custompadding{
    padding-top: 100px;
}
.newdesign_border{
    border-bottom: 2px solid #c4a34e;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.btn_new_style .btn{
    background-color: #fff;
    margin: 0px 17.2px 10px;
    border-radius: 0px;
    box-shadow: 0px 2px 4px #d4d4d4;
    position: relative;
    border: none;
}
.btn_new_style .btn:before{
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    background: #c4a34e;
}
.btn_new_style .btn:first-child{
    margin-right: 0px;
}
.btn_new_style .btn:last-child{
    margin-left: 0px;
}
.btn_new_style .btn:last-child:before{
    content: none;
}
.btn_new_style .active_cat, .btn_new_style .btn:hover{
    background-color: #00447C;
    color: #c4a34e;
}
/*logos_newstyle css start*/
.logos_newstyle .GroupCompany{
    box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    border: none;
    transition: all ease 1s;
}
.GroupText .logos_newstyle .GroupCompany:hover{
    border: none;
}
.logos_newstyle .GroupCompany:hover{
    box-shadow: 0px 0px 75px 2px rgba(0, 0, 0, 0.08);
}

/*profile new style css here*/
.custompadding_newstyle{
    padding-bottom: 130px;
}
.new_heading_style h2{
    font-size: 40px;
    font-weight: 600;
}

.overview_desc{
    background: #f1f1f1;
    padding-bottom: 100px;
}

.overview_text{
    margin-top: 50px;
}
.desc_image {
    margin-top: -70px;
    box-shadow: -6px 10px 3px #d8d8d8;
}

.new_logo_section{
    padding: 100px 0px;
}
.logo_box_container{
    background: #fff;
    box-shadow: -2px 3px 4px #d4d4d4;
    padding: 30px;
    height: 100%;
    transition: all ease 1s;
}
.logo_box_container:hover{
    box-shadow: 0px 0px 75px 2px rgba(0, 0, 0, 0.08);
}

.logo_box_container .logo_box {
    text-align: center;
    margin-bottom: 30px;
    min-height: 122px;
}
.logo_box_container .logo_box img{
    max-height: 122px;
}

.mission_img{
    box-shadow: -6px 10px 3px #d8d8d8;
    margin-bottom: -60px;
    max-width: 540px;
}
.mission_content_desc{
    min-height: 140px;
}
.mission_content_desc h2{
    margin-bottom: 15px;
    font-size: 40px;
}
.mission_content_desc p{
    line-height: normal;
}
.mission_desc {
    margin-top: 20px;
}

.our_values{
    background: #f1f1f1;
    padding-top: 160px;
    padding-bottom: 100px;
}
.views_head_padding{
    padding-bottom: 80px;
}
.values_icon_padd{
    margin-bottom: 70px;
}
.values_desc{
    margin-top: 15px;
}
.values_desc h2{
    display: inline;
}
.values_icon img {
    transition: all ease 1s;
}
.values_icon:hover img {
    transform: scale(1.1);
}
.values_desc p{
    display: inline;

}


/*about nave css*/
ul.newdesign_border {
    padding-right: 0px;
    text-align: center;
}
ul.newdesign_border li{
    list-style: none;
    display: inline-block;
    margin: 0px 17.2px 10px;
    position: relative;

}
ul.newdesign_border li a{
    font-size: 17px;
    text-align: center;
    color: #00447C;
    padding: 6px 18.7px;
    background-color: #fff;
    display: block;
    border-radius: 0px;
    box-shadow: 0px 2px 4px #d4d4d4;
}
ul.newdesign_border li:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
    background: #c4a34e;
}
ul.newdesign_border li:first-child {
    margin-right: 0px;
}
ul.newdesign_border li:last-child {
    margin-left: 0px;
}
ul.newdesign_border li:last-child:before{
    content: none;
}
ul.newdesign_border li a.active, ul.newdesign_border li a:hover {
    background-color: #00447C;
    color: #c4a34e;
}
.noPointer{
    cursor: unset;
}






/*assets_banner css start*/
.assets_banner {
    background: #f1f1f1;
    padding: 100px 0px;
    margin-top: 60px;
}
.assets_banner .assets_content{
    max-width: 900px;
}
.assets_banner .assets_content p{
    margin-top: 25px;
}
.assets_banner .assets_content h2 span{
    color: #c4a34e;
}
.assets_city_detail{
    display: inline-block;
    margin-bottom: 60px;
    box-shadow: -2px 2px 10px #f1f1f1;
}
.assets_detail {
    padding: 15px 0px;
}
.assets_detail h5 {
    color: #004B8D;
    font-size: 18px;
    letter-spacing: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.assets_custom_nav .btn_new_style .btn{
    padding:6px 33.9px;

}
.assets_custom_nav .newdesign_border{
    padding-bottom: 30px;
    text-align: center;
}
.assets_custom_nav .dropdown-menu{
    padding: 0px!important;
    margin-top: 0px !important;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    border: 0;
    background-color: #fcfaff;
    border-right: 4px solid #c4a34e;
    border-radius: 0;
    box-shadow: none;
    transition: all 200ms linear;
}
/*.assets_custom_nav ul.newdesign_border li a{
    text-align: right;
}*/
.newdesign_border .nav-item:after {
    content: none;
}
.load_more .btn{
    background: #c4a34e;
    color: #fff;
    font-size: 22px;
    outline: none;
    box-shadow: none;
    border-radius: 0px;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 0px;
}
.load_more .btn:hover{
    background: #00447C;
}
.btn_new_style .locationbtn .btn:first-child{
    margin-left: 0px;
    padding: 6px 25px 6px 45px;
    width: 100%;
}
.btn_new_style .locationbtn .btn:before{
    content: none;
}
.btn_new_style .locationbtn .btn:after{
    background: url("../images/dropdowntoggle.png");
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 10px;
}
.locationbtn{
    display: inline-block;
    margin-right: 17.2px;
}
.DropDownShow .locationbtnDropDown{
    display: block !important;
    left: 0px;
    right: auto;
    min-width: 200px;
    width: 100%;
}
.DropDownShow .dropdown-menu a.dropdown-item{
    white-space: unset;
}



/*csr page css*/
.csr_custom_class{
    margin-bottom: 100px;
}
.first_custom{
    margin-top: -50px;
}
.csr_content_box h2{
    font-size: 40px;
}
.csr_content_box {
    margin-top: 50px;
    margin-bottom: 40px;
}
.image_content_box{
    position: relative;
    text-align: center;
    box-shadow: -6px 10px 3px #d8d8d8;
    max-width: 507px;
}
.head_box{
    position: absolute;
    bottom: 0;
    padding: 132px 20px 20px 20px;
    width: 100%;
    right: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8267682072829132) 0%, rgba(0,0,0,0) 100%);
    text-align: center;
}
.mb_50_minus{
    margin-bottom: -80px;
}
.head_box h3{
    color: #fff;
    min-height: auto;
    padding-top: 0;
}
.row_bg{
    background: #f1f1f1;
    padding-top: 80px;
}
.custom_margin{
    margin-top: 90px;
}


/*news page css*/
.banner_commas_design {
    padding-top: 80px;
}
.banner_commas_design p span{
    color: #c4a34e;
    font-size: 30px;
    line-height: normal;
}
.banner_commas_design p{
    font-size: 40px;
    font-weight: 400;
}
.news_sect_container {
    margin-top: -50px;
}
.news_container {
    box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    background: #fff;
    display: block;
    margin-bottom: 60px;
    transition: all ease 1s;
}
.news_container:hover{
    box-shadow: 0px 0px 75px 2px rgba(0, 0, 0, 0.08);
}
.news_content{
    padding: 60px 0px 60px 15px;
}
.news_content h2{
    
}

.news_sect_container .date {
    position: absolute;
    bottom: 15px;
}
.news_sect_container .date p{
    margin-bottom: 0px;
}
.news_sect_container .new_img {
    text-align: center;
}

/*news_detail_sect*/
.news_detail_sect {
    padding: 60px 0px;
}
.news_detail_sect .sector_slider_container{
    margin-top: 0px;
}
.news_detail_sect .sector_text h2{
    font-weight: normal;
}
.news_detail_sect .sector_text .date{
    margin-top: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}
.other_news_head h2{
    
    font-weight: normal;
}
.other_news_detail{
    box-shadow: 1px 3px 10px rgb(0 0 0 / 10%);
    display: block;
    background: #fff;
    position: relative;
    padding-bottom: 45px !important;
    height: 100%;
    transition: all ease 1s;
}
.other_news_detail:hover{
    box-shadow: 0px 0px 75px 2px rgba(0, 0, 0, 0.08);
}
.other_news_detail .date{
    position: absolute;
    right: 15px;
    bottom: 20px;
}
.other_news_detail .date p{
    margin-bottom: 0px;
}
.news_detail_head{
    min-height: 84px;
    padding: 15px 15px;
    margin-bottom: 15px;
}
.news_detail_head h2{
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  
}


.afterborder h2{
    position: relative;
    font-weight: inherit;
    margin-bottom: 35px;
}
.afterborder h2:after{
    position: absolute;
    content: '';
    background: #c4a34e;
    right: 25px;
    bottom: -20px;
    width: 80px;
    height: 8px;
}
.back_button .linkarrow::before{
    content: none;
}
.back_button a{
    color: #c4a34e;
    font-size: 18px;
}
.back_button a:hover{
    color: #00447C;
}
.back_button a i{
    margin-right: 10px;
    transform: rotate(180deg);
    padding-bottom: 3px;
}
.detail_logos .GroupCompany{
    margin-top: -120px;
    cursor: pointer;
}
.detail_logos .detailContent{
    margin-top: 30px;
}

.hover_img{
    display: none;
}
.companyLogoContainer:hover .hover_img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: all .3s ease-out;
}
.companyLogoContainer:hover .default_img{
    display: none;
    transition: all .3s ease-out;
}
.HomeAboutAlMurjan h2{
    transition: all .3s ease-out;
}
.companyLogoContainer:hover .HomeAboutAlMurjan h2{
    color: #c4a34e;
}
.companyLogoContainer:hover .companyLogo img{
    border-color: #c4a34e;
    transition: all .3s ease-out;
}
.companies_logo{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center;
}
.companies_logo img{
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    max-height: 80px;
    max-width: 125px;
    margin: auto;
}
.companies_logo:hover img{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.Achievement .col-6{
    border-left: 1px solid #f2ecde;
}
.Achievement .col-6:last-child, .Achievement .col-6:nth-child(6){
    border-left: none;
}
.assets_city_detail .landmarkBox{
    overflow: hidden;
}
.assets_city_detail .landmarkBox img{
    transition: all 2s ease;
    -o-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease;
}
.assets_city_detail:hover .landmarkBox img{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.mapsvg-wrap{
    direction: ltr !important;
}

.newcontentadd .TextDiscription a{
    color: #c4a34e;
}
.newcontentadd .TextDiscription a:hover{
    color: #00447C;
}