@-webkit-keyframes avia_fade_move_down{
    0%{
        -webkit-transform:translate(0,-20px);
        opacity:0
    }
     50%{
        opacity:1
    }
     100%{
        -webkit-transform:translate(0,20px);
        opacity:0
    }
}
@keyframes avia_fade_move_down{
    0%{
        transform:translate(0,-20px);
        opacity:0
    }
     50%{
        opacity:1
    }
     100%{
        transform:translate(0,20px);
        opacity:0
    }
}