@media screen and (max-width: 1920px) {
    /*#HomePageSlider:after{*/
    /*    top: 745px;*/
    /*}*/
    /*.customSlider{
        max-width: 800px;
    }*/
}

@media screen and (max-width: 1880px) {
    .customSlider{
        max-width: 80%;
    }

}

@media screen and (max-width: 1680px) {
    .carousel-caption {
        top:50%;
    }
    /*#HomePageSlider:after{
       top: 580px;
    }*/
    .customSlider{
        max-width: 80%;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 1480px) {
    .carousel-caption {
        top:48%;
    }
    .Spot5_caption {
        left: 53%;
    }
    .Spot6_caption {
        left: 55.5%;
    }
    .Spot7_caption {
        left: 58%;
    }
    .Spot8_caption {
        left: 65%;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 1440px) {
    #HomePageSlider:after {
        top: 490px;
    }
    .MainTopMenuLinks h5, .MainTopMenuLinks h6{
        font-size: 15px;
    }
    .MainTopMenu ul li{
        margin-left: 45px;
    }
    .customSlider {
        max-width: 70%;
    }
    .header_sociallinks{
        top: 11px;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 1439px) {
    #hold_logo_slider_home .owl-stage {
        right: -300px;
    }
    #Self_Application_image:before {
        width: 450px;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 1366px) {
    .MainTopMenuLinks h5, .MainTopMenuLinks h6{
        font-size: 14px;
    }
    .customSlider {
        max-width: 60%;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 1350px) {
    #My_Achievements_image:before{
        width: 650px;
    }
    .Achievement-Text{
        font-size: 15px;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 1310px) {
    #hold_logo_slider_home .owl-stage {
        right: -275px;
    }
    #Self_Application_image:before {
        width: 400px;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 1298px) {
    .MainTopMenu ul li {
        margin-left: 35px;
    }
    #HomePageSlider:after {
        top: 460px;
        width: 500px;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 1280px) {
    #My_Achievements_image:before{
        width: 600px;
    }
    .counter, .plus{
        font-size: 25px !important;
    }
    .MainTopMenuLinks h5, .MainTopMenuLinks h6{
        font-size: 14px;
    }
    .sectors {
        /*min-height: 120px;*/
        padding-top: 10px;
        /*margin: 20px 30px;*/
    }
    
}
/**********************************************************************************************************/
@media (min-width: 1199px) {
    .BornHS__Wrapper .BornHS__Input + .BornHS__Label {
        height: 52px;
        width: 30px;
        background-size: 94%;
    }

}
/**********************************************************************************************************/
@media screen and (max-width: 1199px){
    #My_Achievements_image:before{
        width: 550px;
    }
    .sectors p{
        font-size: 18px !important;
    }
    .MainTopMenu ul li {
        margin-left: 25px;
    }
    .BornHS__Wrapper .BornHS__Input + .BornHS__Label {
        background: #00447c;
        border-radius: 50%;
        cursor: pointer;
        height: 10px;
        position: absolute;
        transition: all 300ms ease;
        width: 10px;
        z-index: 2;
    }
    .BornHS__Wrapper .BornHS__Input:checked + .BornHS__Label {
        background:#c8a443;
    }
    .BornHS__Wrapper .BornHS__Input:checked + .BornHS__Label:after, .BornHS__Wrapper .BornHS__Input + .BornHS__Label:before, .BornHS__Wrapper .BornHS__Input + .BornHS__Label:after {
        display: none;
    }
    .BornHS__Wrapper .BornHS__Modal__Content {
        bottom: auto !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
    .BornHS__Wrapper .BornHS__Modal__Content .BornHS__Close {
        background: #c8a443;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        height: 20px;
        right: -5px;
        position: absolute;
        top: -5px;
        transition: all 300ms ease;
        transform: rotate(45deg);
        width: 20px;
        z-index: 5;
    }
    .BornHS__Wrapper .BornHS__Modal__Content .BornHS__Close:before, .BornHS__Wrapper .BornHS__Modal__Content .BornHS__Close:after {
        background: #fff;
        content: "";
        cursor: pointer;
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .BornHS__Wrapper .BornHS__Modal__Content .BornHS__Close:before {
        height: 2px;
        width: 40%;
    }
    .BornHS__Wrapper .BornHS__Modal__Content .BornHS__Close:after {
        height: 40%;
        width: 2px;
    }
    #hold_logo_slider_home .owl-stage {
        right: unset !important;
    }
    
    .AboutNav .nav-link {
        padding: 10px 10px !important;
    }
    .nav-tabs .nav-link.active {
        padding: 10px 10px !important;
    }
    .LandMarkDetail p{
        font-size: 15px !important;
    }
    .LandMarkDetail h4{
        padding-top: 5px;
    }
    .NewsEvents p{
        font-size: 14px;
    }
    .NewsEvents h2 {
        font-size: 18px;
        padding-top: 5px;
    }
    #Self_Application_image:before {
        display: none;
    }
    .contantBox h3{
        font-size: 17px;
    }
    .bodMainBox{
        max-width: 150px;
        min-height: 150px;
    }
    .MainTopMenuLinks h5, .MainTopMenuLinks h6{
        font-size: 13px;
    }
    /*.sectors {
        min-height: 110px;
    }*/
    .sliderHeading h2 {
        font-size: 40px;
    }
    .btn_new_style .filter-button:before{
        content: none;
    }
    ul.newdesign_border li:before{
        content: none;
    }
    .mission_desc{
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .header_sociallinks{
        top: 9px;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 1080px) {
    .MainTopMenu ul li {
        margin-left: 25px;
    }
    #HomePageSlider:after {
        top: 400px;
        width: 400px;
    }
}
/**********************************************************************************************************/
@media only screen and (max-width: 991px) {
    #My_Achievements_image:before {
        width: 450px;
    }
    .counter, .plus {
        font-size: 25px !important;
    }
    .sectors p{
        margin-top: 0px;
    }
    .sectors p:before{
        display: none;
    }
    .Achievement-Text {
        margin-top: 20px;
    }
    .Achievement-Text{
        font-size: 14px;
    }
    .MainTopMenuLinks h5, .MainTopMenuLinks h6{
        font-size: 9px;
    }
    .MainTopMenu ul li {
        margin-left: 15px;
    }
    .MainTopMenu ul{
        margin: 0;
    }
    .BannerCaption h2{
        font-size: 62px !important;
    }
    .BannerCaption h3{
        font-size: 35px !important;
    }
    .BannerCaption p{
        font-size: 20px;
        max-width: 400px;
    }
    #HomePageSlider:after {
        top: 200px;
        width: 300px;
    }
    .LatestUpdate h2{
        font-size: 19px;
    }
    .FooterCol{
        padding-top: 40px;
    }
    .AboutNav .nav-link {
        padding: 10px 20px !important;
        font-size: 18px;
    }
    .nav-tabs .nav-link.active {
        padding: 10px 20px !important;
    }
    #DivOne{
        order: 1;
    }
    #DivTwo{
        order: 2;
    }
    .BlockStyling{
        padding-bottom: 10px
    }
    .LandMarkDetail{
        padding-bottom: 60px;
    }
    .LandmarkArrow, .LandmarkArrow1{
        display: none;
    }
    .contact_border_right{
        border-right: none !important;
    }
    /*.google-map{
        padding-top: 50px;
    }*/
    .NewsEvents img{
        margin-bottom: 10px;
    }
    .NewsEvents{
        text-align: center;
    }

    .modal-dialog {
        max-width: 735px;
    }
    .bodModelContent p{
        margin-bottom: 5px;
    }
    .otherSectorDetail .GroupCompany{
        float: none;
    }
    .header_sociallinks{
        top: 4px;
    }
    .Al_Murjan_Clients_Logos{
        width: 100%;
    }
    .logoimages{
        overflow-x: scroll;
    }
    .MyImage{
        width: unset;
    }
    .bodCustomClass ul li{
        width: 24%;
        margin: 0px 2px 30px;
    }
    .fourInRow li{
        width: 24% !important;
    }
    .homeSlider{
        margin-left: 0px;
    }
    .sliderHeading h2 {
        font-size: 40px;
    }
    .sliderBox{
        height: auto;
    }
    .customSlider {
        max-width: 70%;
        margin: auto;
        margin-top: 20px;
    }
    .sliderBox .skip_to_section{
        display: none !important;
    }
    .section2bg{
        padding-top: 80px;
    }

    .sector_desc{
        padding: 0px 0px 60px;
    }

    .new_heading_style h2{
        font-size: 30px;
    }
    .custompadding_newstyle{
        padding-bottom: 100px;
    }
    .desc_image {
        margin-top: -60px;
    }
    .views_head_padding{
        padding-bottom: 40px;
    }
    .overview_desc{
        padding-bottom: 60px;
    }
    .new_logo_section {
        padding: 60px 0px;
    }
    .our_values{
        padding-bottom: 60px;
    }
    .values_icon_padd {
        margin-bottom: 30px;
    }
    .mb_50_minus {
        margin-bottom: 0px;
    }
    .news_container .BlockStyling{
        padding-bottom: 0px;
    }
    .Achievement .col-6:nth-child(3), .Achievement .col-6:nth-child(9){
        border-right: none;
    }
    .borderBottom h2:before{
        height: 5px;
        bottom: -5px;
    }
    .mapsvg-marker{
        width: 6px !important;
        height: 6px !important;
    }
    .sectors p{
        font-size: 25px !important;
    }
}
/**********************************************************************************************************/
@media only screen and (max-width: 890px) {
    #My_Achievements_image:before {
        width: 400px;
    }
}

/**********************************************************************************************************/
@media only screen and (max-width: 850px) {

    .BannerCaption h2{
        font-size: 55px !important;
    }
    .BannerCaption h3{
        font-size: 30px !important;
    }
    .BannerCaption p{
        font-size: 16px;
        max-width: 400px;
    }
}

/**********************************************************************************************************/
@media screen and (max-width: 812px) {
    body.mapsvg-fullscreen-popovers .mapsvg-popover{
        transform: translate(50%, -50%) !important;
        min-height: 13%;
        max-width: 230px !important;
        max-height: 50% !important;
        width: 100% !important;
        top: 50% !important;
        right: 50% !important;
    }
}
/**********************************************************************************************************/
@media only screen and (max-width: 800px){
    #My_Achievements_image:before {
        width: 370px;
    }
    .Achievement-Text {
        font-size: 13px;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 767px) {
    .Achievement-Text{
        max-width: 100%;
    }
    .Menu-d-none, #My_Achievements_image:before{
        display: none !important;
    }
    .AlmurjanLogo{
        text-align: right;
    }
    .MainTopMenu{
        text-align: left;
    }
    .BannerCaption h2{
        font-size: 45px !important;
    }
    .BannerCaption h3{
        font-size: 25px !important;
    }
    .BannerCaption p{
        font-size: 15px;
        max-width: 300px;
    }
    .BannerCaption h4{
        font-size: 15px;
        padding-bottom: 0;
    }
    .BannerCaption img{
        width: 10px;
    }
    #HomePageSlider:after {
        display: none;
    }
    .SectionPaddingTop{
        padding-top: 50px;
    }
    .socialLinks{
        text-align: left;
    }
   
    .AboutNav .nav-link {
        padding: 10px 6px !important;
        font-size: 16px;
    }
    .nav-tabs .nav-link.active {
        padding: 10px 6px !important;
    }
    .GrayBorder {
        height: 265px !important;
    }
    ul.FooterLastNav{
        text-align: center !important;
    }
    .SmallText{
        padding-right: 0 !important;
        padding-top: 20px;
    }

    .modal-dialog {
        max-width: 555px;
    }
    .modal.show .modal-dialog{
        top: inherit;
        -webkit-transform: inherit;
        transform: inherit;
    }
    .modal-content h2{
        font-size: 22px;
    }
    .modal-content h6{
        padding-bottom: 10px;
        font-size: 16px;
    }
    .moderDiscription{
        margin-top: 10px;
    }
    .landmarkBox img{
        width: 100%;
    }
    .landmarkContainer .modal-body{
        padding-left: 0px;
    }
    .landmarkContainer .modal-content img{
        margin-bottom: 20px;
        max-width: 400px;
    }
    .missionBox, .missionBox h2{
        margin-bottom: 40px;
    }
    .bodCustomClass ul li{
        width: 32%;
    }
    .fourInRow li{
        width: 32% !important;
    }
    /*.section2bg{
        padding-top: 200px;
    }*/
    .companyLogoContainer{
        margin-bottom: 60px;
    }
    .companyLogo img{
        margin-bottom: 20px;
    }
    .customSlider{
        max-width: 80%;
    }
    .custompadding{
        padding-top: 70px;
    }
    ul.newdesign_border li{
        display: block;
    }
    ul.newdesign_border li:first-child{
        margin-right: 17px;
    }
    ul.newdesign_border li:last-child{
        margin-left: 17px;
    }
    .sector_slider {
        padding-top: 180px;
    }
    .sector_slider_container {
        margin-top: 60px;
    }
    .assets_custom_nav .btn_new_style .filter-button{
        width: 100%;
    }
    .assets_custom_nav .btn_new_style .filter-button{
        margin-left: 0;
        margin-right: 0;
    }
    .btn_new_style .locationbtn .filter-button:first-child {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .locationbtn{
        width: 100%;
        margin-right: 0px;
    }
    .csr_content_box h2 {
        font-size: 25px;
    }
    .head_box h3{
        font-size: 16px;
    }
    .assets_banner{
        padding: 60px 0;
        margin-top: 0px;
    }
    .row_bg{
        padding-top: 60px;
    }
    .csr_custom_class {
        margin-bottom: 40px;
    }
    .custom_margin {
        margin-top: 60px;
    }
    .news_content{
        padding-right: 15px;
    }
    .news_sect_container .date{
        right: 15px;
    }
    .news_sect_container .date p{
        margin-right: 15px;
    }
    .news_detail_sect .sector_text{
        padding-top: 0px;
    }
    
    .banner_commas_design p {
        font-size: 24px;
    }
    .detail_logos .GroupCompany{
        margin-top: 20px;
    }
    .EN_ARB {
        padding-left: 0;
    }
    .header_sociallinks{
        top: 5px;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 680px) {

    .BannerCaption h2{
        font-size: 39px !important;
    }
    .BannerCaption h3{
        font-size: 22px !important;
    }
    .BannerCaption p{
        font-size: 12px;
        max-width: 300px;
    }
    .BannerCaption h4{
        font-size: 16px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .BannerCaption img{
        width: 10px;
    }
}
/**********************************************************************************************************/
@media screen and (max-width: 600px) {

}
/**********************************************************************************************************/
@media screen and (max-width: 575px) {

    .BannerCaption h2{
        font-size: 35px !important;
    }
    .BannerCaption h3{
        font-size: 20px !important;
    }
    .BannerCaption p{
        font-size: 12px;
        max-width: 300px;
    }
    .BannerCaption h4{
        font-size: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .BannerCaption img{
        width: 8px;
    }
    .HomeAboutAlMurjan h2{
        font-size: 20px;
    }
    .EN_ARB {
        padding-left: 0;
    }
    .AboutNav .nav-link {
        padding: 10px 6px !important;
        font-size: 14px;
    }
    .nav-tabs .nav-link.active {
        padding: 10px 6px !important;
    }
    .SiteHeadings h2, .SectorDetailPage h2, .Careers_Content h2{
        font-size: 35px;
    }
    ol.breadcrumb li:last-child{
        display: none !important;
    }

    .modal-content img{
        max-width: 200px;
        margin-bottom: 20px;
    }
    .modal-body{
        padding-left: 0px;
        padding-bottom: 15px;
    }
    .otherSectorDetail .GroupCompany{
        float: none;
    }
    .profileContainerBg{
        padding: 20px;
    }
    .profileContentBg{
        padding: 20px;
    }
    .contantBox h3{
        min-height: inherit;
    }
    .contantBox p{
        min-height: inherit;
    }
    .AlmurjanLogo img {
        max-width: 70px;
    }
    .bodCustomClass ul li {
        width: 49%;
    }
    .fourInRow li{
        width: 49% !important;
    }
    #HomePageSlider, .SpecialClass{
        padding-top: 130px;
    }

    .sector_slider {
        padding-top: 122px;
    }
    .Achievement .col-6{
        border-right: 1px solid #f2ecde !important;
    }
    .sectors {
        height: 100px;
        width: 130px;
    }
    .counter, .plus {
        font-size: 20px !important;
    }
    .sectors p {
        font-size: 16px !important;
    }

}
/**********************************************************************************************************/
@media screen and (max-width: 480px) {

    .BannerCaption h2{
        font-size: 25px !important;
    }
    .BannerCaption h3{
        font-size: 15px !important;
    }
    .BannerCaption p{
        font-size: 9px;
        max-width: 300px;
    }
    .BannerCaption h4{
        font-size: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .BannerCaption img{
        width: 8px;
    }
    ul.AboutNav{
        display: block !important;
        border-bottom: none !important;
    }
    ul.AboutNav li{
        border-bottom: 1px solid #cdad56 !important;
    }
    .otherSectorDetail .GroupCompany{
        width: 100%;
        margin-right: 0px;
        max-width: 100%;
    }
    .bodCustomClass ul li {
        width: 100%;
    }
    .fourInRow li{
        width: 100% !important;
    }
    /*.sectors{
        margin: 20px 10px;
    }*/
    /*.sectors p {
        font-size: 16px !important;
    }*/
}

/**********************************************************************************************************/
@media screen and (max-width: 380px) {

    .myaccordion {
        margin: 30px auto !important;
    }
    .LandMarkDetail h2 {
        font-size: 16px;
    }
    .LandMarkDetail h2 img {
        padding-right: 10px;
    }
    /*.sectors{
        margin: 20px 0px;
    }*/
}
/**********************************************************************************************************/
@media screen and (max-width: 320px) {

}
/**********************************************************************************************************/
@media screen and (max-height: 450px){
    .sidenav {
        padding-top: 35px !important;
    }
}

/**********************************************************************************************************/
@media screen and (max-height: 850px){
    /*.carousel-item{
        height: 65vh;
    }*/
    .sliderBox .skip_to_section{
        margin-top: 5px;
    }
    .section2bg{
        margin-top: -120px;
        padding-top: 170px;
    }
}/**********************************************************************************************************/
@media screen and (max-height: 700px){
    /*.carousel-item{
        height: 60vh;
    }*/
    .sliderBox .skip_to_section{
        margin-top: 5px;
    }
    .section2bg{
        margin-top: -100px;
        padding-top: 170px;
    }
}