
@font-face {
  font-family: 'GESSTwoLight-Light';
  src: url('../fonts/GESSTwoLight-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GESSTwoLight-Light.otf')  format('opentype'),
	    url('../fonts/GESSTwoLight-Light.woff') format('woff'), 
		url('../fonts/GESSTwoLight-Light.ttf')  format('truetype'), 
		url('../fonts/GESSTwoLight-Light.svg#GESSTwoLight-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
